[2021-05-06 01:58] hsluoyz commented on #129
@dweep612 plz ask @nodece

[2021-05-06 10:57] dweep612 commented on #129
@nodece can you please guide me how can I go ahead in this?

[2021-05-06 11:20] hsluoyz opened #270 "Extract out casbin.core.js, use it to generate wrappers like Node-Casbin, casbin.js, casbin-rn"
The new Node-Casbin should have exactly 100% compatible API of the old code as now, except it's built on top of casbin.core.js: https://github.com/casbin/casbin.core.js

Here's the plan:

1. A new project: https://github.com/casbin/casbin.core.js will be started. It will inherit all git histories of the old node-casbin, but with all file-related code removed by a commit, maybe a simple file-adapte

[2021-05-06 11:21] hsluoyz commented on #257
@harveyappleton we have a solution, see: https://github.com/casbin/node-casbin/issues/270

[2021-05-06 12:24] Zxilly commented on #270
I'll prefer `node-casbin-core`. `xxx.js` looks like a frontend framework.
`node-casbin` and `casbin.js` will both depend on it. It inherit all git histories of the old node-casbin.

The rest is no problem.

[2021-05-06 12:26] hsluoyz commented on #270
@Zxilly Node uses JS, but JS is not Node only. So I don't think it's good to call `node-casbin-core`, as it's not for Node only. Actually it doesn't contain any Node-specific code.

[2021-05-06 14:47] nodece commented on #129
@dweep612 you can make a meteor-authz plugins, please refer the plugins from https://github.com/search?q=org%3Anode-casbin+authz.

[2021-05-07 06:14] nodece commented on #270
@hsluoyz I still feel this idea is complicated, we need to manager the `casbin-core.js`, `casbin-rn`, `casbin.js` and so on project. If we use memory adapter/model instead of file adapter/model, `node-casbin` can be used in any platform of javascript. Although we have brought breaking changes, but I think this is still the best way.  We can continue to maintain `v5` of node-casbin, and  release a

[2021-05-07 07:23] #261 closed

[2021-05-07 07:23] #269 closed

[2021-05-07 07:28] hsluoyz commented on #270
@nodece Node-Casbin is named for supporting all Node.js user cases. It doesn't make sense if it doesn't contain file operators. Because file is critical for Node.js

[2021-05-07 07:54] nodece commented on #270
@hsluoyz The name of the repository is not important, we released `casbin` package in NPM, this name does not seem to limit the environment.

[2021-05-07 08:18] hsluoyz commented on #270
@nodece I'm OK with putting all code inside one repo if we can:

1. Pack minimized required source code files into the package for an environment.
2. Node-Casbin public API is not changed.

For example, the single repo contains three parts: A, B and C.

1. A is the core code without file operations and can be built into casbin.js
2. A + B can be built into Node-Casbin, B will provide the public AP

[2021-05-08 00:55] Zxilly commented on #270
@Sefriol casbin.js will be named after `@casbin/browser`, it will also provide some browser only API.
If we have completed `@casbin/core`, `casbin` in npm will be a virtual package pointed to `@casbin/node`.

[2021-05-08 04:05] nodece commented on #270
hi @hsluoyz, @Sefriol is the same idea as ours.

In NPM:
`
casbin --> @casbin/core
casbin --> @casbin/file-adapter
casbin.js --> continue to maintain
`

[2021-05-08 07:10] hsluoyz commented on #270
@nodece any form of breaking change for Node-Casbin is NOT OK.

[2021-05-08 08:37] harveyappleton commented on #270
@Sefriol is on the money I think.

Make the core package work on ANY Js environment: node, browser, react native - whatever.

Then install environment specific adapters if you need them, eg file adapters for node.

For the use cases I want to use Casbin for, I do not need file adapters at all, as models and policies will be loaded dynamically from either API or database. And I don't think that's p

[2021-05-08 09:18] Sefriol commented on #270
Less maintenance as well. That's why I wanted casbin.js to be fully deprecated. Name is already confusing and I would assume that node-casbin uses casbin.js in the background if I didn't know anything about the project.

I see no problem in making breaking changes to casbin if deprecation warnings are put in place asap and users are given enough time to adjust (i.e. almost an year).

We can have n

[2021-05-08 09:47] hsluoyz commented on #270
@Sefriol No breaking changes for Node-Casbin NPM package. This is mandatory. If you view GitHub stars, we can easily know that Node-Casbin doesn't rank first among all Node or JS authorization libraries. We cannot afford breaking changes now to diverge our users.

[2021-05-08 11:04] hsluoyz commented on #254
@Zxilly

[2021-05-13 03:09] Anthony-Michel commented on #254
Ok so as we validated current way casbinJS for Front end won't match our use case, we wanted to implement our own flow using `getImplicitPermissionsForUser` and i had to re-implement the function to match our use case.
Seems to work fine for what we are doing, but honestly would rather use Casbin directly, so please do advice if I misunderstood some concepts on how the library is used or if some f

[2021-05-13 03:37] hsluoyz commented on #254
@Zxilly

[2021-05-13 05:27] Zxilly commented on #254
@Anthony-Michel I read your code. Yes, `use Casbin directly` is a good idea for now.
We are working on a big reafactor of node-casbin to make it a platform-unrelated project. Plz ref to discussion at https://github.com/casbin/node-casbin/issues/270.
After that, we will remake casbin-browser (aka `casbin.js`).

For your needs, could it dynamic generate policies, and use node-casbin directly in the

[2021-05-13 07:40] Anthony-Michel commented on #254
I would love to use casbin directly, but i can't, as said initially, with my model and policies as shown above, function `getImplicitPermissionsForUser ` does not return anything.
So i can enforce rules fine, but i cannot send the computed permissions lists to my Backend and front end services.

`For your needs, could it dynamic generate policies, and use node-casbin directly in the frontend to ju

[2021-05-13 07:55] Zxilly commented on #254
Thanks for your feedback. I will resolve the problem of `getImplicitPermissionsForUser`

[2021-05-14 11:49] #256 closed

[2021-05-14 16:41] Zxilly commented on #254
@Anthony-Michel I have submited a patch at https://github.com/casbin/node-casbin/pull/272, plz confirm whether this fix your problem.

[2021-05-14 16:53] Zxilly commented on #255
@EladProject Have you noticed that RoleManager has a API called `addDomainMatchingFunc`?
If this fn is set, it will be called when the doamin be checked.

https://github.com/casbin/node-casbin/blob/a50ad826a15c1d791aaecbf7f922d69a3c3c1655/src/rbac/defaultRoleManager.ts#L172-L180

[2021-05-19 04:29] #254 closed

[2021-05-25 14:17] benmkramer opened #273 "[Question] Is it possible to do a filtered `deleteRolesForUser`?"
**What's your scenario? What do you want to achieve?**
Clearing out some roles for a user and applying new ones.

**Your policy:**

[code]

What I want to do is clear out the `g, user_1, *` lines. Currently what I'm doing is something like the following...

[code]

What I'm not clear on is how I can avoid iterating over each role and deleting it. Is there an equivalent batch call, like `deleteRole

[2021-05-25 15:48] hsluoyz commented on #273
@Zxilly

[2021-05-25 15:49] Zxilly commented on #273
I will later add this.

[2021-05-27 08:28] chunfat-setsail opened #274 "[Question] Are there an existing Mongodb watcher?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
I am developing a stateless application using Nodejs that would probably scale up to multiple instances.

For the policy sync across instances,

[2021-05-27 08:43] hsluoyz commented on #274
Moved to: https://github.com/node-casbin/mongodb-watcher/issues/1

[2021-05-27 08:43] #274 closed

[2021-05-29 04:47] hsluoyz commented on #166
@Zxilly

[2021-05-30 02:58] hsluoyz opened #275 "Make a middleware for Husura GraphQL"
See: https://hasura.io/

![image](https://user-images.githubusercontent.com/3787410/120090529-f1421780-c135-11eb-80e9-9c83ee75c691.png)

We could make a middleware like this: https://github.com/hasura/graphql-engine/blob/71ae144aa623c156064ffe21eb38020ccf315a7a/community/sample-apps/vuejs-auth0-graphql/app/src/auth/authService.js

[2021-05-31 12:27] Murthybhat opened #277 "enforcer.addGroupingPolicy"
I am trying to do a basic authorization by adding a policy and a grouping policy. However the api to addGroupingPolicy does not seem to work for me. Can someone help if there is an issue or am I doing something wrong.

**casbin version : 5.7.1**

[code]

[2021-05-31 16:48] hsluoyz commented on #277
@Zxilly

[2021-06-01 18:23] Zxilly commented on #277
working on this

[2021-06-02 05:45] EladProject commented on #255
@Zxilly ,
Thanks, that does work.
I noticed that in the casbin online editor (RBAC with all pattern) it only works after setting this function. Is this the intended behavior?

[2021-06-02 05:49] Zxilly commented on #255
@EladProject `RBAC with all pattern` will load all pattern for `matchingFunc`, but not `domainMatchingFunc`. I will later add an option.

[2021-06-03 08:43] harveyappleton commented on #270
Hey @hsluoyz, just wondering what is best way forward with this then? Perhaps keeping Node-Casbin package as is then, and maybe creating another JS casbin package that is meant to be used on clients eg React Native and React Web frontend? Wonder what your thoughts are on best way forward? :)

[2021-06-03 10:00] murzatayev opened #278 "Support for loadIncrementalFilteredPolicy"
Hey guys,
are there any plans of introducing `loadIncrementalFilteredPolicy` for node-casbin?

Is the difference with `loadFilteredPolicy` in just clearing existing policies before adding?

[2021-06-03 14:22] Zxilly commented on #270
@harveyappleton As for now, we chose to make a cross-platform core library, and then applied other API to it to create browser or node version.

[2021-06-03 14:59] hsluoyz commented on #278
Yes, see: https://casbin.org/docs/en/policy-subset-loading

@Zxilly plz support it

[2021-06-08 17:22] Tapas059 opened #281 "[Question] Enforce() returns false but expected true for ABAC & in operator"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
 I am trying to check below policy on editor , But in both cases i am getting false.

**Your model:**

[code]

**Your policy:**

[code]

**Your

[2021-06-09 04:31] Zxilly commented on #277
@Murthybhat You should not use `./examples/basic_model.conf`. Since it didn't include a so-called `g section`, which will make RBAC works.
You should use `rbac_model.conf` , which include
[code]

[2021-06-09 12:58] hsluoyz commented on #281
@Zxilly

[2021-06-10 05:32] hsluoyz commented on #277
Closed as resolved.

[2021-06-10 05:32] #277 closed

[2021-06-10 06:05] Tapas059 commented on #281
Hi @Zxilly , Any update on above ? I am trying to find alternate solution as well .

[2021-06-10 10:19] ankitaShrma opened #282 "Add enforceEx(), is it possible to get which parameter was matched in enforcer.enforce()?"
I have a policy:
[code]
roles are added:
[code]
where domain = id

I am using node-casbin for authorization using policies like above. The result from **enforcer.enforce()** works well to check if the api is authorized or not.
My issue is then to get all the permissions for given user in the given domain based on the allowed enforcer matcher.
For eg: `r = user:abc, /data/123, put`
[code]
matcher w

[2021-06-10 10:29] MRGUOKING commented on #281
I have saw the saw the source code and ask the person who charge the Node-Casbin. So for ,the node-casbin doesn't support to use "in" in the matchers. but you can write like below to solve this problem.
[code]

[2021-06-10 10:32] Tapas059 commented on #281
Ohh Fine @MRGUOKING and @hsluoyz Thank you .

[2021-06-10 11:43] hsluoyz commented on #282
@ankitaShrma see: https://casbin.org/docs/en/data-permissions

[2021-06-10 12:39] hsluoyz commented on #281
Raised an issue here: https://github.com/donmccurdy/expression-eval/issues/58

[2021-06-10 13:02] ankitaShrma commented on #282
Rather than getting all permissions, I actually needed to know the exact policy that returned true from the matcher in enforcer.
The thing is I do not know the `domain` for the given user to get the permissions from implicit functions.
So like in above example:
[code]
The above gives true because my matcher checks from:
[code]
using custom `keyGet2Custom` function (since it is not in node version)

[2021-06-12 05:58] nodece commented on #282
@ankitaShrma thanks for your question.

We should add `enforceEx()` to this project,  this method returns which policy is in effect, like: https://github.com/casbin/casbin/blob/master/enforcer.go#L655

Is that the answer you want?

[2021-06-12 06:25] anik31 commented on #129
@nodece @hsluoyz I am working on the meteor-authz plugin but the repo cannot be forked or cloned - https://github.com/node-casbin/meteor-authz.

[2021-06-12 12:04] MRGUOKING commented on #273
@benmkramer you can use the API "RemoveFilteredGroupingPolicy()".  the param is your roles filter  .[RemoveFilteredGroupingPolicy()](https://casbin.org/docs/zh-CN/management-api#removefilteredgroupingpolicy)
![image](https://user-images.githubusercontent.com/55344330/121775316-68a58b80-cbb9-11eb-99f5-877944faad32.png)

[2021-06-12 12:07] hsluoyz commented on #129
@anik31 try this: https://github.com/node-casbin/meteor-authz

[2021-06-12 12:28] Zxilly commented on #273
@MRGUOKING In fact, he wants to use match function in the `RemoveFilteredGroupingPolicy`.
To implement this, we must introduce a series of new API. I'm still finding any other way to implement this.

[2021-06-12 12:38] anik31 commented on #129
@hsluoyz Thanks. I Will make a PR to this repo.

[2021-06-12 13:58] #278 closed

[2021-06-13 01:20] hsluoyz commented on #281
The expression-eval author has replied: https://github.com/donmccurdy/expression-eval/issues/58#issuecomment-860104182

We can add built-in support for "in". Can anyone do this?

[2021-06-13 03:22] Zxilly commented on #281
working On this

[2021-06-14 11:30] ankitaShrma commented on #282
Yes that was what we needed.
Thank you

[2021-06-14 16:56] #281 closed

[2021-06-14 17:00] hsluoyz opened #286 "bug: semantic-released failed"
See: https://github.com/casbin/node-casbin/runs/2822041154?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/121930569-1ad58280-cd75-11eb-8070-4365d9f4d398.png)

[2021-06-14 17:00] hsluoyz commented on #286
@Zxilly

[2021-06-15 02:32] #282 closed

[2021-06-15 02:35] #286 closed

[2021-06-15 05:13] MRGUOKING commented on #275
Is this issue related to casdoor?

[2021-06-15 07:32] ccatterina commented on #168
I think the same way as @vinverdy. +1 for an option to skip policy load on enforcer creation.

[2021-06-15 12:14] hsluoyz commented on #286
@Zxilly don't use your own account to release:

![image](https://user-images.githubusercontent.com/3787410/122050624-38a6f400-ce16-11eb-829a-e8a9788be5e3.png)

[2021-06-15 12:18] Zxilly commented on #286
@hsluoyz semantic-release create the tag on the master branch and failed to make a new release. So this commit won't trigger a release process again. I have to manually release it.

[2021-06-15 12:18] Zxilly commented on #286
@hsluoyz semantic-release create the tag on the master branch and failed to make a new release. So this commit won't trigger a release process again. I have to manually release it.

[2021-06-15 12:20] hsluoyz commented on #286
OK.

[2021-06-15 12:25] hsluoyz commented on #275
@MRGUOKING No.

[2021-06-15 12:28] hsluoyz commented on #168
@ccatterina why do you want to skip policy load?

[2021-06-16 08:07] ccatterina commented on #168
Hi @hsluoyz , mainly because I want to load only a subset of the policy with `loadFilteredPolicy` and I don't like the idea of waste time/resources loading the entire policy uselessly.

Note: I'm planning to use casbin with AWS serverless lambda so I need to reload the policy in every call and I wanna load only a subset of the policy to reduce memory usage and time spent.

[2021-06-16 12:54] hsluoyz commented on #168
@vinverdy we can add the optional 3rd arg `bool lazyLoad = false` to:

https://github.com/casbin/node-casbin/blob/1a6cf5e8f6e620d13bfb211362100c79db5e0dfc/src/enforcer.ts#L57-L73

Default value would be false, but you can set it to true. Does this sound OK?

[2021-06-16 13:10] ccatterina commented on #168
It's ok for me! Thanks

[2021-06-16 13:14] hsluoyz commented on #168
@Zxilly @Gabriel-403 @MRGUOKING

[2021-06-18 06:39] #168 closed

[2021-06-25 10:16] FabianSellmann opened #292 "enforceSync ignores subject, always returns true if policy exists for object and method."
See codesandbox for a simple reproduction:
https://codesandbox.io/s/xenodochial-kapitsa-xhszj

Basically `enforcer.enforceSync` seems to return always true in the example above, no matter what the subject is.

[2021-07-02 05:08] elvuel opened #295 "readFileSync import in config.ts"
Trying casbin.js with svelte(rollup), got `Error: 'readFileSync' is not exported ...`
`fs` import should be the same way as utils/utils.ts(`import * as fs from 'fs';`)

[2021-07-03 12:18] Zxilly commented on #273
Close for stale

[2021-07-03 12:18] #273 closed

[2021-07-03 13:09] nodece commented on #295
@elvuel could you provide a demo for this issue?

[2021-07-03 14:41] nodece commented on #292
@FabianSellmann thanks for your report! `Sync` means that there is no asynchronous function in the matcher, your model includes the asynchronous function - `g()`, so `enforceSync` cannot  be used in this model.

`enforceSync` comment: https://github.com/casbin/node-casbin/blob/master/src/coreEnforcer.ts#L531

[2021-07-04 01:32] hsluoyz commented on #292
@nodece is it possible to support a sync version of `g()`?

Also add @Zxilly @Gabriel-403

[2021-07-04 04:23] Zxilly commented on #292
@hsluoyz g function relies on `hasLink` of RoleManager, which is an async function.
To implement this, we must create a synced version role manager.

[2021-07-05 17:18] nodece commented on #292
@FabianSellmann Sorry, it's my fault. Casbin doesn't  support the sync API,  but it added to our plan. I think that `enforcer.enforce` should be able to meet your requirements.

[2021-07-08 07:37] elvuel commented on #295
@nodece put initial recap to `https://github.com/elvuel/sevlte-casbin-spike`.

![image](https://user-images.githubusercontent.com/161844/124878814-19f3e180-dfff-11eb-9d82-fb40877f16b3.png)

took some partial refs like from [rollup#897](https://github.com/rollup/rollup/issues/897) [rollup#3230](https://github.com/rollup/rollup/issues/3230) etc,with no luck.(could be my bad, not familiar with node/j

[2021-07-09 08:14] hsluoyz commented on #295
@Gabriel-403 @Zxilly

[2021-07-09 08:21] Gabriel-403 commented on #295
I'll fix it as soon as possible, please give me some time

[2021-07-09 10:30] Zxilly commented on #295
@Gabriel-403 I already created a correspond PR at https://github.com/casbin/node-casbin/pull/296, we just need more discussion.

[2021-07-10 17:41] nodece commented on #295
Hello @elvuel, I tried to create a sevlte project with codesandbox: https://codesandbox.io/s/sweet-worker-jbu71?file=/Button.svelte

I think it's a rollup problem, so I close this issue, I'm sure webpack is working. If you are interested, you can try it.

[2021-07-10 17:41] #295 closed

[2021-07-14 15:15] Zxilly commented on #255
resolved by https://github.com/casbin/casbin-editor/pull/43

[2021-07-14 15:15] #255 closed

[2021-07-18 17:42] fahussain opened #298 "matchingForGFunction in nodejs"
First of all it's a wonderful library and thank you so much for sharing it with us.

I am trying to implement RBAC with domains and 'all' patterns matching using nodejs but I have not been able to figure out how to tell casbin to use which function for g matching. In the online editor I see that I need to specify:

[code]
but I don't know how and where I need to pass this config. Any help would be

[2021-07-19 00:28] hsluoyz commented on #298
@Zxilly @Gabriel-403 plz add the Node.js code example to: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

[2021-07-20 05:13] tronghm88 opened #300 "How to implement multi thread."
Hi there.
I'm new with Casbin.
I'm have a Nest.js project and applying Casbin RBAC for my permission management system.
But I am researching for implement multi thread of Casbin.
But I don't understand how i can do it? How my nestjs will connect casbin when it has multi thread.
As document, I only know install casbin nodejs package and use single casbin instance inside my code.

Do you have any sa

[2021-07-20 09:08] hsluoyz commented on #300
@Zxilly @Gabriel-403

[2021-07-20 16:16] nodece commented on #300
Use a single casbin instance is enough, so like:

[code]

[code]

[2021-07-21 03:28] Gabriel-403 commented on #300
You can use singleton mode to solve this problem. Of course, if you have to use multithreading, you can use Web woker.

[2021-07-22 01:47] hsluoyz commented on #300
Closed as resolved.

[2021-07-22 01:47] #300 closed

[2021-07-22 04:15] hsluoyz opened #301 "Add keyGet() and keyGet2() to Node-Casbin"
This is the requirement from: https://github.com/casbin/casbin-editor/issues/47

Refer to Go: https://github.com/casbin/casbin/pull/675

[2021-07-22 04:16] hsluoyz commented on #301
@Zxilly @Gabriel-403

[2021-07-22 05:35] Zxilly commented on #301
working on this

[2021-07-23 15:16] #301 closed

[2021-07-28 16:22] ShawnPavel opened #304 "[RBAC w/ Domain] Checking for an object/action permission in any domain."
I'm attempting to figure out how to discover if a user has the ability to perform a specific action on an object in any of my domains. Here's basically what I'm working with:

# config
[code]
# policies
[code]

I want to check if Alice has the write action on data1 for _any_ domain. What is the best way to do this?

I can do an `enforce` and supply a domain to check if the user has data1 write acc

[2021-07-29 01:51] hsluoyz commented on #304
@nodece @Zxilly @Gabriel-403

[2021-07-29 06:43] Zxilly commented on #304
@hsluoyz Did this util exist in casbin-golang? I winder what should I named it.

[2021-07-29 18:21] ShawnPavel commented on #304
@Zxilly I didn't see any util in the casbin-golang that met this criteria.

[2021-07-31 04:35] Zxilly commented on #304
Maybe we can add a series of util function, like `getImplicitCrossDomainPermissionsForUser()`, to achieve this. I didn't find a good solution to implement this in `enforce()`.

[2021-07-31 04:38] Zxilly commented on #304
@ShawnPavel And another option is `(g(r.sub, p.sub, r.dom) || r.sub == admin)`, for this can have a better performance.

[2021-08-02 14:43] ShawnPavel commented on #304
@Zxilly I'm not sure how that would help in this use case. They users aren't admins that I'm checking.

[2021-08-02 14:44] ShawnPavel commented on #304
How would this work?

[2021-08-03 15:07] lantu-group opened #306 "Error: Unclosed ( at character 72"
I test by [rbac_model_matcher_using_in_op.conf](https://github.com/casbin/casbin/blob/277c1a2b85698272f764d71a94d2595a8d425915/examples/rbac_model_matcher_using_in_op.conf),  and got a grammar error: Unclosed ( at character 72

Env: node-casbin: "^5.11.1",

[2021-08-04 05:57] hsluoyz commented on #306
@Zxilly @Gabriel-403

[2021-08-04 06:04] Zxilly commented on #306
Failed to reproduce with casbin-editor. Could you please provide more info?

[2021-08-04 12:38] Gabriel-403 commented on #306
Please clarify the error message so that we can solve it quickly

[2021-08-04 15:43] lantu-group commented on #306
@Gabriel-403 @Zxilly  You can test this issue at https://casbin.org/casbin-editor/#5QC4SUHRP
![image](https://user-images.githubusercontent.com/74803333/128211337-94cc540d-0975-4dd8-8a82-0d65d1e9f4ff.png)

[The blog is resolve my issue.  ](https://issuehunt.io/r/casbin/casbin/issues/843) .
By the way, this is a normal case, cloud you improve your docs and test case?

[2021-08-04 15:55] lantu-group commented on #306
Are you chinese?

[2021-08-04 23:58] hsluoyz commented on #306
@nodece

[2021-08-05 11:32] hsluoyz commented on #306
@Zxilly

[2021-08-07 02:01] lantu-group opened #308 "`&&` Error"
I used multi `in` and `&&` syntax as matchers，if conditions is `true && true`, got result is false, but i expect result is true, this is a bug?

**The below is my test codes**

[code]

[2021-08-07 02:27] lantu-group opened #309 "TypeError: b.includes is not a function"
At same env, use `m = r.act == 'In' && r.sub in "('root', 'guest')"` matchers is ok, but is i adjust conditions location: `r.sub in "('root', 'guest')"` as first location, eg: `m =  r.sub in "('root', 'guest')" && r.act == 'In'`, and then got error: `TypeError: b.includes is not a function`

The below is my test codes

[code]

[2021-08-07 14:30] hsluoyz commented on #308
@Zxilly @Gabriel-403

[2021-08-07 14:30] hsluoyz commented on #309
@Zxilly @Gabriel-403

[2021-08-07 18:07] Gabriel-403 commented on #309
Looking for problems

[2021-08-07 18:17] Zxilly commented on #309
@Gabriel-403 () in js didn't create an array. And includes function didn't exist. That's the problem.

[2021-08-08 08:37] lantu-group commented on #309
So ~ Are you ready this project for production ?

[2021-08-08 09:01] Zxilly commented on #309
@lantu-group This library is production-ready. But there are some missing documents.
In this issue, you should use in on a js array. like `['root', 'guest']`

[2021-08-08 09:10] Gabriel-403 commented on #309
@lantu-group We will try our best to solve this problem, but it will take some time

[2021-08-08 10:10] lantu-group commented on #309
OK~ Just do it.

[2021-08-11 08:57] Zxilly commented on #308
@lantu-group `matchers` should be `m = r.act in ['In', 'Out'] && r.sub in ['root', 'guest']`

[2021-08-12 13:12] yamilfrich opened #311 "Multiple policies config?"
Hi, I'm new with Casbin and I'm trying to configure it with multiple policies like:

- Feature policy (for each subscription plan, it will contain or not certain features):
  For example, for the subscription plan "professional" it will have the feature "insights"
  My policy config for this would be probably just:
  `p = sub, obj `

- Roles policy (basic ACL, like: admin, users, write):
  My poli

[2021-08-12 13:43] hsluoyz commented on #311
@Zxilly @Gabriel-403 @closetool @tangyang9464

[2021-08-12 13:45] lantu-group commented on #308
Ref discussion: https://github.com/casbin/casbin/issues/863

[2021-08-12 13:55] tangyang9464 commented on #311
It seems that node-casbin does not support this feature now.

[2021-08-12 14:04] Gabriel-403 commented on #311
I think so,and this seems that I wrote this part

[2021-08-12 14:10] yamilfrich commented on #311
Not sure, I couldn't make it work anyway, so I couldn't validate if I need to reference to r2, p2, etc.

So, how would you solve this? Different configs + Different Enforcers?

If so, can they still share the same adapter + db_table?

[2021-08-13 01:48] yamilfrich commented on #311
Ok thank you 😄 , but I have node, so I need to find a way to make this work with node. Should it be with multiple configs and multiple enforcers? Can they share the same db_table?

[2021-08-13 02:09] tangyang9464 commented on #311
node-casbin is implementing this feature. It should be consistent with go-casbin

[2021-08-13 02:52] Gabriel-403 commented on #311
ok！

[2021-08-13 10:41] #309 closed

[2021-08-13 14:13] ankitaShrma opened #314 "Model loadPolicy issue when initializing casbin multiple times asyncronously"
My config:

[code]

casbin code:
[code]
This above code is used during casbin initialization called in each api every time.
(The reason is because each api call has its own filter {} so have to initialize every time, but if there is some other way then please do mention)
Whenever I use `initWithAdapter` function, I see that all the db data is loaded even with loadFilteredPolicy(), looked more into

[2021-08-13 15:17] #308 closed

[2021-08-13 15:27] nodece commented on #314
Hi @ankitaShrma, if you want to load multiple filter, you need use the `loadIncrementalFilteredPolicy()` API, each call to `loadFilteredPolicy` will clean up all the policy on model.

[2021-08-14 04:06] ankitaShrma commented on #314
Actually I did check documentation on `loadIncrementalFilteredPolicy`, but that's not what I needed. To confirm, I checked in updated version as well.
As shown in code above in my casbin helper code:
[code]

[2021-08-14 05:13] nodece commented on #314
@ankitaShrma could you provide a repo for this issue, we can help you to confirm your problem.

[2021-08-16 05:49] JoshuaCWebDeveloper opened #315 "[Bug] A matcher with multiple eval() doesn't work"
A matcher with multiple eval() statements only calls the first eval(), caching the results.

This is likely the same issue as https://github.com/casbin/casbin/issues/619, which was fixed in that repo, but apparently not in this one. There are also several people experiencing this issue here: http://disq.us/p/2g9ubnp (although they didn't say which language).

I'm experiencing this issue in node-ca

[2021-08-16 07:51] ankitaShrma commented on #314
https://github.com/ankitaShrma/node-casbin-example
Tested by calling `/user/:userId/domain/:domainId` endpoint multiple times (Promise.all for simplicity is shown in route.test.js)
Tested in collection with data 15-20k where policies = 90-100 datas

[2021-08-16 13:04] hsluoyz commented on #315
@Zxilly @Gabriel-403

[2021-08-16 14:27] nodece commented on #314
@ankitaShrma I took a look at the code, I think the bug is https://github.com/ankitaShrma/node-casbin-example/blob/main/casbinHelper.js#L30, you should return a local variables, so like:
[code]

[2021-08-16 14:57] Zxilly commented on #315
working on this

[2021-08-16 15:34] giovanni-bertoncelli opened #317 "Class extends value undefined is not a constructor or null"
When importing casbin in a typescript project for Angular I get this error:
![image](https://user-images.githubusercontent.com/67106822/129589693-2da69744-93c2-4f40-bb9f-5626f74b4d07.png)

For the `Model` class I've solved by importing like this:

[code]

But for `newEnforcer` there is no way to work around that issue. Am I missing something?

[2021-08-16 15:49] giovanni-bertoncelli commented on #317
Angular version: 11.2.4
Typescript version: 4.1.5

[2021-08-16 16:01] hsluoyz commented on #317
@Zxilly @Gabriel-403

[2021-08-16 16:03] Gabriel-403 commented on #317
ok，i know

[2021-08-16 16:14] Zxilly commented on #317
@giovanni-bertoncelli Could you please a minimal reproduce example? with JSFiddle or something else

[2021-08-16 20:03] giovanni-bertoncelli commented on #317
Sadly I can't reproduce the issue online... this is the maximum I can get: https://codesandbox.io/s/casbin-angular-issue-qjosh?file=/src/typings.d.ts

[2021-08-17 07:23] giovanni-bertoncelli commented on #317
I think I've found where the issue is:
![image](https://user-images.githubusercontent.com/67106822/129681927-f78d9873-9884-4783-9baf-30b2968ed156.png)
The problem occurs when trying to access the "stream" API in csv-parse module. Is there any way to bypass that or avoid to use the csv-parse module?

[2021-08-17 07:31] giovanni-bertoncelli commented on #317
https://github.com/adaltas/node-csv-parse/issues/288

[2021-08-17 07:32] Zxilly commented on #317
We have a platform independent version at https://github.com/casbin/casbin.js/tree/v1, but it is still work in progress and not production ready

[2021-08-17 07:34] Zxilly commented on #317
@giovanni-bertoncelli Do you think this can solve your problem? I an make a patch with this.

[2021-08-17 07:36] #315 closed

[2021-08-17 07:38] giovanni-bertoncelli commented on #317
I see... Unfortunately `casbin.js` does not satisfy my requirements for frontend ACL enforcement since the RBAC model is way more complex than the package can handle. I'm trying to find a way around this in order to use casbin on Angular environment but by enforcing only rules given by the JWT. I let you know if there is some development 👍🏻

[2021-08-17 07:43] Zxilly commented on #317
@giovanni-bertoncelli Plz view casbin.js at `v1` branch. casbin.js is under a totally refactor and will have the exactly funtion like `node-casbin`, but platform independent.

[2021-08-17 07:44] Zxilly commented on #317
@giovanni-bertoncelli We will later release it with something like `casbin.js@next`. If you do need it, I think we can move this forward asap.

[2021-08-17 07:52] giovanni-bertoncelli commented on #317
Sorry I haven't noticed that you where talking about a new version, now I see :)
Well, I'll be glad to try it.
If you can make a "@next" tag in a short time that would be amazing!

[2021-08-17 11:01] ankitaShrma commented on #314
Yes, returning local var solved the issue. Thank you

[2021-08-17 11:07] #314 closed

[2021-08-17 13:35] giovanni-bertoncelli commented on #317
@Zxilly In the meanwhile is there a way to install the v1 version? I've tried by running `npm i casbin/casbin.js#v1` but it does not download correctly since it should build from scratch...

[2021-08-17 13:46] Zxilly commented on #317
@giovanni-bertoncelli I have been working with another community member and a new version will be released within 24 hours

[2021-08-17 13:49] giovanni-bertoncelli commented on #317
Ok thanks!

[2021-08-17 13:57] nodece commented on #317
@giovanni-bertoncelli I looked at the online demo, it does work.

[2021-08-17 14:00] giovanni-bertoncelli commented on #317
@nodece Yes, as I said I can't reproduce the issue online, probably for compilation configuration differences. The workaround is to redirect the "stream" package to the readable-stream one. I can close this issue and wait for the "@next" release of casbin.js...

[2021-08-17 14:07] nodece commented on #317
@giovanni-bertoncelli Maybe `stream` is interfering with us. I'm going to use it https://www.npmjs.com/package/stream , can you test it?

[2021-08-17 14:38] giovanni-bertoncelli commented on #317
I don't think using that package is a good idea since the last update is from 7 years ago. As I said, I've solved the issue with the redirect to "readable-stream" package. I'll close this now.

[2021-08-17 14:38] #317 closed

[2021-08-17 14:43] nodece commented on #317
@giovanni-bertoncelli thanks for your suggestion, we will improve this.

[2021-08-17 14:46] giovanni-bertoncelli commented on #317
Let me know when the new version will be released :)

[2021-08-17 14:48] nodece commented on #317
@giovanni-bertoncelli Once the new version is released, I will ping you.

[2021-08-18 05:12] hariprasadiit opened #318 "`DomainMatchingFunc` is not used if `loadPolicy` is called after adding it"
Hello,

I apologise if this has been reported before, I couldn't find it.

### What's happening
In the previous versions when there was no `lazyLoad` option, I used to initialise empty enforcer then add adapter and model to it. Later when I need to load policy, I used to call `loadPolicy` to load policies from the adapter. Please refer code below.

This used work fine with 5.7.0 . It stopped worki

[2021-08-18 08:44] Zxilly commented on #318
working on this

[2021-08-18 10:14] Zxilly commented on #318
I believe this is a bug and exist since `v5.5.0`, thanks for your report. A patch is in progress.

[2021-08-18 10:55] #318 closed

[2021-08-18 12:57] Zxilly commented on #318
@hariprasadiit I believe `v5.11.5` can resolve the problem you met. But you should call `enforcer.initRmMap()` manually.

[2021-08-18 14:53] hariprasadiit commented on #318
Thanks for the heads up

[2021-08-19 07:04] giovanni-bertoncelli commented on #317
@nodece @Zxilly any news? :)

[2021-08-19 07:20] Zxilly commented on #317
@ghaiklor We are removing the dependency on `csv-parse`.But we are still discussing on the implementation of some standards

[2021-08-19 08:05] giovanni-bertoncelli commented on #317
Maybe this can be a valid alternative: https://www.papaparse.com/

[2021-08-21 13:47] Gabriel-403 commented on #311
@yamilfrich

This function has been added and can be used later

[2021-08-22 08:16] nodece commented on #317
Hello @giovanni-bertoncelli, `casbin.js@next` has been released on NPM, you can use `yarn add casbin.js@next` or `npm install casbin.js@next --save` to add this to your project, how to use:
[code]

[2021-08-22 08:18] nodece commented on #270
Hello @Sefriol, @harveyappleton, `casbin.js@next` has been released on NPM, you can use `yarn add casbin.js@next` or `npm install casbin.js@next --save` to add this to your project, how to use:
[code]

[2021-08-22 08:19] nodece commented on #257
closed by https://github.com/casbin/node-casbin/issues/270#issuecomment-903232062.

[2021-08-22 08:19] #257 closed

[2021-08-22 12:54] fahussain opened #321 "BatchEnforce"
I don't see the BatchEnforce API(https://casbin.org/docs/ja/data-permissions) for the coreEnforcer. Is it not available yet?

[2021-08-27 17:57] hariprasadiit opened #322 "`getImplicitPermissionsForUser` doesn't work when used with domains"
`getImplicitPermissionsForUser` doesn't seems to work with domains. If used without domains, We can get Implicit permissions.

### Model

[code]

### Policy
[code]

### Code:

[code]

`await defaultEnforcer.getImplicitPermissionsForUser('alice', 'cid3::*');` this results in empty array for user `alice`

[2021-08-28 02:48] hsluoyz commented on #322
@nodece

[2021-08-28 03:55] Zxilly commented on #322
working on this

[2021-08-28 10:38] Zxilly commented on #321
This will be implement in casbin.js

[2021-08-29 05:15] Zxilly commented on #322
@hariprasadiit `getImplicitPermissionsForUser` use `getFilteredPolicy` internal, and it won't invoke domain matching function. You can use `getImplicitRolesForUser` instead.

[2021-08-29 13:34] hariprasadiit commented on #322
@Zxilly Thanks for the update.

Any reason why `getImplicitPermissionsForUser` accepts domain parameter?

Any suggestion on how I can send Implicit permissions for a user to the frontned to use with casbin.js in manual mode?

Also any plans to support `GetPermissionsForUserInDomain` in `node-casbin`?

[2021-08-29 14:12] Zxilly commented on #322
@hariprasadiit The current version of casbin.js has been deprecated. A new version has been developed under https://github.com/casbin/casbin.js/tree/v1, and has been released as `casbin.js@next`

[2021-08-30 05:15] hariprasadiit commented on #322
Thanks for the heads up

I think it's better to remove domain paramter from `getImplicitPermissionsForUser`, if it's not used for any other purpose.

[2021-08-30 08:30] Zxilly commented on #322
@hariprasadiit I think it is. Even domain argument is designed to to be a list, but only `domain[0]` will be use.

[2021-08-30 09:11] #322 closed

[2021-08-31 04:13] rashid301 commented on #311
any ETA on this? We have a need for this soon.

[2021-08-31 04:16] Zxilly commented on #311
@rashid301 An early bird version is available at `casbin.js@next`, but it has some limitation right now. The migration will take place when it is functionally complete.
You can find `casbin.js@next` at https://github.com/casbin/casbin.js/tree/v1

[2021-09-17 05:25] ankitaShrma opened #324 "UpdateGroupingPolicy() and UpdateNamedGroupingPolicy() API for node-casbin"
There is `updatePolicy()`, but I don't see any update APIs for roles and other grouping policies in node version. Is this going to be implemented?
https://casbin.org/docs/en/management-api#updatenamedgroupingpolicy

[2021-09-18 07:26] hsluoyz commented on #324
@MRGUOKING plz fix labeling:

![image](https://user-images.githubusercontent.com/3787410/133880307-67f71404-f903-475a-b7c3-dac63e2e6bf6.png)

[2021-09-22 10:19] kasvith commented on #304
+1 I need this too

[2021-09-30 13:26] gensir opened #327 "logger print exception"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `casbin@5.11.5` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-10-02 06:16] transtone commented on #163
@hsluoyz 你认真的吗？https://github.com/casbin/casbin-editor/blob/master/package.json#L9 明明依赖的是 `casbin.js`

[2021-10-02 14:44] nodece commented on #163
@transtone node-casbin and casbin.js can be used in browser, you can check out this PR: https://github.com/casbin/casbin-editor/commit/56211377d010705b214182af04b64e94888e3165.

[2021-10-02 15:00] nodece commented on #327
Do you want to print the policy data?

[2021-10-03 17:45] khushbooag4 commented on #275
Hello, I knew Graphql little bit . Can Anyone guide me . I am starting contributing in Open - source projects

[2021-10-04 16:47] hsluoyz commented on #275
@khushbooag4 hi, please find: @Gabriel-403 @Zxilly @kingiw @nodece for help

[2021-10-05 01:40] transtone commented on #163
感谢回复。上文特别指出 casbin.js 库，是发现官方对js前后端支持的方案有了些许变化，从一个库适配多端，变成了多端分别适配，这是往后对 js 支持的发展思路吗？

[2021-10-05 02:40] hsluoyz commented on #163
Hi @transtone we are an international open-source community. Please change all your text into English to make everyone read the text easily.

[2021-10-05 02:47] nodece commented on #163
@transtone casbin.js doesn't include node API, it can be used in any javascript platform.

[2021-10-05 03:43] transtone commented on #163
罗杨博士，很感谢您的这个项目对开源的贡献。语言这个事这个见仁见智吧，用中文的人基数可能更大一些，对那些英文不流畅的开发者，是否可读性更高？

[2021-10-05 07:35] hsluoyz commented on #163
@transtone sorry but this is the rule for our community (at GitHub). Anyone can write articles, can host the docs, can make tutorial videos and can fork the code anywhere with any language. But at our GitHub, we officially only use English. If a second language is allowed here, people will want a 3rd language, 4th one, 5th, there's no end. People won't want to use our code any more when he sees 20

[2021-10-05 13:29] nodece commented on #163
@transtone I made a PR for casbin.js: https://github.com/casbin/casbin.js/pull/227, this PR for deno prepare, could you review this PR?

[2021-10-09 07:41] gensir commented on #327
[code]

[2021-10-09 09:25] hsluoyz commented on #327
@gensir plz make a PR!

[2021-10-20 14:50] actraiser opened #328 "Is instantiating enforcer with every request an Anti-Pattern?"
Hello, I am new to casbin and have read through the documentation, blog articles and the issue tracker. I understand the concepts and like the flexibilty. I want to use casbin as a library in my nodejs-based gateway to reject or grant access to underlying microservice resources. I have one question on instantiation the enforcer though:

The examples seem to always recommend loading all policies at

[2021-10-20 15:50] #328 closed, assigned to hsluoyz

[2021-10-23 06:10] BlairAllegroTech opened #329 "Enforcer does not enforce domain on groups"
I'm trying to implement RBAC on domains/tenants but with global roles , so that i do not have to create new polices with roles every time a new tenant is onboarded

I've identified the problem as being in the group matching and simplified my tests to just include this logic

I've tested this in the online editing tool:
 - https://casbin.org/en/editor/

## Model
[code]
## Polcy
[code]
## Online Edi

[2021-10-23 19:27] #329 closed, assigned to hsluoyz

[2021-10-24 02:07] hsluoyz commented on #329
@BlairAllegroTech what do you mean by "upgrading" from 5.11.5 to 3.0.0-beta.1? Isn't it a "downgrade"? Also 5.11.5 is the latest version for Node-Casbin (this repo). Where is 3.0.0-beta.1 ?

[2021-11-03 16:32] richard-sim opened #331 "coreEnforcer.buildRoleLinksInternal calls model.buildRoleLinks(rmMap) on values of rmMap"
https://github.com/casbin/node-casbin/blob/f859d105b31668a93f965f1e2d6c3c5cb7f22f3d/src/coreEnforcer.ts#L367

Due to a refactor ~6 months ago, model.buildRoleLinks(rmMap) is called within a loop over rmMap.values() in coreEnforcer.buildRoleLinksInternal(). Not only is this inefficient, but if rmMap is empty then model.buildRoleLinks() will never be called.

[2021-11-08 06:56] MohdImran001 commented on #224
@hsluoyz and @fgblomqvist, I would like to work on it.

[2021-11-11 16:37] MohdImran001 commented on #224
@hsluoyz, is this issue open for contributions ???

[2021-11-16 08:41] cwkang1998 commented on #304
Its stated here https://casbin.org/docs/en/rbac-with-domains-api#getrolesforuserindomain that its available for node-casbin, but this is not yet available from what I see right now (Unless I am wrong, if so then please forgive me for being blind).

if this is not already done and is already at somewhere, I am willing to contribute and add this functionality in.

[2021-11-16 10:54] hsluoyz commented on #304
Hi @cwkang1998 I think nobody is working on this now. Contribution is welcome! Please make a PR for it. Can you also join our QQ group? https://casbin.org/en/help

[2021-11-16 14:52] nodece commented on #304
I remember this feature has been supported, see https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac, I'm not sure whether is correct.

[2021-11-17 02:37] tomfriedhof opened #332 "keyGet2 always returns *matcher result should be boolean or number*"
I have confirmed that the operator does in fact return the correct value. However, it is not making back from the `coreEnforcer`. This is what my stack trace looks like when running this:

[code]

I am running enforce with the following params:

[code]

Here is what the matcher looks like:

[code]

and policy:

[code]

[2021-11-17 06:20] cwkang1998 commented on #304
Its definitely doable with the current Management API, its just that the simplified API in the RBAC with domain API stated is not there yet hahahaha.

[2021-11-17 06:21] cwkang1998 commented on #304
Sure!

[2021-11-25 04:14] hsluoyz commented on #332
Hi @tomfriedhof sorry for late response. Can you make a PR to fix it?

[2021-12-10 03:50] hsluoyz commented on #332
@foxzero-007

[2021-12-31 16:00] dipeshhkc opened #333 "API related to RBAC with Domains API"
Hello developers

I can see the APIs related to RBAC with Domains API [here](https://casbin.org/docs/en/rbac-with-domains-api) for node. But I cannot find those APIs like `getUsersForRoleInDomain` in this repo. Am I missing something?

It would be a great help if anyone knows about this :bow:

[2021-12-31 16:13] dipeshhkc commented on #333
oh. we can use the 2nd argument for specifying domain like this `getUsersForRole(name,domain)`. Thank you

[2021-12-31 16:13] #333 closed

[2021-12-31 16:35] dipeshhkc opened #334 "Retrieve a list of objects based on roles and permisstions of a user"
Hello developers. I am kind of using casbin in a project for the first time and got into a strange situation 😅. I appreciate the help from this community. Thanks :bow:

Let us suppose we have this policy
[code]
**Problem:** _I want get the list of profiles(object) where user1 has (read/write) permission_

**I expect this result**
[code]
It would be a great help if someone can give me ideas regardi

[2022-01-01 01:23] hsluoyz commented on #334
@dipeshhkc see: https://casbin.org/docs/en/rbac#how-to-query-implicit-roles-or-permissions

And thanks for writing so many Casbin articles!

[2022-01-01 01:23] #334 closed

[2022-01-01 15:19] dipeshhkc commented on #334
@hsluoyz Thank you for your quick reply. I had no idea about Implicit permission and it is actually a deal-breaker for my use case:exploding_head:
One Query about its usage is
[code]
Is there any way to denote **any team**  instead of mentioning a **single team** in the 2nd parameter so that I get all the permissions he has in any team?

Otherwise as a workaround, I need to do the following steps

[2022-01-01 15:49] dipeshhkc commented on #334
Hello @hsluoyz , I just want to make sure I am doing things in a correct manner. Please have a look at the following code when you are available and please let me know if I am doing good or if there are better ways of achieving this.

**Thing I am trying to achieve**: I want to show the list of profiles the logged-in user has access to (his own created profiles or the profiles created by any team

[2022-01-01 17:44] dipeshhkc opened #335 "Use Regex to match any column while using Filtered API"
Hello Developers 😁

Let us suppose this is a policy list.

[code]
If I want to load policy only containing object-related to profile (which means I need to exclude domains). Do we have something like below(using regex) or similar to obtain the desired result?

`enforcer.getFilteredPolicy(2,"/^profile/")`

_Desired Result_

[code]
I am looking for any opinions, guidance, or suggestions. Thanks :pra

[2022-01-02 01:16] hsluoyz commented on #335
@dipeshhkc no, you can write SQL with regex directly: https://casbin.org/docs/en/policy-storage#database-storage-format

[2022-01-02 01:16] #335 closed

[2022-01-02 01:19] hsluoyz commented on #334
@dipeshhkc define another column as "'editor', '28', 'profile', 'profile/12', 'write'", so you can do filtering with Casbin API.

[2022-01-02 03:15] dipeshhkc commented on #334
@hsluoyz Thank you, this will reduce some lines of code. :bow

Regarding [this](https://github.com/casbin/node-casbin/issues/334#issuecomment-1003573108) can you please confirm that using single team in 2nd parameter is intended and need to follow my  workaround I mentioned to get the permissions he has for all the domains. Thanks

[2022-01-02 03:30] hsluoyz commented on #334
@dipeshhkc `getImplicitPermissionsForUser()` only supports one team.

[2022-01-04 11:19] dipeshhkc opened #336 "Delete all the Policies related to the given object"
Hello Developers. I am stuck in a problem. I hope our community will help me with this 😁 . Let me explain

This is the policy list
[code]
**The following command deletes the 1st Policy** ✔️
`enforcer.deletePermission("team1","obj1")`

**My need is to delete all the permissions related to obj1. I tried with an empty string for the first parameter. But It deletes none of the policy** ❌
`enforcer.del

[2022-01-04 11:25] dipeshhkc commented on #336
Strange. Most of the time I find answers after posting questions 😅. I was searching for method names after **delete**

`enforcer.removeFilteredPolicy(2,"obj1")`

[2022-01-04 11:28] #336 closed

[2022-01-09 15:45] Shivansh-yadav13 commented on #321
So, all the functions which are not in this are present on casbin.js?

[2022-01-09 16:12] hsluoyz commented on #321
@Shivansh-yadav13 can you make a PR?

[2022-01-10 06:35] Shivansh-yadav13 commented on #321
@hsluoyz  for ?

[2022-01-10 06:47] Zxilly commented on #321
@Shivansh-yadav13 We have a WIP PR,currently not merged

[2022-01-10 07:46] Shivansh-yadav13 commented on #321
I would love to contribute but @Zxilly sorry, not able to understand what you mean 😅 but for what purpose @hsluoyz is asking me to make a pr.

[2022-01-10 08:45] Shivansh-yadav13 commented on #321
I wanted to ask that do we have batchEnforce on casbin.js

[2022-01-10 09:29] Zxilly commented on #321
As for now, no

[2022-01-10 09:38] Shivansh-yadav13 commented on #321
were you asking me to make a pr for BatchEnforce?

[2022-01-10 10:21] hsluoyz commented on #321
@Shivansh-yadav13 yes, if `BatchEnforce()` is not available for Node.js, add it by making a PR.

[2022-01-11 13:49] RunnSC opened #337 "How to use batch enforce"
do I have to input like
[code]
or
[code]
I'm really sorry I am new to using casbin and I really confused

[2022-01-13 12:14] Shivansh-yadav13 commented on #321
I wanted to confirm that `batchEnforce` has to be in `coreEnforcer.ts` and its test in `enforcer.test.ts`, right?

@hsluoyz @Zxilly

[2022-01-13 18:56] Alec-Bailey commented on #321
@Shivansh-yadav13 I would be interested in this functionality, if you are going to be adding it I will not do it myself.

@Zxilly No pressure, simply trying to weight my options - but is there an ETA this WIP pr?

[2022-01-14 00:51] hsluoyz commented on #321
@Shivansh-yadav13 similar to Go

[2022-01-14 00:53] hsluoyz commented on #321
@Alec-Bailey there's no PR yet. You can also make a PR. We will merge a suitable PR to add this feature.

[2022-01-16 09:37] #321 closed

[2022-01-20 05:43] hsluoyz commented on #332
@fabian4

[2022-01-20 14:08] Shivansh-yadav13 opened #339 "CasbinJsGetPermissionForUser's Test Failing"
CasbinJsGetPermissionForUser's Test Failing in frontend.test.ts
![testfail](https://user-images.githubusercontent.com/87603425/150356840-a54c6618-020d-40ae-b6aa-d4feccb70a6c.PNG)

[2022-01-21 11:59] Shivansh-yadav13 commented on #339
@hsluoyz do you know why is this happening?

[2022-01-21 17:02] hsluoyz commented on #339
@Gabriel-403 @Zxilly @kingiw @nodece

[2022-01-21 17:33] Zxilly commented on #339
@Shivansh-yadav13 The main reason is git checkout the source files line break to `crlf (\r\n)`, but unit test hardcored `\n`.
Since old casbin.js has been deprecated, I didn't fix it.

[2022-01-22 09:42] Shivansh-yadav13 commented on #339
@Zxilly  Should I close this issue since it happened with me only on another system

[2022-01-22 09:54] Zxilly commented on #339
@Shivansh-yadav13 This is indeed a bug, but clearly not of high priority. Maybe it will be fixed later and we can use this issue to track it.

[2022-01-22 12:50] Shivansh-yadav13 opened #340 "Add GetImplicitUsersForRole"
Can we also add getImplicitUsersForRole

[2022-01-22 15:06] hsluoyz commented on #337
@Shivansh-yadav13 can you do this first?

[2022-01-22 15:13] Shivansh-yadav13 commented on #337
@RunnSC The first one is the correct syntax for batch enforce, you can also take a look at the docs here https://casbin.org/docs/en/management-api
[code]

[2022-01-22 15:19] RunnSC commented on #337
Sorry to keep the issue I forgot to close it

[2022-01-22 15:19] #337 closed

[2022-01-22 15:53] hsluoyz commented on #332
@Shivansh-yadav13

[2022-01-25 15:54] #340 closed

[2022-02-05 13:29] Shivansh-yadav13 opened #344 "Add GetImplicitResourcesForUser For Node"
-  https://casbin.org/docs/en/rbac-api#getimplicitresourcesforuser

[2022-02-06 06:34] Shivansh-yadav13 commented on #332
isn't the request size max 3 for enforcer? that would give an error or I'm missing something here??

[2022-02-10 08:21] Harizriz opened #346 "Adapter error in removePolicies() for node.js"
I got this error when trying to use the removePolicies() for casbin API to remove multiple policies.

```InvalidAdapterTypeError: removePolicies is only supported by SyncedAdapter. See newSyncedAdapter```

The code I used is shown below which I refer to the Casbin API docs. https://casbin.org/docs/en/management-api#:~:text=Copy-,RemovePolicies(),-RemovePolicies%20removes%20authorization

[code]

T

[2022-02-10 08:31] hsluoyz commented on #346
@nodece @fabian4 @Zxilly

[2022-02-10 08:35] Zxilly commented on #346
@Harizriz What you want is https://github.com/node-casbin/mongoose-adapter/blob/26c051cc2720071533e1cb50140180111dd109c6/src/adapter.ts#L152-L154
It use transaction for remove action.

[2022-02-10 08:36] Zxilly commented on #346
@hsluoyz This is a issue of https://github.com/node-casbin/mongoose-adapter

[2022-02-10 14:33] #346 closed

[2022-02-11 10:55] Shivansh-yadav13 commented on #324
@hsluoyz can I work on this?

[2022-02-11 11:16] Zxilly commented on #324
@Shivansh-yadav13  You can feel free to make PR

[2022-02-11 12:33] hsluoyz commented on #324
@Shivansh-yadav13 plz work on: https://github.com/casbin/node-casbin/issues/332 (I ATed you actually)

[2022-02-11 17:04] Shivansh-yadav13 commented on #332
when using keyGet2 the type of result in enforcer is undefined due to which it is throwing this error.

[2022-02-12 04:33] Shivansh-yadav13 commented on #324
`const result = asyncCompile ? yield expression(context) : expression(context);` is returning undefined.

[2022-02-12 04:36] Shivansh-yadav13 commented on #332
const result = asyncCompile ? yield expression(context) : expression(context); is returning undefined.

[2022-02-17 12:01] grzegorz-kap opened #348 "bug: util.hasEval keeps RegExp state between invocations ('eval' is not detected'"
![image](https://user-images.githubusercontent.com/6129035/154477764-48f6af7c-00c6-45c9-9295-15791e0be69b.png)

[code]

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/test

![image](https://user-images.githubusercontent.com/6129035/154477375-e6cf5e16-be8d-4f38-b3f4-c315438dd1e7.png)

This is causing the following error:
![image](https://user-images.githubus

[2022-02-19 07:29] Shivansh-yadav13 commented on #348
@grzegorz-kap can you give any matcher example where it might not be detecting

[2022-02-20 10:05] Shivansh-yadav13 commented on #348
I think there is no problem with detecting `eval`, it is because some funcs in the matcher are not returning the type number or boolean due to which this error is occurring. I have made a PR [here](#347) to fix this, please add a review if more changes are required.

[2022-02-20 10:34] Shivansh-yadav13 commented on #348
@grzegorz-kap can you review #347, resetting the index manually

[2022-02-22 14:39] #348 closed

[2022-02-26 16:17] nodece commented on #224
Hello everyone, I do not intend to support this feature:

- Most libraries or frameworks can fully support asynchronous calls
- Have to use async API, use Promise implement

[2022-02-26 16:17] #224 closed

[2022-03-01 08:37] kerituni12 opened #350 "O(1) time to query the RBAC tree"
Follow the document of Casbin :

as image below, i wonder why it goes through all the policies instead of just two policy data2_admin

![](https://i.ibb.co/hDjhLCd/Screenshot-from-2022-03-01-15-25-44.png)

[2022-03-01 13:36] hsluoyz commented on #350
@nodece @Zxilly @fabian4

[2022-03-01 14:10] nodece commented on #332
You pass incorrect params to enforce:
[code]

[2022-03-01 16:06] Zxilly commented on #350
means `g()` function has `O(1)` time complexity, which means the number of `g policies` won't be a big problem to calculate result for they has been built as a role tree. But for all other `p policies` and the custom function, casbin need iterate through all policies, which is `O(n)`.

[2022-03-01 19:01] kerituni12 commented on #350
If i use custom function with p policies , it's actually O(n) but with g polices I think it's more than O(n)

https://casbin.org/casbin-editor/#BH4TYYEJ2

![](https://i.ibb.co/xCQL3CQ/Screenshot-from-2022-03-02-01-52-46.png)

[2022-03-02 02:33] Zxilly commented on #350
For each policy, `g()` is `O(1)`. We have to iterate all policies so `enforce()` is always `O(n)`.

[2022-03-02 05:13] #332 closed

[2022-03-02 05:14] #350 closed

[2022-03-03 13:43] Shivansh-yadav13 commented on #298
is this issue still up?

[2022-03-03 14:33] hsluoyz commented on #298
@Shivansh-yadav13 yeah, plz add to docs.

[2022-03-04 07:21] #298 closed

[2022-03-05 14:20] Shivansh-yadav13 commented on #304
do we still plan to add `GetUsersForRoleInDomain()` & `GetRolesForUserInDomain()` for node-casbin?
& additional `getImplicitCrossDomainPermissionsForUser()`?

[2022-03-06 02:04] cwkang1998 commented on #304
Thanks for reminding me @Shivansh-yadav13 , I will submit a PR either by tonight or tmr night.

[2022-03-06 16:02] Shivansh-yadav13 commented on #331
@richard-sim do you have any suggestions on how it can be improved?

[2022-03-06 16:37] hsluoyz commented on #331
@fabian4 @nodece

[2022-03-07 04:57] richard-sim commented on #331
@Shivansh-yadav13: It's been a while since I opened this issue, but IIRC it should not be in the loop at all (as it was prior to the refactor that I referred to).

[2022-03-08 10:34] Shivansh-yadav13 commented on #331
but we will have Default Role Manager? if we use role definition in the model

[2022-03-11 10:22] Shivansh-yadav13 commented on #324
removing my previous issue so that we have one place to track them
- [ ] UpdateGroupingPolicy
- [ ] UpdateNamedGroupingPolicy
- [ ] GetImplicitResourcesForUser

[2022-03-11 10:22] Shivansh-yadav13 commented on #344
#324

[2022-03-11 10:22] #344 closed

[2022-03-12 12:15] Hanaffi commented on #324
@hsluoyz @nodece Can you please assign this to me?

[2022-03-14 12:32] Shivansh-yadav13 commented on #292
do we still plan to support sync API in node-casbin? asking bcoz the above prs were closed.

[2022-03-14 12:39] Shivansh-yadav13 commented on #292
ok

[2022-03-17 03:26] Shivansh-yadav13 commented on #304
I think if we just use `GetDomains(user)` and then just for-loop enforce then we will be able to know if Alice has the write action on data1 for any domain.

[2022-03-17 15:56] cwkang1998 commented on #304
You can take a look at my PR and see if it resolves the need for this. if not I think we can add this api in, but I feel like the current implementation can already achieve this.

[2022-03-18 01:56] #304 closed

[2022-03-18 09:53] Shivansh-yadav13 commented on #311
hey, can I work on this if this feature is still missing?

[2022-03-22 14:53] nodece opened #352 "Node-Casbin@6 planning"
Node-Casbin@6 full-support any JavaScript platform like React Native, Electron, and so on.

Branch: https://github.com/casbin/node-casbin/tree/beta

I make some planning  for this version:

- [x] Only support pass the `Model` instance, `Adapter` instance and `enableLog`  to `newEnforcer()`, avoid confusing that use path or text
- [x] Cleanup the code with "path", "file"
- [ ] Collect the breaking

[2022-03-22 15:51] nodece commented on #352
Yes, but some parameters are optional, so like:
[code]

We can open this issue for a while to discuss.

[2022-03-22 16:28] Shivansh-yadav13 commented on #352
ohk then I guess for a request like this
[code]
we can maybe keep `...params: any[]` in the `newEnforcer()` and then pass them in a fixed manner in `newEnforcerWithClass(model, adapter, true)`

[2022-03-23 02:12] nodece commented on #352
Both `newEnforcer()` and `newEnforcerWithClass` params need to changes.

[2022-03-23 14:16] Shivansh-yadav13 commented on #352
@nodece, there are no breaking changes on params change in the tests at least.

[2022-03-24 02:31] nodece commented on #352
We remove some API with fs or path, this is breaking changes.

[2022-03-27 14:25] moshekar opened #354 "Wrong method in multiline parsing"
Hi,

Multiline parsing in config.ts is using .includes(), but should use .endsWith(), as the multiline separator is valid only at the end of the line.
https://github.com/casbin/node-casbin/blob/7803ccbd4cc25e2faac9b508ef57ebee2f8d5750/src/config.ts#L127

Thanks.

[2022-03-28 00:46] hsluoyz commented on #354
@moshekar can you make a PR to fix it?

[2022-03-28 08:17] moshekar commented on #354
Done: [PR #355](https://github.com/casbin/node-casbin/pull/355)
Thanks.

[2022-03-29 15:40] Shivansh-yadav13 commented on #275
how do we plan to integrate it with Hasura? I have tried Hasura cloud once.

[2022-03-29 16:38] hsluoyz commented on #275
@Shivansh-yadav13

We could make a middleware like this: https://github.com/hasura/graphql-engine/blob/71ae144aa623c156064ffe21eb38020ccf315a7a/community/sample-apps/vuejs-auth0-graphql/app/src/auth/authService.js

[2022-04-03 15:34] Shivansh-yadav13 commented on #354
@moshekar maybe create a pr again? as you may already know semantic pr was required for release.

[2022-04-12 10:03] Gumplefik opened #356 "Filter Policies"
I am using RBAC with resource.
Is there any better ways to find which sub has permission for specified object and action.
Same as find which object can be access for specified sub and action.

[2022-04-12 10:05] Gumplefik commented on #356
[code]

[2022-04-12 12:29] hsluoyz commented on #356
@tangyang9464 @nodece @Zxilly

[2022-04-13 14:29] hsluoyz opened #357 "Support keyMatch5"
See: https://github.com/casbin/casbin-editor/issues/73

[2022-04-14 08:35] kerituni12 opened #358 "Support WildCard Match in getFilteredPolicy"
Example :
I have subject admin:create:any , admin:create:own, i need wildcard to get matched subject and then check value is any or own to handle my business logic

`getFilteredPolicy(0, 'admin:create:*', 'user', 'create')`

I think the getFilteredPolicy() support something like
[code]

[2022-04-14 08:59] Shivansh-yadav13 commented on #356
@Gumplefik you can use `getFilteredPolicy` where you can do something like

[code]
result will be something like
[code]
and then maybe you can loop over the result

[2022-04-14 11:41] hsluoyz commented on #358
@Shivansh-yadav13

[2022-04-14 11:42] hsluoyz commented on #357
@Shivansh-yadav13

[2022-04-14 15:52] Shivansh-yadav13 commented on #358
working on it.

[2022-04-14 16:25] Shivansh-yadav13 commented on #358
@hsluoyz maybe we can create a method so that wildcard support can be added for all such types of methods. should we focus on adding something like that?

[2022-04-15 01:43] #357 closed

[2022-04-15 07:19] Gumplefik commented on #356
@Shivansh-yadav13 if I have many user group. how do you solve this question. First you need to get groups. Then find their members. Finally Merge result. maybe it is too complex

[2022-04-15 13:48] Shivansh-yadav13 commented on #356
@Gumplefik we can add such feature, should be discussed with maintainers.

[2022-04-15 13:59] hsluoyz commented on #356
@Gumplefik you can use BatchEnforce(): https://casbin.org/docs/en/data-permissions#2-use-batchenforce

[2022-04-15 16:04] hsluoyz commented on #352
We don't have the ability to control the damage caused by the breaking changes based on our developer resources. So we don't accept any kind of breaking changes.

[2022-04-16 05:36] Shivansh-yadav13 commented on #358
@kerituni12 please review #361

[2022-04-16 21:22] kerituni12 opened #362 "Policy effect allow-and-deny not return reason in EnforceEx"
### Current behavior

Using policy effect allow-and-deny  `some(where (p.eft == allow)) && !some(where (p.eft == deny))` , reason not include in result when has allow matched

### Expected behavior

Return allow reason if there is at least one policy matched and no deny policy

If matched deny return deny reason

Other case return [] for reason mean not match allow and deny

[2022-04-17 01:01] hsluoyz commented on #362
@kerituni12 does Golang Casbin return the reason you want?

[2022-04-17 08:23] kerituni12 commented on #362
Sorry I don't have much experience with golang

[2022-04-17 08:58] hsluoyz commented on #362
@tangyang9464 @Shivansh-yadav13

[2022-04-17 12:40] Shivansh-yadav13 commented on #362
In Golang Casbin works and returns the deny reason, that needs to be added in node-casbin

[2022-04-17 13:12] Shivansh-yadav13 commented on #362
@hsluoyz not sure of go
Go Casbin I'm receiving some unexpected return.
like for policy `alice, data/1, read, allow` `e.EnforceEx("alice", "data/1", "read")`
`false [] invalid policy size: expected 4, got 3, pvals: [bob data/2 read]`

[2022-04-17 13:17] Shivansh-yadav13 commented on #362
we need to return allow reason, go-casbin works fine.

[2022-04-18 13:49] Shivansh-yadav13 commented on #362
please review #363

[2022-04-27 15:32] #362 closed

[2022-04-29 13:49] wittech commented on #352
how to config muti policies?

[2022-04-29 14:39] Shivansh-yadav13 commented on #352
@wittech if you have a question, you can ask in the Gitter channel https://gitter.im/casbin/Lobby

[2022-04-29 14:44] Shivansh-yadav13 commented on #356
@hsluoyz Ig @Gumplefik is trying to get a list of all the subjects plus all the grouped subjects, not sure how BatchEnforce is going to help in this case? he is trying to sort of find a way to simplify it, without using multiple methods. please correct me if I'm worng @Gumplefik

[2022-05-01 07:31] Shivansh-yadav13 commented on #324
@Hanaffi are you up for adding these?

[2022-05-01 11:26] hsluoyz commented on #324
@Shivansh-yadav13 you can do it

[2022-05-11 14:47] joel611 opened #365 "ESM import error"
Hi,

When i add casbin into my project using SST, the error shows up on build process in typescript.
[code]

Suggest to use default import on both file:
import picomatch from 'picomatch';
import parse from 'csv-parse/lib/sync';

[2022-05-12 02:01] hsluoyz commented on #365
@Shivansh-yadav13

[2022-05-13 05:49] Shivansh-yadav13 commented on #365
IG then we would need to change it for every file?

[2022-05-13 08:41] hsluoyz commented on #365
@tangyang9464 @nodece @abichinger

[2022-05-13 15:14] nodece commented on #365
I submitted #366 to fix this issue, could you review this PR?

[2022-05-20 11:35] dograshvili opened #367 "Sequelize - PostgreSQL - Adapter"
Hello,

I am using node-casbin with [casbin-sequelize-adapter
](https://www.npmjs.com/package/casbin-sequelize-adapter) with PostgreSQL. When i initialize the adapter, it creates a table in my database with the necessary fields (as it says on the documentation). What i want is to disable this functionality. I don't want a table to be created, i want to specify a table (for my case a view or a mate

[2022-05-20 12:33] Shivansh-yadav13 commented on #367
@dograshvili in the options you can pass in `tableName`

[2022-05-20 12:49] dograshvili commented on #367
@Shivansh-yadav13 yes you can pass the tableName, but it doesn't solve the problem that the adapter will create the tableName you passed in the options. As i mentioned above what i want it to pass a view or materialized view in the tableName, but i don't want to create that table. I want to load the policy from the view or the mat view

[2022-05-20 14:39] hsluoyz commented on #367
/cc @nodece

[2022-05-20 15:51] nodece commented on #367
@dograshvili Sorry, this feature is not supported, which is too flexible, and not easy to manage, you can fork this repository to adapt your project.

[2022-05-22 14:46] nodece commented on #352
Migrating to https://github.com/casbin/casbin-core for this thing.

[2022-05-23 01:28] hsluoyz commented on #367
Agreed with @nodece , closed here

[2022-05-23 01:28] #367 closed

[2022-05-23 03:58] #352 closed

[2022-06-07 12:55] hsluoyz commented on #356
You can iterate on all subjects with BatchEnforce()

[2022-06-07 12:55] #356 closed

[2022-06-22 14:03] #365 closed

[2022-06-25 14:36] vaseala commented on #311
how's the progress?

[2022-06-25 14:54] vaseala commented on #311
https://github.com/Gabriel-403/node-casbin/blob/master/src/coreEnforcer.ts#L378
I find the change of your branch, but why not merged to master?

[2022-06-25 14:54] vaseala commented on #311
https://github.com/Gabriel-403/node-casbin/blob/master/src/coreEnforcer.ts#L378

[2022-06-25 17:12] hsluoyz commented on #311
Can we merge this code to origin? @Gabriel-403 @Shivansh-yadav13

/cc @nodece @Zxilly

[2022-06-26 01:48] Shivansh-yadav13 commented on #311
I'm not sure of it's working
how is this returning `true`

[code]

[2022-06-26 15:58] nodece commented on #311
@Shivansh-yadav13 Could you cherry-pick the https://github.com/casbin/node-casbin/commit/cc58c57ae4a7c3202c7217497bef8016df93fe26 and https://github.com/casbin/node-casbin/commit/33c784cbdc0d650ba75b8177b69f41dc0ca11fae to your branch, then make a PR?

[2022-06-26 15:59] nodece commented on #311
This should be returned `false`, could you work on this?

[2022-06-27 13:59] Shivansh-yadav13 commented on #311
casbin-core or node-casbin?

[2022-06-28 06:09] Shivansh-yadav13 commented on #311
@nodece sorry it should be `m2 = r2.sub == p2.sub && r2.obj == p2.obj && r2.act == p2.act`

[2022-07-07 17:36] tamsler opened #374 "Does node-casbin support StartAutoLoadPolicy"
I am using node-casbin in AWS Lambda functions in conjunction with casbin-dynamodb-adapter. Instead of loading the policy on each lambda call, I was wondering node-casbin supports "StartAutoLoadPolicy", where the policy in each lambda instance would be updated on any "saved" policy change.

[2022-07-08 01:17] hsluoyz commented on #374
@Shivansh-yadav13

/cc @nodece @Zxilly

[2022-07-08 02:36] Zxilly commented on #374
Maybe you should use `watcher` mechanic. It will update the in-memory policy when the policy in database updated.

[2022-08-01 22:41] shridhar-purandare opened #376 "How to add implicit role for user"
Hi,

**We have below policy for RBAC**

g, monoSamples_p3, monoSamples_p1
g, monoSamples_p3, monoSamples_p2
p, monoSamples_p1, monoSamples, p1
p, monoSamples_p2, monoSamples, p2

**We use below model:**
[request_definition]
r = sub, obj, act

[policy_definition]
p = sub, obj, act

[role_definition]
g = _, _

[policy_effect]
e = some(where (p.eft == allow))

[matchers]
m = g(r.sub, p.sub) && keyMat

[2022-08-02 00:48] Shivansh-yadav13 commented on #376
@shridhar-purandare, I have checked, `await e.addRoleForUser('alice', 'monoSamples_p3');` and `rm.addLink('alice', 'monoSamples_p3');` both are working and adding the role. Can you give code how you tried? Maybe a problem is there?

[2022-08-02 15:00] shridhar-purandare commented on #376
@Shivansh-yadav13 : I am calling this as well. await e.addRoleForUser('alice', 'monoSamples_p3'); But it does not work. Because monoSamples_p3 this is kind of user as well because it has g, line. and not p line. It's an inherited role.

Can you please confirm where you used model and policy described above ?

[2022-08-02 15:42] Shivansh-yadav13 commented on #376
@shridhar-purandare I have tested locally with the policies and the model you have given.
And it should not be a problem even if `monoSamples_p3` is a user.

code
[code]
output
[code]

[2022-08-02 17:00] shridhar-purandare commented on #376
@Shivansh-yadav13 :  can you please paste your generated policy ?

[2022-08-03 04:24] Shivansh-yadav13 commented on #376
@shridhar-purandare the update in the policy is only in the instance of the enforcer and it does not reflects in the `policy.csv` file, this features has been disabled (in-case you are expecting that).

This is what the policy looks in the enforcer after adding the role.
[code]

[2022-08-03 09:29] Sefriol opened #377 "[Enhancement] Implement hierarchical domain support"
Casbin repository has some initial work done for this: https://github.com/casbin/casbin/pull/1040

When design has been completed, this should be implemented for `node-casbin` as well.

Reference issues:
https://github.com/casbin/casbin/issues/718
https://github.com/casbin/casbin/issues/872
https://github.com/casbin/casbin/issues/1032

[2022-08-05 08:51] Sefriol commented on #292
@Zxilly `SyncedEnforcer` with `g`-support should still be possible right? I didn't really understand what was the particular problem with https://github.com/casbin/node-casbin/pull/303 implementation.

[2022-08-05 08:58] Zxilly commented on #292
@Sefriol It's possible. #303 was gave up because we decided to make a better implementation in the `casbin.js` at that time.
It still works as a trick.

[2022-08-05 09:15] Sefriol commented on #292
For me it seems that this would be an efficient improvement for short term. Maybe open the pull request again?

Some more drastic improvements could be done to `casbin-core`?

[2022-08-05 09:50] Zxilly commented on #292
@Sefriol  I didn't find it. In the `casbin core` there only async g function available now.

[2022-08-05 09:52] Sefriol commented on #292
I meant that more drastic changes can be done to `casbin core` in the future.

[2022-08-09 23:35] jkalberer opened #379 "How to use globMatch when matching roles"
Hi, I might be misunderstanding how the matcher works with the `g` function with roles. I'm following this example except I'm using the `globMatch` - https://casbin.org/docs/en/rbac-with-pattern

I'm trying to use the online editor to test my rules and setup https://casbin.org/casbin-editor/#FCWSF9J7X

---

My config is:
[code]

Policy:
[code]

Checks:
[code]

---

Am I using this feature incorrec

[2022-08-10 01:44] hsluoyz commented on #379
@Shivansh-yadav13

/cc @Zxilly @nodece

[2022-08-10 16:20] jkalberer commented on #379
Apologies -- I figured this out. I still had my matcher set to a custom matcher I was debugging with:

This is the pattern to use when you want to use a wildcard for `g`
[code]

[2022-08-10 16:20] #379 closed

[2022-08-12 12:32] Sefriol commented on #292
This should be now fixed with release [v5.16.0](https://github.com/casbin/node-casbin/releases/tag/v5.16.0):
https://codesandbox.io/s/serene-solomon-g18wnw

[2022-08-12 12:42] #292 closed

[2022-08-22 08:31] Sefriol opened #382 "[Enhancement] Mongo Change Stream Watcher"
@hsluoyz @nodece Interested to put this under `node-casbin`? https://github.com/Sefriol/casbin-mongo-changestream-watcher/pull/1

[2022-08-22 09:11] hsluoyz commented on #382
@Sefriol it looks great! New project is always welcome! Plz start a migration to `node-casbin` org

[2022-08-22 11:37] Sefriol commented on #382
@hsluoyz I finalized the initial version. For `node-casbin` some minor things need to addressed in README. Main workflow's release script actually already points to `node-casbin/mongo-changestream-watcher`.

Some things like the NPM repository etc need to be created.

Shall I create the repository under `node-casbin`? Is the name ok?

[2022-08-22 14:06] hsluoyz commented on #382
@Sefriol created here: https://github.com/node-casbin/mongo-changestream-watcher , you can make a PR to it.

The NPM name can be either `mongo-changestream-watcher` or `casbin-mongo-changestream-watcher`. You can setup the GitHub Actions CI and semantic-release like other repos, so it will automatically push to NPM.js

[2022-09-07 20:34] jjh-reciprocity opened #385 "[Question] Performance issue with wildcard rbac, is there a better way to do this?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**

I want to find a better way to implement this setup, as performance is really really bad as is.

**Your model:**

[code]

**Your policy:**

[co

[2022-09-08 01:51] hsluoyz commented on #385
@jjh-reciprocity see benchmark: https://casbin.io/docs/benchmark . I think it's reasonable to have 50ms time overhead for 40000 rules

You can try performance optimization: https://casbin.io/docs/performance

[2022-09-08 14:18] jjh-reciprocity commented on #385
Shouldn't the checks be able to be done concurrently though?  Why does it have to do one enforcement at a time?

[2022-09-13 09:22] meodemsao opened #386 "using with react (vite)"
I have problem when using node-casbin with react

[code]

![Screen Shot 2022-09-13 at 4 18 16 PM](https://user-images.githubusercontent.com/570103/189863742-d30f6bdc-6e81-4659-a1cc-95f43d527686.png)

[2022-09-13 12:13] hsluoyz commented on #386
@meodemsao did you try: https://github.com/casbin-js/react-authz ?

[2022-09-13 13:10] Shivansh-yadav13 commented on #386
@meodemsao you can try [ReactAuthz](https://github.com/casbin-js/react-authz), [Casbin-core](https://github.com/casbin/casbin-core), [Casbin.js](https://github.com/casbin/casbin.js), node-casbin is not really for frontend javascript

[2022-09-13 15:45] nodece commented on #386
This looks like a dependency issue, @Shivansh-yadav13 Could you work on this?

[2022-09-13 15:58] Shivansh-yadav13 commented on #386
Ohk, I'll look into it.

[2022-09-13 17:08] meodemsao commented on #386
i don't know how to use this, don't have any doc

[2022-09-13 17:12] meodemsao commented on #386
i will try https://github.com/casbin/casbin-core

node-casbin work if i use with webpack, i have issue with vite

[2022-09-14 06:42] vaseala opened #387 "Are there keywords in expression parsing?"
## full example code
https://github.com/issuebox/casbin-jsep

### policy.csv
[code]
## normal instance

### model1.conf
[code]

[code]
the`result` is `true`，which is as expected!

## exception instance

### model2.conf
[code]
[code]

## question
In the above two examples, only one letter is different, which leads to different results. After testing, there is also a `user` will cause the same probl

[2022-09-14 07:28] hsluoyz commented on #387
@vaseala plz change all texts to English

[2022-09-14 14:54] nodece commented on #270
I reopen this issue because I thought this issue once, and I don't suggest that we make a new repo to provide a pure JavaScript project, although we've made a repository https://github.com/casbin/casbin-core

1. The `node-casbin` adapters and watchers don't apply to `casbin-core`.
2.  We need to maintain two sets of codebase.

I know there's a lot of breaking change, it's inevitable.

Please let m

[2022-09-15 01:02] nodece commented on #270
@Sefriol Yes, you are right.

[2022-09-15 04:57] Zxilly commented on #270
Looks node-casbin@beta has been platform independent

[2022-09-15 12:41] Shivansh-yadav13 commented on #386
@nodece @meodemsao  I feel the code is running in browser, that's why we are getting this error, do you think there could be a bug?

[2022-09-15 13:02] Shivansh-yadav13 opened #388 "add flag for errors from adapter in internal api"
@nodece has suggested to add a flag for getting a `not-implemented` error from the adapter.

I have a suggestion, add a flag for receiving all errors, meas if `true` we will throw errors even if it's a `not-implemented` error.

need a discussion on this.

_Originally posted by @nodece in https://github.com/casbin/node-casbin/pull/384#discussion_r967673880_

[2022-09-15 14:02] nodece commented on #386
Looks like a dependency error, could you testing the the https://vitejs.dev/guide/ ?

[2022-09-16 05:44] vaseala opened #389 "does the node-casbin support `subjectPriority`?"
This is the doc:  https://casbin.org/docs/priority-model#load-policy-with-priority-based-on-role-and-user-hierarchy
Then I place the demo code to the online editor: https://casbin.org/casbin-editor/#53YFYAD7M
When I click `RUN THE TEST` button, it throw `unsupported effect`!

[2022-09-16 07:16] hsluoyz commented on #389
@Shivansh-yadav13 plz implement it in Node-Casbin

/cc @nodece

[2022-09-17 15:01] meodemsao commented on #386
@Shivansh-yadav13 @nodece i use casbin-core i work well

[2022-09-17 15:16] nodece commented on #386
Because I use the minimatch instead of the picomatch.

[2022-09-18 04:04] meodemsao commented on #386
thanks u

[2022-09-22 23:52] elenasch opened #390 "e.SetFieldIndex() not available in node SDK"
According to these docs, Golang SDK has the ability to configure field's index and allow for a different index on domain filed. NodeJS SDK however is missing this API

Please add it to match Golang library

[2022-09-23 04:27] Shivansh-yadav13 commented on #390
@elenasch there is no `FieldIndexMap` in node-casbin

[2022-09-23 05:29] hsluoyz commented on #390
@Shivansh-yadav13 can you make a PR to add it?

[2022-09-23 05:52] hsluoyz commented on #390
@imp2002 @Shivansh-yadav13

[2022-09-24 11:53] nodece commented on #270
Right! I think we should release a stable version, but this version with breaking changes, so @hsluoyz want to use a new repo and a new package instead of this repo and this package.

[2022-09-24 15:15] #390 closed

[2022-09-26 08:58] Shivansh-yadav13 commented on #386
@nodece should we do that in node-casbin also?

[2022-09-26 14:50] elenasch opened #392 "Ways to improve policy parsing times in an RBAC with domain model and filtered enforcer"
I'm using the RBAC with domain model like below that would be loaded into a filtered enforcer (filtering by domain).
Did some perf testing and majority of the time is being spent in parsing the rows into memory. Load times from data source seem to not be significant. The times rise as number of rows needing to be parsed grows.

I have a somewhat large number of policy rows to parse. Roughly 1000,

[2022-09-26 15:04] hsluoyz commented on #392
@imp2002 @Shivansh-yadav13

/cc @nodece

[2022-09-27 03:03] imp2002 commented on #392
Time spent in parsing the rows into memory? Does it need to be loaded every time for authentication? Isn't it only loaded once when the application starts? Sorry, I don't know much about node applications, but in java, it only loads at startup and if you use distributed, you can also use watcher to avoid loading each time authentication. 👀

[2022-09-27 11:29] hsluoyz commented on #392
@elenasch what Node.js web framework do you use?

[2022-09-27 13:30] elenasch commented on #392
just running a CLI for now, no frameworks, but just testing out node-casbin library ... NodeJS `v16.13.2`

[2022-09-27 13:33] elenasch commented on #392
@imp2002 the idea is to load a filtered subset of policy for every request that would be coming in. Each request would contain information about which domain to use, and I'd want to load only the subset for that domain for faster lookups and enforce evaluations.
As the number of domains/tenants grows loading everything in memory would also likely be an issue

[2022-09-27 13:56] hsluoyz commented on #392
@elenasch you should keep cache (subset rules) in memory, this is how Casbin is designed to use.

[2022-09-27 13:56] #392 closed

[2022-09-27 15:08] ItsKDaniel commented on #386
This does not work with Vue + Vite as well. I am getting the same error when I tried using [vue-authz](https://github.com/casbin-js/vue-authz), or [casbin.js](https://github.com/casbin/casbin.js).

The issue is with polyfills for Node is not available in the main casbin npm package (node-casbin). Since casbin.js and the wrappers like react-authz, vue-authz are browser targeting libraries, we would

[2022-09-27 16:03] hsluoyz commented on #386
@imp2002 @Shivansh-yadav13 @nodece

[2022-10-02 06:42] Shivansh-yadav13 commented on #387
@vaseala there is no conflict like keywords, but found a bug which is causing this whenever a word ends with `r` or `p` like you said `attr` and `user`. Thanx for raising the issue

[2022-10-04 14:04] #387 closed

[2022-10-29 20:36] IonVillarreal opened #395 "Problem in Safari, v5.19.1"
hello, since version 5.19.1, it cannot be executed in Safari (attached a screenshot)

<img width="1033" alt="image" src="https://user-images.githubusercontent.com/12217695/198851313-fb0c8898-7e95-4c35-bb31-92c165fe4b61.png">

It seems that the problem is incompatibility with 'regex lookbehind' for Safari

https://caniuse.com/js-regexp-lookbehind

I don't have the error in version 5.19.0, I think t

[2022-10-30 10:49] hsluoyz commented on #395
@imp2002

/cc @nodece

[2022-11-12 05:52] und3fined commented on #395
Any fix for it?

[2022-11-12 06:17] und3fined commented on #395
I have manual patch with
[code]

[2022-11-12 13:46] #395 closed

[2022-11-12 15:26] nodece commented on #395
It looks like a good idea, could you make a PR?