[2018-08-01 11:43] marypriyanka opened #1 "Facing issue while starting"
Hi,

While I execute the below command
**npm run-script build**

I am getting this error

[code]

[2018-08-01 13:48] nodece commented on #1
Sorry, The project  in the development stage, Because we deleted the entry file, we will fix it immediately.

[2018-08-16 14:33] hsluoyz commented on #1
Hi @marypriyanka , the project has hit its 1.0.0 version several days ago. We believe it's ready for use now. Can you try again about the issue you encountered? Thanks.

[2018-08-27 08:23] guissy opened #19 "TypeError: Cannot read property 'trim' of undefined"
rvals[j] maybe undefined

https://github.com/casbin/node-casbin/blob/8f0315c62a4167c497723bccce4240bdf52cdb10/src/coreEnforcer.ts#L321
https://github.com/casbin/node-casbin/blob/8f0315c62a4167c497723bccce4240bdf52cdb10/src/coreEnforcer.ts#L325

[2018-08-27 08:30] hsluoyz commented on #19
I think it's not bad to expose these ``array index out of bounds`` errors to the developers for two reasons:

1. It is caused by compile-time error. The exception will alert the developer. If we cover the error, we gain nothing but make the developer unaware of what's going wrong.
2. No additional checks, so performance is improved.

[2018-08-29 15:18] veotax opened #20 "What's the storage?"
So, how to set the mongodb connecting configuration?
Can I store the data in mysql ?

@linkypi, Node-Casbin supports to store policy data to MySQL, PostgreSQL, SQLite, Microsoft SQL Server, See: https://github.com/casbin/node-casbin#policy-persistence

[2018-08-29 15:23] nodece commented on #20
@veotax See [https://github.com/node-casbin](https://github.com/node-casbin)

[2018-08-29 15:24] veotax opened #21 "How to do RBAC with account, organization, user, membership, role structure?"
@maxpaj, Node-Casbin supports the ``RBAC with domains`` model, see here: https://github.com/casbin/node-casbin#examples. In this model, domain can also be called tenant, or organization as you said. The roles are assigned within a domain context.

You can mix the RBAC model with other models like ACL, ABAC, RESTful. it's more flexible than other available auth libraries.

[2018-09-03 05:39] szy0syz opened #22 "Will have js-mongodb-adapter ?"
项目纯MongoDB开发，想用MongoDB做storage，会考虑出个 “js-mongodb-adapter ”吗？

[2018-09-03 08:05] Chalin-Shi commented on #22
@szy0syz Is it waterline orm acceptable？

[2018-09-03 15:33] szy0syz commented on #22
@Chalin-Shi  Yes, acceptable, but i like Mongoose ODM 🌝.

If I really need it, maybe I will write a js-mongoose-adapter in the same way as js-sequelize-adapter.

[2018-09-03 15:41] Chalin-Shi commented on #22
@szy0syz Awesome, if you do this good job you also can opensource it on our org.

[2018-09-03 15:55] #22 closed

[2018-10-15 12:53] dreamdevil00 opened #23 "[Feature Request] Add support for typeorm"
Is there a plan to support typeorm for policy persistence？

[2018-10-15 14:01] nodece commented on #23
@dreamdevil00 Of course we will as soon as possible

[2018-10-15 16:55] nodece commented on #23
Now, you can use ```yarn add typeorm-adapter```.

[2018-10-15 16:55] #23 closed

[2018-10-16 01:10] dreamdevil00 commented on #23
Blazing fast！Nice

[2018-10-18 01:01] hsluoyz commented on #23
The README has been updated: https://github.com/casbin/node-casbin#policy-persistence

[2018-10-18 01:02] hsluoyz commented on #1
Closed as stale.

[2018-10-18 01:02] #1 closed

[2018-10-18 02:36] #19 closed

[2018-10-31 14:59] ghaiklor opened #24 "Can not remove grouping policy"
Hi. I can not `removeGroupingPolicy` from enforcer.

Here is the test case to reproduce:

[code]

[2018-10-31 15:23] hsluoyz commented on #24
This is a bug. It has been fixed in: https://github.com/casbin/node-casbin/commit/b80b66fa75b7fdc9d5fdd20f1bef8aaf3c90081c

[2018-10-31 15:24] ghaiklor commented on #24
Wow, that was fast, thanks a lot. BTW, I just found another one bug with `addGroupingPolicy` with `addRoleForUser`. I'll post it as a separate issue in few minutes.

[2018-10-31 15:28] ghaiklor opened #25 "Can not add role for a user in case g = _, _, _"
I have the following role definition:

[code]

But, when I am trying to add a role for a user, the function `addRoleForUser` accepts only two parameters (it is hardcoded), so I can not provide the domain.

Here is the test-case I wrote to check that:

[code]

So, as a result, I am getting the following error:

[code]

[2018-10-31 15:30] ghaiklor commented on #25
I am wondering if the same inconsistency in similar methods like `getUsersForRole`...

[2018-10-31 15:53] hsluoyz commented on #25
Hi. The ``domain`` param has been added, see: https://github.com/casbin/node-casbin/commit/e876217bcf4e352fc73bd98949c74812661c0e47

[2018-11-01 09:30] ghaiklor commented on #25
Yeah, the first one with removing grouping policies seems like resolved. My test case was able to resolve.

Just to note the test case I'm talking about:

[code]

[2018-11-01 09:32] hsluoyz commented on #25
Can you check this issue too?

[2018-11-01 09:32] ghaiklor commented on #25
sure, let me build casbin locally then with your last changes, few minutes...

[2018-11-01 09:41] ghaiklor commented on #25
At first glance it works fine. Here is my test cases for roles:

[code]

[2018-11-01 11:10] hsluoyz commented on #25
I think this is enough :) I have released ``1.1.4`` here: https://www.npmjs.com/package/casbin/v/1.1.4

[2018-11-01 13:50] ghaiklor commented on #25
I just finished with covering all the remaining methods with similar tests and everything is ok. Though, I've found the last one issue with `getUsersForRole`.

Here is the test case:

[code]

`getUsersForRole` are failing with the error:

[code]

[2018-11-01 15:03] hsluoyz commented on #25
What you found is another bug. It should have been fixed in: https://github.com/casbin/node-casbin/commit/bf656cc20a7b78b6c38882ec905dfbdd0e3c70c3

[2018-11-01 15:30] ghaiklor commented on #25
Is there a possibility to not include domain as a prefix ?

IMO, it is more UX-friendly when `getUsersForRole` returns only a subject as it specified in grouping policy, without domain prefix. Though, if it is hard to do in terms of casbin, it's fine.

[2018-11-02 09:08] hsluoyz commented on #25
It has been fixed in: https://github.com/casbin/node-casbin/commit/cbc1a782a3bc34e8a4acc3f3a502d5124e7dfc78

[2018-11-02 10:19] ghaiklor commented on #25
I've finished covering few more edge cases for management api and everything is passing with your latest `master` branch.

So, you can publish new version from the `master`. To be clear, I've covered all the interfaces in Enforcer, so seems like ALL of it working as expected in terms of `g = _, _, _`.

[2018-11-02 13:51] hsluoyz commented on #25
Good to hear it. I have released ``1.1.5``: https://www.npmjs.com/package/casbin/v/1.1.5

BTW, if you have time, you can add your tests to this project's [test](https://github.com/casbin/node-casbin/tree/master/test) :)

[2018-11-02 14:41] ghaiklor commented on #25
I've written them in JavaScript, not TypeScript, so I'm not sure it fits it :)

[2018-11-02 14:43] hsluoyz commented on #25
OK It's a pity :(

[2018-11-02 14:43] #25 closed

[2018-11-08 18:43] ahushh opened #27 "TypeError: rvals[j].trim is not a function"
Get that error trying to use both of ABAC and RBAC models.

I have the following model:

[code]

Also some records in 'policy.csv' which look like:

[code]

Here is my code:

[code]

[code]

[code]

I've tried to fix that by removing trim call when `rvals[j]` is not a string and it works. But this is my first use of Casbin and I'm not sure if I use Casbin correctly at all.

Versions:

[code]

[2018-11-08 23:31] hsluoyz commented on #27
This error is because your ``r.sub`` is a struct: ``{ id: 1 }`` in ``g(r.sub, p.sub)``. The ``g`` function only accepts two string parameters, to check whether the 1st param ``r.sub`` has a role named the 2nd param ``p.sub``.

``enforcer.enforce('admin', 'post', 'delete')`` works because the first half of matcher: ``(g(r.sub, p.sub) && r.obj == p.obj && r.act == p.act)`` is true, so Casbin doesn't

[2018-11-09 12:12] ahushh commented on #27
Thanks for your explanation.

[2018-11-09 12:12] #27 closed

[2018-11-13 16:22] ghaiklor opened #28 "Watcher does not wait for updating the policy"
When I'm providing the enforcer with watcher to reload policy on changes, it actually does not wait for it. It leads to the problem, when policy is inconsistent for a some time.

Here is how I am injecting the watcher:

[code]

Surely, watcher has implemented required interface, but, when CoreEnforcer calls an update method in watcher, it actually does not wait for it. `update` method in watcher c

[2018-11-13 23:58] hsluoyz commented on #28
Hi, it seems to be a bug. Can you make a PR for it?

[2018-11-14 08:58] ghaiklor commented on #28
@hsluoyz https://github.com/casbin/node-casbin/pull/29

[2018-11-14 10:55] hsluoyz commented on #28
Thanks for the PR! Merged.

[2018-11-14 10:55] #28 closed

[2018-12-01 12:48] jonqiao opened #30 "where can I find web-ui?"
In the guide, it mentioned there is a web-based UI for model management and policy management..
where can I find it?? how can I use this web-ui in my own node-casbin application??
should I develop the web part by myself ?? any guide there???

[2018-12-06 23:09] lucasrolim-intuitive opened #31 "Error retrieving JSON attribute (rvals[j].trim)"
I'm trying to use an ABAC policy model, but I'm having some problems to retrieve the attributes from my JSON variable. Here is a simplified example:

My policy file:

[code]

Model file:

[code]

JS call

[code]

This returns:

`UnhandledPromiseRejectionWarning: TypeError: rvals[j].trim is not a function`

It works fine when I set  'data1'  as enforcer's second argument and remove the ".name" from

[2018-12-07 02:44] hsluoyz commented on #31
@lucasrolim-intuitive can you try if this issue is fixed by the latest commit? You may need to copy and paste the source code. When you conform it's fixed, we will release a new version in NPM.

[2018-12-07 13:48] lucasrolim-intuitive commented on #31
It looks ok now. Thank you for the quick answer!

[2018-12-07 13:50] #31 closed

[2018-12-07 13:56] hsluoyz commented on #31
@lucasrolim-intuitive we have released v1.1.6, which has this issue fixed: https://www.npmjs.com/package/casbin/v/1.1.6

[2018-12-13 15:27] ghaiklor opened #33 "Synchronizing issues when several instances"
Does casbin support working in several application instances or does it provide an interface to implement such?

### Problem

Let us say we have 2 instances of API: `API 1` and `API 2`.
Each of these instances have casbin enforcer inside the application.
So, we have `casbin 1` in `API 1` and `casbin 2` in `API 2`.

Each of them are looking in the same collection in database.
But, considering the i

[2018-12-13 15:38] hsluoyz commented on #33
You need to use the "Watcher" mechanism to keep policy consistence among multiple Casbin enforcer instances. See: https://github.com/casbin/casbin#policy-consistence-between-multiple-nodes. Like Adapter, a Watcher can be backended by KV stores like Redis, ZooKeeper, etc.

However, those watchers are written in Go and will be used by Golang's Casbin instead of Node-Casbin. So what backend do you wa

[2018-12-13 15:43] ghaiklor commented on #33
We are using MongoDB as a storage, unfortunately node-casbin does not have adapter for Mongoose at the moment, so we have implemented our own. It does work with single instance, but have issues with multiple.

As a watcher I thought about MongoDB collection stream - https://docs.mongodb.com/manual/changeStreams/#watch-collection-database-deployment. In case it will not be applicable, we can use Ra

[2018-12-13 16:03] hsluoyz commented on #33
In fact, we have ``Waterline Adapter`` and ``TypeORM Adapter`` which both support MongoDB, if you do not insist in using Mongoose. And even for Mongoose, we are already working on the ``Mongoose Adapter``. See: https://github.com/casbin/node-casbin#policy-persistence.

And of course, we welcome third-party contribution on new adapters. So we could add your adapter to our list if it's open source :

[2018-12-13 16:33] ghaiklor commented on #33
BTW, are there any chances to tell casbin not to use in-memory ? So, when enforcer got `can()` call, it uses not the in-memory storage, but database. Somehow to force casbin to use database for policy decision.

[2018-12-14 01:19] hsluoyz commented on #33
Even if Casbin doesn't use in-memory policy, the policy rules also have to be loaded into memory from DB first before policy enforcement. The possible issue here is how to load the policy from DB. In my view, there are three options:

1. Refresh all policy rules from DB before every decision. This will be no difference with manually calling ``LoadPolicy()`` then ``Enforce()`` in current implementa

[2018-12-14 09:16] ghaiklor commented on #33
Thanks for a great explanation. I came up with the similar approach you describe at point 3.

The main reason we can't use watcher for policy refreshing is - eventually consistent. Our business requirements does not allow to have "eventual consistency", so we'd like to go with `loadFilteredPolicy()`.

I already made a PR, making `loadFilteredPolicy()` an async function, so waiting for an update in

[2018-12-17 09:48] BlitzInternet opened #35 "Node.js API Documentation?"
Hi, great project here, currently trying to do some tests with it.
But is there a proper API documentation in javascript? Currently, when not using TS, it seems very hard to get into. I've been trying to translate some methods from the website's examples in Go, cross-referenced with the TS sources, but there's little feedback why something does/doesn't work.

Example:

[code]

Are there plans to i

[2018-12-17 09:54] nodece commented on #35
Can you provide a minimized example?

[2018-12-17 10:02] BlitzInternet commented on #35
Thanks for the quick response.
Here's the full example. The policy file is empty, since I am trying to do this all in memory. If there's a better way without specifying a file, I haven't found it yet.

[perm.txt](https://github.com/casbin/node-casbin/files/2685432/perm.txt)

[2018-12-17 10:31] ghaiklor commented on #33
@hsluoyz I got a permission from our CTO to publish an adapter. The adapter I wrote fully tested and already being used in production. Though, we can do that somewhere in January, I need time for cleaning up the code, make required preparations for open-source it.

[2018-12-17 13:54] nodece commented on #35
It is working :)
[code]

[2018-12-17 14:57] nodece commented on #35
About your test, Add Policy will keep it in memory, I use mocha test is pass.

[2018-12-18 07:48] BlitzInternet commented on #35
Oh, it was missing the "remove p". Thanks, it works now.

[2018-12-18 07:48] #35 closed

[2018-12-18 10:09] hsluoyz commented on #33
That's good news! Thank you for your support on Casbin :)

[2018-12-18 10:09] #33 closed

[2019-01-03 22:40] lucaslrolim opened #38 "getAllNamedRoles returning null"
I have implemented these two methods:

[code]

And some of my policies are:

[code]

In both methods the result is null. Is this a bug?

[2019-01-04 05:50] nodece commented on #38
Can you provide model conf.

[2019-01-04 06:00] hsluoyz commented on #38
@lucaslrolim We have added some tests here: https://github.com/casbin/node-casbin/commit/43e2654f2779fdb56af05eefb98af62186a8717c . And it shows ``e.getAllRoles()`` works. Can you try this test and see if there's anything wrong with your code.

[2019-01-04 17:01] lucaslrolim commented on #38
@nodece
My model is:

[code]

@hsluoyz I'm using `getAllNamedRoles`, maybe this method has differences of `getAllRoles`. I will double check my code.

[2019-01-05 01:11] nodece commented on #38
## dev env
node: v8.11.2
casbin: v1.1.9

## simple test
[code]
## print result
[code]
You can try using the above test :)

[2019-01-05 04:37] hsluoyz commented on #38
@lucaslrolim ``getAllRoles()`` calls ``getAllNamedRoles()`` internally, so it proves this function works for at least for the example.

[2019-01-07 06:03] AtarisMio opened #40 "[Feature Request] separating packages"
It is recommended that separating packages to implement core functions and configuration/policy reads to facilitate multi-environment (e.g. web front-end) usage.

[2019-01-07 06:17] hsluoyz commented on #40
@AtrisMio It current form unacceptable? Node-Casbin is mostly a backend project, because doing authorization in front-end is useless, the client-side can always be hacked. Or do you have specific feature requests about improvement for Casbin on client-side?

[2019-01-07 10:45] lucaslrolim commented on #38
The error was really related to the order of my Express routes. Sorry about the mistake e thank you for the help @hsluoyz and @nodece.

[2019-01-07 10:45] #38 closed

[2019-01-07 15:10] vanduc1102 opened #41 "Is there any options to cache model and policy files"
I added a new line
[code]
and there is a console log show for every request
should we have an option to cache the files

[2019-01-07 15:56] vanduc1102 commented on #41
sorry, it was my bad to put
[code]
on every request,
closed the ticket

[2019-01-08 01:31] hsluoyz commented on #40
This is something we already discussed about and indeed very useful. But we still did not start to do it. Do you have any suggestions on how to do it?

[2019-01-09 04:31] hsluoyz commented on #41
Why doesn't it work? Can you provide a minimal runnable example. And what to expect to see and what you actually got?

[2019-01-11 13:01] ghaiklor opened #42 "Mongoose adapter for casbin"
As promised, we have published our mongoose adapter for casbin that we are using in production at the moment.

Feel free to review it and if everything is ok, hoping to add it as official recommended adapter in README for node-casbin.

https://github.com/elasticio/casbin-mongoose-adapter

P.S. I made it thanks to your MongoDB adapter written in Go, so basically, this one is just a port from Go to

[2019-01-11 13:06] hsluoyz commented on #42
Hi @ghaiklor In fact, already did that even before you ask, see: https://github.com/casbin/node-casbin#policy-persistence

I saw lots of tests and docs. It's really a high-quality implementation, I also learnt something from it :) BTW, you can also add some badges, including Travis CI and code coverage, also the NPM version. Then it would be better.

Thanks for the contribution indeed!

[2019-01-11 13:12] ghaiklor commented on #42
Wow, that is a really fast response, thank you 🙏
Yeah, I thought about badges, did not have time for this yet.

Regard to tests, there are not much tests. Just simple smoke tests that check that when you are modifying policy, changes reflects in MongoDB.

[2019-01-14 07:11] vanduc1102 commented on #41
Hi @hsluoyz ,
Thank for reply,

would you please have a look at my example here : https://github.com/vanduc1102/nodejs-example/tree/master/node-casbin-example ?

Thank you.

[2019-01-15 15:38] nodece commented on #41
@vanduc1102 You must call `app.use` before set express router, You can try this code in `not-working.js`.
[code]

[2019-01-15 15:43] nodece commented on #41
@vanduc1102 Because `Authz`  function is async, you must wait promise then set router.
[code]

[2019-01-15 17:42] judahb opened #43 "Some broken links in readme"
Please fix these broken links in the readme

https://github.com/casbin/node-casbin/blob/master/src/main/java/org/casbin/node-casbin/main/Enforcer.java

https://github.com/casbin/node-casbin/blob/master/src/test/java/org/casbin/node-casbin/main/RbacAPIUnitTest.java

[2019-01-16 04:04] nodece commented on #43
@judahb Thanks

[2019-01-16 04:04] #43 closed

[2019-01-16 13:00] hsluoyz commented on #43
@judahb It has been fixed in: https://github.com/casbin/node-casbin/commit/bc30d3142171dbbb43d27e8b2e4820a0d59bfc39

[2019-01-17 14:01] hsluoyz commented on #41
Assume this issue is resolved, please open another issue if not fixed.

[2019-01-17 14:01] #41 closed

[2019-01-21 01:38] hsluoyz commented on #42
@ghaiklor I think I can help. I have sent a PR here: https://github.com/elasticio/casbin-mongoose-adapter/pull/1. Can you switch on the following services? So the badges will work.

- Travis CI: https://travis-ci.org/elasticio/casbin-mongoose-adapter
- Coveralls: https://coveralls.io/github/elasticio/casbin-mongoose-adapter
- Codebeat: https://codebeat.co/projects/github-com-elasticio-casbin-mongo

[2019-01-21 11:53] hsluoyz commented on #42
Thanks for merging the PR. This issue can be closed now :)

[2019-01-21 11:53] #42 closed

[2019-01-21 11:53] ghaiklor commented on #42
@hsluoyz thanks, merged the PR.

We are using CircleCI instead of Travis, so I've updated the badge to grep status from CircleCI.
Regard to coveralls, it is not integrated from our side, so there are no information (no sense for doing that).

I'll add the badge from coveralls once it will be enabled for the repo.

[2019-01-21 11:56] hsluoyz commented on #42
@ghaiklor , Coveralls is free for open-source projects and I use it a lot. You can enable the repo in: https://coveralls.io/ if needed :)

[2019-01-25 07:12] dreamdevil00 opened #45 "[question] enforcer api"
`public async deleteRole(role: string): Promise<void>`
Why not return `Promise<boolean>` ?

`public async deleteRolesForUser(user: string): Promise<boolean> `
Why not add `domain` param

[2019-01-25 12:40] dreamdevil00 commented on #45
What would happen if there was two same username in different domain when I call `deleteRolesForUser()`

[2019-01-25 12:47] nodece commented on #45
It will deletes all roles

[2019-01-25 12:54] dreamdevil00 commented on #45
I mean that I want to delete all roles for user in domain A not domain B(two usernames are same), is it possible? If there is something wrong, correct me please, Thank you

[2019-01-25 13:00] nodece commented on #45
`deleteRolesForUser` will delete user in domain A and B(two usernames are same), so You should call `deleteRoleForUser()` specify `domain` param.

[2019-01-25 13:09] dreamdevil00 commented on #45
Got it! Thanks.
Why not make it `public async deleteRolesForUser(user: string, domain?:string): Promise<boolean> `

If the domain not provided, then delete all roles for a user(or users with the same name in different domain), otherwise delete all roles for a user in the domain

[2019-01-25 13:32] hsluoyz commented on #45
@dreamdevil00 , about ``deleteRole()``'s returning boolean, it's a little complicated. In fact it has called two functions:

https://github.com/casbin/node-casbin/blob/10b28babccbe38686466c889d88919e22edb5431/src/enforcer.ts#L184-L192

Both ``removeFilteredGroupingPolicy()`` and ``removeFilteredPolicy()`` return boolean, it's not possible to return these two boolean values in one function return.

[2019-01-25 14:11] dreamdevil00 opened #46 "RoleManager interface return type"
I see that the return type of function signature in `interface RoleManager` are not async value.
In fact, all functions related to IO operation in JavaScript should be async, for example:

`getRoles(name: string, ...domain: string[]): string[];`
Perhaps it will query database
So it should be

`getRoles(name: string, ...domain: string[]): Promise<string[]>`

for compatibility, maybe it can be
`getR

[2019-01-25 16:07] nodece commented on #46
I agree with you point, but getRoles get data from cache in casbin, so return `string[]`.

[2019-01-25 16:14] hsluoyz commented on #46
@dreamdevil00 currently, only one class: ``DefaultRoleManager`` implements the ``RoleManager`` interface. And ``DefaultRoleManager`` involves no IO operations like querying DB. Do you say that you have implemented a ``RoleManager`` that accesses DB? If yes, we can discuss about how to solve it.

[2019-01-25 16:24] dreamdevil00 commented on #46
Havn't but plan to.

As the document says,
`The role manager is used to manage the RBAC role hierarchy (user-role mapping) in node-Casbin. A role manager can retrieve the role data from node-Casbin policy rules or external sources such as LDAP, Okta, Auth0, Azure AD, etc.`

At my first glance,  database maybe in the `etc`, so role manager can retrieve  the role data from database and `getRoles(nam

[2019-01-25 16:38] dreamdevil00 commented on #46
The return value of other functions in `RoleManager`(except `printRoles()`) maybe  async too, since they probably interact with database.

[2019-01-26 02:18] dreamdevil00 commented on #45
@hsluoyz It seems no error with `deleteRolesForUser`

[2019-01-26 13:38] hsluoyz commented on #46
I have changed those functions to async: https://github.com/casbin/node-casbin/commit/e40a13ffd8fbb2d924f36541beb24b3a02593261

But it seems to have bugs, because a lot of tests failed. I didn't find the cause. I'm not a JS expert actually. Can you help me find them? @dreamdevil00 @nodece

[2019-01-26 15:50] hsluoyz commented on #46
It seems that the expression eval library ([expression-eval](https://github.com/donmccurdy/expression-eval) & [jsep](https://github.com/soney/jsep))  we used doesn't support to execute async functions. I have created issues to ask their authors:

1. https://github.com/donmccurdy/expression-eval/issues/22
2. https://github.com/soney/jsep/issues/97

[2019-01-27 13:45] dreamdevil00 commented on #46
Yes, please checkout esprima parse [demo page](http://esprima.org/demo/parse.html#)

[2019-01-27 14:02] hsluoyz commented on #46
But it is a parser instead of an expression executor? I didn't find information about how to eval an expression with it.

[2019-01-28 03:40] vanduc1102 commented on #41
Thanks @hsluoyz ,
My bad,
as your suggestion, here is the code to fix the issue:

[code]
thank so much for reply

[2019-01-29 10:07] hsluoyz commented on #46
@dreamdevil00 , first thanks! Very impressive work!

I'm OK with the breaking change in ``enforce()``. But can you make your commit a PR and submit it to origin? Better let them publish a new release on NPM. Because it's good practice for Casbin to always follow official libraries, not a fork from third-party.

[2019-01-30 02:23] bobpaul2612 opened #47 "Enforce auth problem"
hi every one

i have a new problem when i try the simple example

i write a simple function named casbin_test() , and "keymatch_model.conf" , "keymatch_policy.csv"
is the example files.

but the
[code]
is always return "false"

[code]

and when i want check the roles that a user has
[code]

it will display
[code]

[2019-01-30 03:47] nodece commented on #47
1. Please provide policy about always return false
2. Call `getPermissionsForUser` get permissions that a user has  in ACL model

[2019-01-30 05:59] bobpaul2612 commented on #47
this is my model
[code]
and this one is my policy
[code]
i write a test function
[code]

and the result is
[code]
i think that it can`t load the policy correct.

had method can show load policy?

[2019-01-31 00:48] bobpaul2612 commented on #47
i found that because i didn`t have a space , the program was wrong.

now i slaved this problem

thank for reply

[2019-01-31 00:48] #47 closed

[2019-02-05 11:51] hsluoyz commented on #45
Closed as resolved.

[2019-02-05 11:51] #45 closed

[2019-02-05 12:12] #20 closed

[2019-02-07 07:53] murzatayev opened #48 "keyMatch2('/abc', '/') must return false"
There is currently an issue in the way keyMatch2 is working. I think this expression `keyMatch2('/abc', '/') must return `false`.

This could be related to this issue recently fixed in go version https://github.com/casbin/casbin/issues/199

[2019-02-07 11:47] #48 closed

[2019-02-07 12:33] hsluoyz commented on #48
@murzatayev it has been fixed in: https://github.com/casbin/node-casbin/commit/5335c3e24126f321a24a911816b3154976ba83af

[2019-02-18 04:53] Jagadhissh opened #49 "How I have to start casbin with nodejs"
Hi sir
Iam new to Nodejs casbin how can I proceed with this
Simply
I have 3 defrent roles
1.admin
2. interviewer
3.candidate
Each and every person has his individual permissions to acces his data how can do this using Nodejs casbin
Please suggest me... With examples
Thanks in advance

[2019-02-18 11:44] hsluoyz commented on #49
@Jagadhissh please look at these issues related to RBAC: https://github.com/casbin/casbin/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+rbac

You will find the answer probably.

[2019-02-18 13:41] Jagadhissh commented on #49
Sorry.. Iam unable to understand that...
Can u give some examples using casbin Nodejs sir

[2019-02-18 13:42] Jagadhissh commented on #49
That no queries related to me sir

[2019-02-18 13:48] nodece commented on #49
Here have a repo [https://github.com/nodece/casbin-examples](https://github.com/nodece/casbin-examples), maybe can help you.

[2019-02-24 13:50] dreamdevil00 commented on #46
@hsluoyz expression-eval v2.0 has been published. check out here [npm link](https://www.npmjs.com/package/expression-eval/v/2.0.0)

[2019-02-25 00:16] nodece commented on #46
Thanks, we will refactor as soon as possible.

[2019-03-06 16:48] surgentt commented on #46
Hey interest in this fix as well. Please let me know if there is anything I can do to assist.

[2019-03-09 05:00] nodece commented on #46
@dreamdevil00 @surgentt new version has been refactor in [here](https://github.com/nodece/node-casbin/commits/async_rolemanager).
please let me know if there is have any issue.

[2019-03-12 18:03] lucasrolim-intuitive opened #52 "Policies consistency"
I'm having some issues of inconsistency when updating my table rules directly from the database. If I change some data in my database it only reflects on casbin after restarting the application.

I'm using the Sequelizer adapter at the moment.

What is the optimal way to solve this?

[2019-03-12 23:40] hsluoyz commented on #52
Hi @lucasrolim-intuitive , the question here would be how you want to notify Casbin to load your new policy rules? There can several ways:

1. Periodically load the rules: https://github.com/casbin/casbin/#multi-threading
2. Use messaging system to notify: https://github.com/casbin/casbin/#policy-consistence-between-multiple-nodes
3. Or you can customize a mechanism to call ``LoadPolicy()`` in Cas

[2019-03-26 18:23] brandonjparrott opened #53 "Using "keyMatch" in the "g" function"
I was wondering if it's possible to use the keyMatch function within the g function?

I am attempting to use the domain/tenant as an account and a user could have a role per account or a role for all accounts.

My Model:

[code]

My Policies:

[code]
User 1 has access to the role tester for all accounts. User 2 has access to the role tester for only account 21.

I have tried doing something along

[2019-03-27 03:34] nodece commented on #53
You can try implements `RoleManager` interface then call `setRoleManager` and `buildRoleLinks` method in Enforcer.

[2019-03-28 05:30] zhaochy1990 opened #54 "where can I get a complete API reference ?"
I went over the official docs, but only found this https://casbin.org/docs/en/api

Is there anywhere to get a Node.js version API reference?

[2019-03-28 06:28] nodece commented on #54
Node.js version API
https://github.com/casbin/node-casbin/blob/master/src/managementEnforcer.ts
https://github.com/casbin/node-casbin/blob/master/src/enforcer.ts

[2019-03-31 03:40] nodece commented on #54
please reopen it  if you have any questions.

[2019-03-31 03:40] #54 closed

[2019-03-31 03:41] nodece commented on #53
Hi @brandonjparrott
If you have any questions, please reopen it.

[2019-03-31 03:41] #53 closed

[2019-04-01 07:26] dreamdevil00 commented on #54
It would be better to have api docs on official website. It's more obvious. What do you think? @nodece

[2019-04-01 13:51] nodece commented on #54
Great! We are migrating documents.

[2019-04-01 18:48] Slind14 commented on #42
@ghaiklor is there a reason for the additional layer of methods? e.g. using `addPermissionForUser` instead of `addPolicy`?
The latter seems to work just fine and in real time.

[2019-04-01 19:02] Slind14 opened #56 "Pure permission groups assignable for specific domains/groups/tenants"
Hi there,

I'm looking for a way to create groups with non specific permissions. e.g. Admin -> * -> write and the ability to assign these groups to specific domains.

How would I go about this?

https://github.com/casbin/node-casbin/blob/master/examples/rbac_with_domains_policy.csv
This example is creating a group for every domain, I would like to each group only once and control the domain access

[2019-04-02 06:03] ghaiklor commented on #42
@Slind14 I think, this kind of questions better to ask @hsluoyz

AFAIU, `addPermissionForUser` is the public method which handles not only the policies but the RBAC relations as well.

When `addPolicy` is just an internal method for writing policies into the backend and ideally should not be used.

[2019-04-03 16:53] hsluoyz commented on #42
@Slind14 ghaiklor's answer is not wrong. They belong to RBAC API and Management API respectively. You can find the info here:

https://casbin.org/docs/en/management-api
https://casbin.org/docs/en/rbac-api

[2019-04-04 01:58] hsluoyz commented on #56
Can you give more users/groups/domains in your example, like 2 or 3. I can't definitely tell what you are trying to do with only one user and one domain.

[2019-04-04 01:59] hsluoyz commented on #49
Closed as stale.

[2019-04-04 01:59] #49 closed

[2019-04-04 11:29] Slind14 commented on #56
Sure, is this better to understand?

[code]

[2019-04-10 09:07] hsluoyz commented on #54
@zhaochy1990 @dreamdevil00 the API docs is finished by @nodece , see:

https://casbin.org/docs/en/management-api
https://casbin.org/docs/en/rbac-api

[2019-04-12 17:32] cube-dan opened #57 "Documentation has two broken links @ "See here for examples.""
Heads up!

On this page: https://github.com/casbin/node-casbin#policy-management, under the **Policy Management** header, the links to your examples for 1) **Management API**, and 2) **RBAC API** are returning 404.

Specifically, the links have the word _here_ linked in the sentence "See _here_ for examples."
The two urls set on the word here are, respectively:
1. https://github.com/casbin/node-ca

[2019-04-13 05:50] nodece commented on #57
Thanks, now it is fixed.

[2019-04-13 05:50] #57 closed

[2019-04-15 14:11] dreamdevil00 opened #58 "Suggestion: add official docs to repo"
It's more convenient for user to contribute to docs if the official docs are in the repo.
FYI, please checkout [typeorm](https://github.com/typeorm/typeorm)

[2019-04-15 14:42] hsluoyz commented on #58
Hi @dreamdevil00 , it's kind of difficult for Casbin to put docs into source code repo, because Casbin is a federation of projects implemented in different languages: Casbin (Go), jCasbin (Java), Node-Casbin (Node.js), etc. We have a universal docs site here: https://casbin.org/. The source is: https://github.com/casbin/casbin-website

Any suggestions?

[2019-04-16 11:07] sarneeh opened #59 "Multiline matchers support"
Golang's `casbin` [supports](https://github.com/casbin/casbin#how-it-works) multiline matchers, but this does not seem to work in the node version (I'm getting a `Error: Unexpected "\" at ...`).

It would be great to support this use case.

[2019-04-16 11:11] nodece commented on #59
Thanks, Added plan.

[2019-04-17 11:45] nodece commented on #59
@sarneeh We have released a new version to npm, you try install new version.

[2019-04-17 11:45] #59 closed

[2019-04-17 12:44] sarneeh commented on #59
Thank you!

[2019-04-18 10:26] pspani opened #61 "All policies getting deleted from the database"
Issue:
All the policies in the casbin_rules DB are getting cleared when we try adding a new policy to the DB.

Description:
The casbin library is being used in an authorizer function that's being executed in a lambda function on AWS. After a certain number of policies in the DB, when we try adding a new policy, it looks like the node-casbin library is truncating the table and then adds the new pol

[2019-04-18 10:31] nodece commented on #61
Yes. first delete all policy then renew add all policy.

[2019-04-18 10:44] pspani commented on #61
Appreciate the quick response. I didn't understand your comment. On the adapter level, I see whenever we save policy we delete all the policies and add the polices again. But on the node-casbin level, after we create a new enforcer we only need to do an add policy and then a save policy.

In the code, we are saving the policy whenever we do add policy.

[2019-04-18 11:01] nodece commented on #61
casbin enable autosave by default.
Call `addPolicy()` method then casbin will add a new policy to DB.
`savePolicy()` method will delete all policy then save all policy.

[2019-04-19 23:54] devsatishm commented on #61
@nodece  When we add a new policy, should we avoid calling `savePolicy()` after `addPolicy()`  - To avoid cleanup of entries each time?

[2019-04-20 01:27] hsluoyz commented on #61
Hi @devsatishm @pspani , when ``AutoSave`` feature is supported and enabled on the adapter, you don't need to call ``savePolicy()`` manually, your policy will be automatically saved from local enforcer memory to the remote DB each time you call ``addPolicy()``. See: https://casbin.org/docs/en/adapters#autosave

As far as I know, all our Node.js adapters support ``AutoSave``.

[2019-04-20 09:22] zmilan opened #62 "RBAC filtering roles based on domain"
Hi,

I have set up "Role definition with domains tenants" model and it works well when I use enforce() to check user permission per domain. But is there an option to filter role listing per domain? getAllRoles() return all roles for all domains and I didn't find any other way that can return me filtered roles.

[2019-04-20 13:03] nodece commented on #62
@zmilan  Please call [`getFilteredPolicy`](https://casbin.org/docs/en/management-api#getfilteredpolicy) or [`getFilteredGroupingPolicy `](https://casbin.org/docs/en/management-api#getfilteredgroupingpolicy).

[2019-04-20 19:56] devsatishm commented on #61
@hsluoyz Cool, thanks for the reply! We've just tested by removing the call to savePolicy() and it seems to work as you've mentioned.

Good work on the project, we have started using casbin for implementing the ACL/Permission model in our opensource project - https://github.com/tmobile/jazz. Also, we're thinking of contributing back by putting together DynamoDB adapter in NodeJs.

[2019-04-21 01:56] hsluoyz commented on #61
Good to hear it works! I have added your project to our site: https://casbin.org/ Let us know if you have more questions and welcome contributing back :)

[2019-04-21 04:40] zmilan commented on #62
Hi, @nodece,

Thanks for helping me. I have called them too, but the result is not exactly what I expected. Here are some examples:

getAllRoles() result:
0: "Section1Admin"
1: "Section2Admin"
2: "Section3Admin"
3: "Section4Admin"
4: "Section5Admin"
5: "Section6Admin"
6: "DomainAdmin"
7: "DomainUser"
In this result records from 0-6 are records that exist on all domains, but record 7 exists only on

[2019-04-21 05:48] nodece commented on #62
@zmilan Can you provide a minimal reop and write some test code?

[2019-04-21 05:50] #61 closed

[2019-04-21 15:19] hsluoyz commented on #62
Casbin doesn't distinguish between user and role, see: https://casbin.org/docs/en/rbac#how-to-distinguish-role-from-user

To query implicit roles or permissions, you have to use two "implicit" API functions. All other functions (except ``Enforce()``) can only see direct roles or permissions. See: https://casbin.org/docs/en/rbac#how-to-query-implicit-roles-or-permissions

[2019-04-22 06:20] zmilan commented on #62
@hsluoyz thanks for your comment and references...

I have already solved it that way, by making distinguish between user and role names... I was just thinking that there is some better way of doing it... especially because with a lot of users filtering roles would get slower...

These functions are not implemented in [node](https://casbin.org/docs/en/rbac-api#getimplicitrolesforuser) version of c

[2019-04-22 07:59] nodece commented on #62
Because I do not understand your commit.
Good news, Casbin v2.0.3 has been published to npm.
It has been supported getImplicitRolesForUser and getImplicitPermissionsForUser method.

[2019-04-22 08:10] zmilan commented on #62
@nodece I'm sorry for the misunderstanding. I wasn't speaking about an issue in these functions (`getFilteredPolicy` or `getFilteredGroupingPolicy`), I was just describing what I'm getting like results and that it is not something that I would think of a like replacement for `getAllRoles`... after @hsluoyz last response it is clear what would be way to get what I need, so I would proceed that way.

[2019-04-22 08:10] #62 closed

[2019-04-26 13:28] sbutler commented on #46
Any progress on merging this to master? It's exactly what I need.

[2019-04-27 13:13] nodece commented on #46
@sbutler  plan added, next major version.

[2019-04-29 06:24] Jarvie8176 opened #66 "keyMatch() matches unwanted policies"
Hi,

Suppose I have a model and policies defined as:

[code]

[code]

Is it correct for me to expect `keyMatch()` to behave as a glob matching, so that for the request `r, alice:*:A`, only policies `p, alice:*:*` and `p, alice:*:A` would be matched?

## Test case

[code]

## Output

[code]

[2019-04-29 12:51] nodece commented on #46
@sbutler @dreamdevil00
Hi, we has been publish a beta version to npm, call `yarn add casbin@beta`  install it.

[2019-04-29 13:21] nodece commented on #66
YES. It is match all policy.

[2019-04-29 13:25] hsluoyz commented on #66
Hi @Jarvie8176 , node-casbin internally uses [expression-eval](https://github.com/donmccurdy/expression-eval) to evaluate the matcher. Probably it doesn't support short-circuit. If you want this feature, you can ask this in their repo's issues.

[2019-04-29 15:38] Jarvie8176 commented on #66
Do you mean `keyMatch()` should match all policies in this case?

[2019-04-30 10:04] nodece commented on #66
Casbin need call policy_effect determines the return value after match all polices.

[2019-05-03 03:12] #46 closed

[2019-05-07 02:41] Jarvie8176 commented on #66
The test would pass if I used `regexMatch()` instead of `keyMatch()`. I think my question is what should `keyMatch("alice:res1:A", "alice:*:B")` return?

[2019-05-07 14:22] hsluoyz commented on #66
Hi @Jarvie8176 , ``keyMatch("alice:res1:A", "alice:*:B")`` should return false. See:

https://github.com/casbin/casbin/blob/9814ac94c19c922c0afd5c2f34255e0d543ef372/util/builtin_operators.go#L25-L37

[2019-05-07 17:26] Jarvie8176 commented on #66
I wrote a failing test here: https://github.com/Jarvie8176/node-casbin/commit/d66e4a151a2f7e7d0c41ea6152f67922b598c54b

It looks like `keyMatch()`'s precondition is that the wildcard, if exists, should be the last character in `key2` but that is satisfied in this case. To match wildcard probably it probably has to be a DP algorithm.  Would you consider using utility libraries (e.g. [matcher](https

[2019-05-09 11:25] hsluoyz commented on #66
@Jarvie8176 ``keyMatch()`` assumes that * is the last character of the string. It is not designed to handle cases like ``alice:*:B``. Please use ``regexMatch()`` for your scenario. You can add your own custom function to Casbin too.

[2019-05-09 11:25] #66 closed

[2019-05-10 15:59] hsluoyz commented on #58
Closed as stale.

[2019-05-10 15:59] #58 closed

[2019-05-11 02:16] nodece commented on #56
@Slind14 casbin does not support  this.

[2019-05-22 07:11] federicosan commented on #42
would this let me create update and delete casbin policies into a mongodb document?

[2019-05-22 08:29] hsluoyz commented on #42
Hi @federicosan , if you have questions about this adapter, please raise an issue at: https://github.com/elasticio/casbin-mongoose-adapter

[2019-05-22 08:29] hsluoyz commented on #42
Hi @federicosan , if you have questions about this adapter, please raise an issue at: https://github.com/elasticio/casbin-mongoose-adapter

[2019-06-14 09:00] SimonX200 opened #71 "escape of '.' or just using '.' in regexMatch fails"
[code]

``regexMatch(r.act, '.user.')`` translate to `.user_` which is passed to:

[code]

as ``key2``

Trying to use one of:
[code]

Leads to an TypeError.

[code]

[code]
Any suggestions?

[2019-06-14 12:22] nodece commented on #71
@SimonX200  It's work when I attempt to get expString from this model. Can you provider a minimal repo?

[2019-06-14 12:30] hsluoyz commented on #71
@nodece , I think he means that the ".user." string in ``regexMatch(r.act, '.user.')`` will be escaped to ".user_" string by the ``escapeAssertion()`` function. Because Casbin will do escaping like ``r.sub`` -> ``r_sub``. But obviously, the ".user." string in this issue is purely from Casbin users and should not be escaped.

https://github.com/casbin/node-casbin/blob/3111163c69bb43ca68a170efef933d

[2019-06-14 12:38] hsluoyz commented on #71
Hi @SimonX200 , can you give a minimized working example for this?

[2019-06-14 13:38] SimonX200 commented on #71
----- test-model.conf
[request_definition]
r = sub, obj, act

[policy_definition]
p = sub, obj, act

[policy_effect]
e = some(where (p.eft == allow))

[matchers]
m = regexMatch(r.act, '.user.')

-----  casbin-test.js

const casbin = require('casbin');
const path = require('path');

(async () => {
  try {
    const model_file = path.join(__dirname, 'test-model.conf');
    const enforcer = await cas

[2019-06-14 15:50] nodece commented on #71
@SimonX200 Thanks for the report! I published a new version to npm.

[2019-06-14 15:50] #71 closed

[2019-06-14 15:51] nodece commented on #71
@SimonX200  Use `m = regexMatch(r.act, '.user.')` is work.

[2019-06-15 18:58] calebfaruki opened #73 "[Feature Request] Support string policy"
## Problem

This library would be much easier to support and implement against if the expected policy document was a string instead of a file or database connection.

## Question

Is there a way for us to pass the policy document as a string? If so, could you provide an example?

## Context

Using GraphQL, we pass a policy CSV in the context of a request and check authorization against the policy

[2019-06-15 20:43] calebfaruki commented on #73
I was able to circumvent this problem by ducktyping a so-called StringAdapter in JavaScript.

[code]

[2019-06-15 20:43] calebfaruki commented on #73
Re-opened in case this is worth discussing.

[2019-06-16 01:40] hsluoyz commented on #73
Hi @calebfaruki , I think the StringAdapter way you used is the correct solution. For serving the wider community, would you like to contribute by packaging the StringAdapter into a GitHub repo and uploading it to npm so others can also use it? It will be very helpful.

[2019-06-16 15:05] calebfaruki commented on #73
https://github.com/casbin/node-casbin/pull/74

[2019-06-22 15:14] hsluoyz commented on #73
Merged: https://github.com/casbin/node-casbin/pull/74

[2019-06-22 15:14] #73 closed

[2019-06-22 15:58] hsluoyz commented on #40
Hi @AtrisMio we have started the front-end version Casbin named ``casbin.js``, see: https://github.com/casbin/casbin.js For further issues, please raise issue in that repo.

[2019-06-24 14:07] krayis opened #75 "Using enforce on view to show/hide different elements"
I'm doing something along the lines of:
`res.locals.enforcer = enforcer;`

Using ejs for my templating I do something like:
`<% if (enforcer.enforce(sub, obj, act) == true)  { } %>

The problem is ejs render the template synchronously and the method enforce is async and returns a promise.. so this doesn't work.

Apparently theres a frontend implementation which returns synchronously and if I used

[2019-06-24 15:02] nodece commented on #75
You can use node-Casbin v2.x, It's enforce is synchronous.

[2019-06-24 15:16] krayis commented on #75
@nodece Thank you that works!

[2019-06-24 15:46] #75 closed

[2019-06-27 13:44] #56 closed

[2019-06-28 13:15] hsluoyz commented on #52
Closed as stale.

[2019-06-28 13:15] #52 closed

[2019-06-30 03:11] veotax opened #76 "throw error if does not have access to attributes"
[code]

@rained23 , you can try Casbin to implement it.

[2019-07-04 23:58] mjugger opened #77 "building ABAC policies via custom UI interface"
I'm trying to create an app where end users can create ABAC policies for resources in my app via a custom UI. In a nutshell, all attributes would be predefined by me for use in the app and the user would go to the custom UI and select attributes based on the subject, action, resource, and time.
Can Casbin support such a system? I've been digging into Casbin trying to fully grasp how to use it with

[2019-07-05 15:46] hsluoyz commented on #77
Hi @mjugger , the model can be dynamic too. It can be loaded from code or string instead of .CONF file. See: https://casbin.org/docs/en/model-storage

[2019-07-05 15:51] rictorres opened #78 "casbin@3.0.1 is 18mb instead of the previous 2mb"
hi, there.

i've noticed that after https://github.com/casbin/node-casbin/commit/cab0ceb36f125e074314f37856f9543a9b2fc445 landed we now have [`jscodeshift`](https://www.npmjs.com/package/jscodeshift) as a dependency, the issue is that this module has 17mb.

we're heavy users of casbin inside lambdas however having a single function with 18mb+ is [extremely bad in terms of performance](https://gith

[2019-07-05 15:52] hsluoyz commented on #78
@nodece

[2019-07-05 15:57] hsluoyz commented on #78
Hi @rictorres , BTW, can you tell me where to get the image size as your picture? I want to add a badge in the repo's README to show the package size, as an alert :)

[2019-07-05 16:02] rictorres commented on #78
@hsluoyz the image has a link to https://packagephobia.now.sh/result?p=casbin :)

badge:
[code]

[![install size](https://packagephobia.now.sh/badge?p=casbin)](https://packagephobia.now.sh/result?p=casbin)

[2019-07-05 16:13] hsluoyz commented on #78
Thanks! Already added: https://github.com/casbin/node-casbin#node-casbin

We will fix this issue and publish a new release soon.

[2019-07-05 16:19] hsluoyz commented on #71
Hi @SimonX200 BTW, I saw you are using single quote ' instead of double quote " in the matcher. This is not following Casbin model grammar. Even if it works now, we may remove its support in future release. Please change to using double quote ".

[2019-07-05 16:30] rictorres commented on #78
awesome news! thanks, man :D

[2019-07-05 21:34] mjugger commented on #77
Ah I see. Thanks for the response.
So there is one other thing that this situation brings up and that is: writing policies via a custom UI.

Please bare with me because my understanding of casbin is not great. So in my scenario I plan to create an ABAC rule builder that will utilize ABAC subject, object, action, and environment (for now that will be time but can change) and will allow the end user

[2019-07-06 06:35] hsluoyz commented on #78
Hi @rictorres , we have released v3.0.2:

![image](https://user-images.githubusercontent.com/3787410/60752677-218ce400-9ffb-11e9-9a06-b069fe71132e.png)

[2019-07-06 06:35] #78 closed

[2019-07-06 07:04] hsluoyz commented on #77
So you want to have different models for different users, we have similar feature in the Casbin-Server project, which is in Golang though: https://github.com/casbin/casbin-server

For Casbin UI, we also have some demo-level Admin Portal projects: https://casbin.org/docs/en/admin-portal. But it seems that there's no ABAC attribute level editing UI.

[2019-07-06 09:57] rictorres commented on #78
beautiful! thanks again :D

[2019-07-27 08:40] webleaf opened #82 "Does it depends on node.js? Can it be used in other js environments?"

[2019-07-27 09:22] hsluoyz commented on #82
Please see the front-end JS version: https://github.com/casbin/casbin.js

[2019-07-27 09:22] #82 closed

[2019-07-28 11:44] nodece commented on #82
@webleaf Can you want to make it run in web?

[2019-08-13 01:12] oliujunk opened #83 "Same calls with different results"
node: v10.16.0, casbin: v3.0.3
Policies are stored in mysql, first call console.log(await enforcer.getUsersForRole('consumer')), return [ 'YFKJ187244601', 'test' ], second call console.log(await enforcer.getUsersForRole('consumer')), return [ 'YFKJ187244601', 'test', '7792707', 'bjdxt' ], .....It's different every time.
I am also try  to store policies  in redis, the test result are same.
The poli

[2019-08-13 01:28] oliujunk commented on #83
Works well when I use node-casbin v2.0.4

[2019-08-13 01:39] hsluoyz commented on #83
@nodece

[2019-08-13 02:22] nodece commented on #83
@oliujunk Please create minimum reproducible test repo, thanks.

[2019-08-14 10:25] J12934 opened #84 "Dead links in readme"
Hi 👋

I've noticed that there are a couple of links pointing to sections in the readme which have recently been deleted.

1. "Persistence" pointing to: https://github.com/casbin/node-casbin#policy-persistence
2. "Policy management APIs" pointing to: https://github.com/casbin/node-casbin#policy-management

These sections appear to have been deleted in https://github.com/casbin/node-casbin/commit/14

[2019-08-16 15:02] hsluoyz commented on #84
Hi @J12934  can you make a PR to fix it? Please refer to the Golang Casbin.

[2019-08-16 15:08] J12934 commented on #84
Yup, I can. At least for Persistence it seems relatively straight forward, as it always just linked to the Web Page.

The "policy management apis" link used to link to a proper subsection, it does so too on the golang casbin. Should I add these section back? (See: https://github.com/casbin/casbin#policy-management)

[2019-08-17 02:32] hsluoyz commented on #84
Hi @J12934 , yes, you should add it back, as in: https://github.com/casbin/casbin/commit/6100a6f7a2c4cb5708892f3e6dba55600e405c4a

[2019-08-17 18:33] fdorantesm commented on #24
I've the same issue using file adapter and mongoose adapter. I've installed casbin yesterday.

[2019-08-18 01:27] hsluoyz commented on #24
@fdorantesm , hi, can you raise a new issue and give some details about it?

[2019-08-18 03:28] #84 closed

[2019-08-22 15:51] nodece commented on #83
@oliujunk Thanks for the report! I submitted a PR: #86

[2019-08-24 08:38] #83 closed

[2019-08-24 08:40] hsluoyz commented on #77
@nodece , I think this is what I said about ABAC's GUI on Online editor this Monday.

[2019-08-26 18:16] austince opened #87 "GitHub release for 3.04"
Hi there,

I notice that `3.0.4` has been released to NPM but not to GitHub. Is it possible to make a release for it?

Thanks!

[2019-08-27 00:36] hsluoyz commented on #87
@nodece

[2019-08-27 12:37] nodece commented on #87
@austince @hsluoyz released in https://github.com/casbin/node-casbin/releases/tag/v3.0.4

[2019-08-27 12:37] #87 closed

[2019-09-17 20:36] shlomi-nx opened #88 "Upgraded from 2.0.4 to 3.0.4, but all my tests are failing"
Anything changed to the semantics of model/policy in this version?

[2019-09-18 01:46] nodece commented on #88
@shlomi-nx See: https://github.com/casbin/node-casbin/releases/tag/v3.0.0-beta.1

[2019-09-18 01:46] #88 closed

[2019-09-18 02:48] shlomi-nx commented on #88
Thank you! I will check these out.

[2019-09-18 02:51] shlomi-nx commented on #88
Yep, that was it. Thank you for pointing this out.

[2019-09-25 12:00] HarshadMohape0904 opened #89 "Throws ERROR Unexpected token import"
Hi,
I am trying the example given in node-casbin readme and facing following error.

error: uncaughtException: Unexpected token import
/server/services/casbin.service.js:1
(function (exports, require, module, __filename, __dirname) { import * as casbin from 'casbin';
                                                              ^^^^^^

SyntaxError: Unexpected token import
    at createScript (vm.j

[2019-09-25 12:39] nodece commented on #89
@HarshadMohape0904 Using `const casbin = require('casbin');` instead of `import * as casbin from 'casbin';`

[2019-09-25 12:39] #89 closed

[2019-09-26 03:17] hsluoyz commented on #89
@HarshadMohape0904  why were you using Casbin in wrong way? Do we have incorrect docs? If yes, please report it. We will fix it.

[2019-09-26 05:32] HarshadMohape0904 commented on #89
I tried the above solution but it leads me to a new error as below.

var test = await casbin.newEnforcer("../path/model.conf", "../path/policy.csv").then(function (enforcer) {
                         ^^^^^^

SyntaxError: Unexpected identifier
   at createScript (vm.js:80:10)
   at Object.runInThisContext (vm.js:139:10)
   at Module._compile (module.js:607:28)
   at Object.Module._extensions..js (

[2019-09-26 05:34] akshay27395 commented on #89
@HarshadMohape0904 The await method is not working. please use

[2019-09-26 05:43] HarshadMohape0904 commented on #89
Thanks, @akshay27395 I tried it and it worked...!

[2019-10-15 16:42] MPiccinato opened #90 "Performance issues with ~20k policies"
Was wondering if anyone else is experiencing a slow down even with a relatively low number of policies.

For our ~20k policies we notice it takes around 5 seconds to evaluate them.

Here is our conf.

[code]

We have seemed to narrowed it down to [this line in `coreEnforcer.ts`](https://github.com/casbin/node-casbin/blob/ce5082ca9a755ac68b821c32feda5e500e0fb8d6/src/coreEnforcer.ts#L307)

Switching

[2019-10-16 00:35] hsluoyz commented on #90
@nodece , can we remove `await` as the whole `enforce()` function is `async`?

@MPiccinato if you remove it, then the whole `enforce()` function will not be `async` any more. did you encounter any error about it?

[2019-10-16 18:31] MPiccinato commented on #90
@hsluoyz We didn't encounter an error when using `compile` instead of `compileAsync` and then removing the async/await nature of the `enforce()` function.

I am assuming here...but I assume it was implemented with an async/await since it could have been possible that one of the functions from the model would be async?

[2019-10-18 18:51] MPiccinato commented on #90
Here is a fork and PR that we were looking at using to address the issue.

https://github.com/JustSift/node-casbin/pull/1

However, we noticed a few tests are now failing. We are going to look into it a little further but was wondering if anyone here might be able to give a quick look at it.

[2019-10-19 03:23] hsluoyz commented on #90
@MPiccinato @nodece , I think maybe caching the expression can speed up better. I made a PR: https://github.com/casbin/node-casbin/pull/91 but it's not working. I'm not a JS expert, can anyone help me fix my error?

[2019-10-19 06:27] nodece commented on #90
@MPiccinato Can you provide the node version?

[2019-10-19 06:34] nodece commented on #90
@MPiccinato Can you provide the Node.js and node-casbin version?

[2019-10-19 09:39] dreamdevil00 commented on #90
Maybe it's better to introduce a new api called `enforceAsync` for expressions that include async  operations and `enforceSync` for expressions that includes only sync operations.
For backwards compatity, the behaviour of  current `enforce` api is the same as `enforceAsync`.
What's your thoughts, @hsluoyz

[2019-10-19 09:48] nodece commented on #90
@dreamdevil00 When use `RBAC` model, `Enforce()` is not working. Because the `RoleManager` interface provides some async function.

[2019-10-19 10:07] nodece commented on #90
The testbed is: `Macbook Pro(Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz)`

Log: `Execution time (hr): 0.15s 3.81765945ms`

[code]

[2019-10-19 16:08] rbickham11 commented on #90
@nodece
Node `12.10.0` (also seeing the issues in 12.2 in our deployments)
node-casbin `3.0.4`

[2019-10-19 23:55] hsluoyz commented on #90
For backwards compatity, the behaviour of current enforce api is the same as enforceAsync.
What's your thoughts,

@nodece is this OK?

[2019-10-20 09:04] nodece commented on #90
https://github.com/casbin/node-casbin/issues/90#issuecomment-544121834

[2019-10-20 09:53] nodece commented on #90
@rbickham11
I can not found performance issue.
5000 policies only need 0.15 seconds in my system.

[2019-10-21 00:58] hsluoyz commented on #90
@MPiccinato

[2019-10-21 14:35] rbickham11 commented on #90
@nodece

Here is a script that replicates the issue (files attached)
[casbintest.zip](https://github.com/casbin/node-casbin/files/3751359/casbintest.zip)
:

[code]

`Execution time (hr): 3s 542.650945ms`

Is there a reason you were dividing by 20 in your example? The method returns second and nanosecond parts according to the docs: https://nodejs.org/api/process.html#process_process_hrtime_time

A

[2019-10-21 14:53] nodece commented on #90
@rbickham11
Thank for the test file you provided! I need  some time!

Dividing by 20 is the average time, it did 20 times `enforce()`.

[2019-10-21 14:59] rbickham11 commented on #90
@nodece When running this as a more isolated script rather than debugging it inside of our codebase it seems to be much faster. Getting around 100ms times. I'll continue to investigate also, but we've never really seen anything like this before, so it's really strange to me. Sorry for the confusion

[2019-10-21 15:17] rbickham11 commented on #90
@nodece @MPiccinato Not sure if this can lead to anything useful, but when debugging this in vscode in an isolated place it takes a long time, where when just running it directly without debugging, it does not. The difference is a massive 3.5s -> 100ms. If I click continue on that breakpoint it does actually take 3.5s to get to the following breakpoint. I would normally be fine just attributing th

[2019-10-21 15:27] nodece commented on #90
@rbickham11

In debug model, Casbin needs 3-6s.

Please reopen the issue if you have any problem!

[2019-10-21 15:40] rbickham11 commented on #90
@nodece Our enforcements are still taking ~3.5s inside of our app without debugging. I was just providing the debugging context for the isolated script in case that could be useful for attributing this to other potential causes. Are you saying that it's expected for the enforcements to take 3-6s while debugging?

[2019-10-22 00:36] nodece commented on #90
@rbickham11 When with debugging，I expected for the enforcements to take 3-6s. Can you help me to reproduce with debugging？

[2019-10-23 14:21] juicycleff commented on #22
@hsluoyz I just wrote this https://github.com/juicycleff/casbin-mongodb-adapter

[2019-10-23 14:22] juicycleff opened #92 "I wrote a new Adapter for pure MongoDB"
Here is the link https://github.com/juicycleff/casbin-mongodb-adapter

[2019-10-23 14:30] hsluoyz commented on #92
@juicycleff Thanks for your contribution to Casbin community :)

Left some comment in: https://github.com/juicycleff/casbin-mongodb-adapter/issues/1

And you can add it to our list: https://casbin.org/docs/en/adapters by making a PR. It can be placed between ORM and NoSQL (aka 1st in NoSQL).

[2019-10-24 07:22] juicycleff opened #93 "Pure MongoDB Adapter"
I just wrote and released this adapter https://github.com/juicycleff/casbin-mongodb-adapter

[2019-10-24 07:22] #93 closed

[2019-10-26 01:50] hsluoyz commented on #90
I think @dreamdevil00 's solution is good. We can add a new function maybe called `enforceSync()`. The existing `enforce()` will not be changed. So we don't need to debate which one is better.

Keep in mind to share most of the code between two functions.

Does it sound OK to you all?

[2019-10-26 03:22] dreamdevil00 commented on #90
As for `expression-eval`, in current implementation, there's no way to distinguish between sync  and async calculation, so `compileAsync` regargds any part of the expression as asynchrounous calculation even if the part is synchrounous, this is a major performance hit.

[2019-10-26 05:33] nodece commented on #90
@hsluoyz, I think @dreamdevil00 provide the solution is good. But in Casbin, If `matcher` has async function and using `compile` , the `enforce` doest not provide the correct result.

[2019-10-26 17:14] calebfaruki opened #95 "Request definition doesn't work without subject."
In this first example, the subject is included in the request.

[code]

[code]

[code]

But, if I remove the subject from the request definition, the CSV, and the enforce argument signature, I would expect the result to be the same. However, the coreEnforcer.ts returns an `Indeterminate` result.

[code]

[code]

[code]

The justification for removing the subject entirely is based on my particular

[2019-10-27 06:23] nodece commented on #95
Hi @calebfaruki,
The `request_definition` defines the `enforce()` argument, The `policy_definition` defines the policy.

The first example: The first parameter of `enforce` is allowed to be any character, and the policy file has `Resource, Read`, so calling `enforce()` returns `true`.

The second example: Policy should be `p, Resource, Read` and call `enforce()` will returns `true`.

[2019-10-29 13:33] nodece commented on #90
Hi @rbickham11 @dreamdevil00 @MPiccinato I added a `enforceWithSyncCompile()` for it : casbin#96

[2019-10-29 13:36] hsluoyz commented on #90
Merged: https://github.com/casbin/node-casbin/pull/96

[2019-10-29 13:36] hsluoyz commented on #90
Closed as resolved.

[2019-10-29 13:36] #90 closed

[2019-10-29 13:39] hsluoyz commented on #92
Fixed in: https://github.com/casbin/casbin-website/pull/43

[2019-10-29 13:39] #92 closed

[2019-10-29 13:46] hsluoyz commented on #95
Hi @calebfaruki , I tested your case, the result is true (allowed): https://github.com/hsluoyz/node-casbin/commit/8a8fa92efbb36a0a2e817c413767b76596423b6a

[2019-10-29 13:54] nodece commented on #90
`v3.0.5` has been published to npm.
Use `enforceWithSyncCompile` instead of `enforce`.

[2019-11-05 14:54] hsluoyz commented on #95
Closed as stale.

[2019-11-05 14:54] #95 closed

[2019-11-19 13:30] dreamdevil00 opened #99 "Suggestion: using standard-version to publish new version and manage changelog"
It's a common best practice to have a changelog file in the open source repository.

Using [standard-version](https://github.com/conventional-changelog/standard-version) make it easier to publish new version and manage changelog.

[2019-11-19 13:31] hsluoyz commented on #99
@nodece

[2019-11-19 13:33] nodece commented on #99
Good idea, added to plan!

[2019-11-29 11:02] Chellhooo opened #100 "policy work on online editor but fail with api"
hi~
I test my model online and it works.
<img width="1206" alt="屏幕快照 2019-11-29 下午6 30 40" src="https://user-images.githubusercontent.com/30390409/69862922-7f85d500-12d6-11ea-95eb-b4adde7c88aa.png">

But when i fetch permissions with node api `getImplicitPermissionsForUser`, it got empty array:
[code]

And I also can't use `hasPermissionForUser` to judge whether a user has a permission
[code]

Her

[2019-11-29 15:26] nodece commented on #100
Can you provide model and policy in text format？

[2019-11-29 16:17] Chellhooo commented on #100
sorry to forget that ...
[casbin.txt](https://github.com/casbin/node-casbin/files/3905905/casbin.txt)

[2019-11-30 08:04] nodece commented on #100
@Chellhooo Please check the consistency of g and p in the model and policy.

[2019-11-30 08:17] nodece commented on #100
@Chellhooo Thank you for your report! Casbin does not support the feature. We team need to discuss it.

[2019-11-30 08:22] nodece commented on #100
In Casbin, RBAC API doesn't care matcher.

[2019-11-30 09:17] Chellhooo commented on #100
@nodece Thanks~  Looking forward to new support in casbin.

[2019-12-02 11:24] #100 closed

[2019-12-13 14:21] austince opened #103 "GitHub Release for 3.0.8"
Hi, can you please make a GitHub release for 3.0.8? Would you accept a PR that integrates [`semantic-release`](https://github.com/semantic-release/semantic-release), which would eliminate these types of issues?

[2019-12-13 14:22] hsluoyz commented on #103
@nodece

[2019-12-15 04:00] nodece commented on #103
@austince Thanks, I'm already doing it.

[2019-12-15 04:18] hsluoyz commented on #103
@nodece What about `semantic-release`?

[2019-12-15 09:27] nodece commented on #103
@hsluoyz See: https://github.com/semantic-release/semantic-release.

[2019-12-15 14:36] nodece commented on #103
Hi guys, `semantic-release` is integrated in node-casbin!

[2019-12-15 14:36] #103 closed

[2020-01-13 04:29] GopherJ opened #104 "getImplicitPermissionsForUser returns different result in two versions of casbin (2.0.4 & latest)"
model.conf
[code]

policy.csv
[code]

index.js
[code]

In casbin@2.0.4, it returns correctly:

[code]

but in casbin@3.0.8, it returns:

[code]

any ideas @hsluoyz @nodece ?

[2020-01-14 04:10] GopherJ opened #105 "Database transactions similar api `addPolicies`, `removePolicies`"
Hello, recently I'm having another issue, while creating a new user/role, I would like to assign some default rights for it.

We can definitly call multiple times `addPolicy` but it cannot guarantee that all the default policies have been added, I'm risking having an `invalid user` in that case.

So I'm thinking if we could have some wrappers like `addPolicies`, `removePolicies`.

`addPolicies` re

[2020-01-14 04:20] hsluoyz commented on #105
I think this idea is awesome. I have been expecting such a feature for a long time. The function naming is also good. Go ahead.

[2020-01-14 06:26] StinsonZhao opened #106 "enforce twice give different result"
In my case, I have a function to check permission. But I've found that call `enforcer.enforce` twice will give me different results even using exactly the same parameters. Like this:

[code]

Has anyone encountered a similar problem? That's very confusing.

Casbin version: 3

[2020-01-14 06:38] StinsonZhao commented on #106
Same: https://github.com/casbin/node-casbin/issues/83

You can close

[2020-01-14 06:53] #106 closed

[2020-01-14 15:25] Sir-Kyle-Richardson opened #110 "Undefined Columns v3, v4, v5 when deleting role with a domain"
Using casbin in node with casbin-knex-adapter (https://github.com/sarneeh/casbin-knex-adapter)

Role and policy in db
![image](https://user-images.githubusercontent.com/8643571/72356772-ce859f00-36b7-11ea-8200-568c4640dfe6.png)

Code snippet being ran:
![image](https://user-images.githubusercontent.com/8643571/72356596-7f3f6e80-36b7-11ea-83f4-bcb95ba16a7f.png)

Invoked with:
[code]

Error Thrown:

[2020-01-15 00:33] hsluoyz commented on #110
Hi @Sir-Kyle-Richardson , I think you should send the issue to the adapter repo: https://github.com/sarneeh/casbin-knex-adapter

[2020-01-15 15:32] #110 closed

[2020-01-24 08:37] kowthalganesh opened #112 "Am using casbin-sequelize-adapter to load the policy from database"
By default, the adapter is creating id, ptype, v0, v1, v2, v3, v4 columns if not exist
Can I add more columns to handle the application policies
Like application_id as v5, group_id as v6,... etc

I tried to add the columns but during the retrieval, it's returning only the columns which is created by the adapter.

[2020-01-24 16:06] hsluoyz commented on #112
You need to modify the adapter code, then publish a new NPM package.

[2020-01-26 14:20] #112 closed

[2020-01-28 07:12] kowthalganesh commented on #112
Then I cant able to get the upgrades from the actual adapter, isn't it?

[2020-01-28 07:29] hsluoyz commented on #112
I don't understand what you meant.

[2020-01-28 08:01] kowthalganesh commented on #112
I mean, if I change the adapter settings to add more columns and publish the adapter as a new package in npm. same time when you release some features in your adapter, how do I consume the updates, since I was completely using the different packages, how can I get your updates in my packages

[2020-01-28 08:11] hsluoyz commented on #112
You have to rebase or cherry-pick the official updates to your fork.

Or if you can figure out a way to dynamically determine v5, v6,.. with parameters. I think this way works as Javascript is a scripting language. You can send a PR about it.

[2020-01-29 08:03] kowthalganesh commented on #112
Actually this is what my tech stack was front end **angular/react** back end **nodejs,** using node-casbin, I can configure the rules and casbin-sequelize-adapter was used to store and retrive the policy and permission dataset from the database, How to handle the access control for the front end, Do we have any docs for that, i mean if i want to show a button based on the permission in UI, How cas

[2020-01-29 16:02] hsluoyz commented on #112
@kowthalganesh , see: https://dashboard.casbin.org/

[2020-01-30 04:36] nodece commented on #112
@kowthalganesh Get user permission through the manager_api then pass them to the frontend.

[2020-01-30 06:49] kowthalganesh commented on #112
@hsluoyz yes when I do analyze i found the dasboard page, but it was always blank

![image](https://user-images.githubusercontent.com/5681640/73426592-c3d73500-435a-11ea-8fe3-2405b9ef6d1d.png)

[2020-01-30 07:02] hsluoyz commented on #112
@kowthalganesh can you access this URL? https://dashboard.casbin.org:8001/api/get-models

[2020-01-30 07:06] kowthalganesh commented on #112
Thats what i was thinking then too, casbin_rule is a table which is created by casbin-sequelize-adapter, its an adapter which is having 8 columns, id, ptype, v0 to v5

id   | ptype |     v0          |       v1               |            v2     |        v3         |

1    |  p       |  admin       |    POST              |     /project   |   appname  |
2    |  p       |  admin       |   CreateProjec

[2020-01-30 07:10] kowthalganesh commented on #112
No @hsluoyz

![image](https://user-images.githubusercontent.com/5681640/73427831-b0799900-435d-11ea-8148-f11209acc3c0.png)

[2020-01-30 07:33] hsluoyz commented on #112
Try it again: https://dashboard.casbin.org/

[2020-01-30 07:34] hsluoyz commented on #112
For UI authz, please see: https://github.com/casbin/casbin-editor

[2020-01-30 07:44] kowthalganesh commented on #112
Cool Thank you @hsluoyz, It's working now https://dashboard.casbin.org/. let me explore things once again, thanks for your support, it's awesome guys..

[2020-01-31 10:31] kowthalganesh commented on #112
I was trying to understand the casbin-editor, its a react based code, i have gone through all the packages, validation, syntax,..etc everything makes sense to me, now am trying the same in angular
application, i was facing so many packages and dependency related issues, do you have any repo for angular application

![image](https://user-images.githubusercontent.com/5681640/73532483-c90faf00-4442-1

[2020-01-31 11:46] hsluoyz commented on #112
@nodece

[2020-01-31 12:04] kowthalganesh commented on #112
After my analyze, did two things to solve the errors

1. package.json - added this configuration in package.json
"browser": {
    "fs": false,
    "path": false,
    "os": false
  }

2. Polyfill.ts - added this below line in polyfill.ts

(window as any).global = window;

[2020-01-31 16:18] hsluoyz commented on #112
Good to hear you solved it !

[2020-02-01 09:49] nodece commented on #112
In my application, I combine v1 and v2 as keyword to pass to the frontend.

Response text:
[code]

frontend with jsx
[code]

[2020-02-03 06:09] kowthalganesh commented on #112
I got an idea, how you guys handled in reactjs after cloning the repo - https://github.com/casbin/casbin-editor, Dependency, packages, compiling mechanism, everything is different from react to angular, thought of if you build something on angular it will be great, else, am working on the base setup, once it's done we can publish this as an angular reference

[2020-02-03 07:24] kowthalganesh commented on #112
Done, Implementation for angular is up and running without an issue.

[2020-02-03 08:32] hsluoyz commented on #112
Good. Is it open source?

[2020-02-03 09:01] kowthalganesh commented on #112
Yes, it's an open-source similar like https://github.com/casbin/casbin-editor in angular version

[2020-02-03 15:02] hsluoyz commented on #112
Is there a GitHub link?

[2020-02-04 10:00] kowthalganesh commented on #112
https://github.com/kowthalganesh/casbin-angular

[2020-02-04 13:03] kowthalganesh commented on #112
I have a thought process on casbin-adapter to retrieve the dataset from the database.

Casbin adapter automatically created a table called **casbin_rule**,
inserting a set of columns **id, ptype, v0,...v5**

In case, if we want more we can modify in the table, but casbin will always return the columns which are created by casbin-adapter, not manually modified. why we made like this, is there any l

[2020-02-08 03:33] helibin opened #113 "rbac api deleteRolesForUser"
The following code doesn't work:

[code]

DB:
![image](https://user-images.githubusercontent.com/14595752/74078552-c6c2db80-4a66-11ea-91c3-1120cfa631ab.png)

model.conf:
![image](https://user-images.githubusercontent.com/14595752/74078561-db9f6f00-4a66-11ea-9c14-4c58d47381e5.png)

[2020-02-08 05:10] hsluoyz commented on #113
@helibin Hi, please use English.

[2020-02-09 03:43] helibin commented on #113
e.deleteRolesForUser('alice') it doesn't work
e.enforce('tester', '/test/1') it doesn't work

[2020-02-09 03:45] hsluoyz commented on #113
Please call `savePolicy()`

[2020-02-09 03:54] helibin commented on #113
OK, it works~ thank

Hope that can be added to documents

[2020-02-09 04:06] hsluoyz commented on #113
@helibin can you make a PR to fix the docs?

[2020-02-09 04:44] nodece commented on #113
@helibin Can you provide the Casbin version and adapter?
@hsluoyz The Casbin user should not call `savePolicy` manually. When the policy changes, Casbin can automatically save the policy to the DB.

[2020-02-10 09:51] GopherJ opened #114 "Lock is missing while pulling changes of policies"
While using `koa`, `redis-watcher`, `cluster`, `typeorm-adapter`, I found that sometimes the behavior can be very strange.

So I checked https://github.com/casbin/node-casbin/blob/master/src/coreEnforcer.ts and found this line: https://github.com/casbin/node-casbin/blob/master/src/coreEnforcer.ts#L137
[code]

I think here a mutex lock is missing. If we are pulling policies, we shouldn't let `Enfor

[2020-02-10 10:14] GopherJ commented on #114
This can be useful: https://www.npmjs.com/package/mutexify

[2020-02-10 11:19] GopherJ opened #115 "enforcer.load_policy() must be atomic"
Following #114, another potential issue is also located in `load_policy` function:

https://github.com/casbin/node-casbin/blob/master/src/coreEnforcer.ts
https://github.com/casbin/node-casbin/blob/master/src/coreEnforcer.ts#L137

[code]

Image that we did two quick changes but ` await this.adapter.loadPolicy(this.model)` will take time (10 minutes) to finish.

So here what actually happens is:

we

[2020-02-10 12:30] GopherJ commented on #115
This one may be false because I just wrote simple code to simulate the situation and it seems that I can get correct result.

[code]

result
[code]

[2020-02-10 12:50] GopherJ commented on #115
But it's really strange because different enforcer instances have different policies in model.

Any one has any idea? I'm using `koa` with `cluster`, `redis-watcher`, `casbin@3.1.0`

You can see from here, while refreshing pages, a new request has been made to a different `koa` process but they have different policies in model....

![Peek 2020-02-10 20-44](https://user-images.githubusercontent.com

[2020-02-10 15:02] hsluoyz commented on #114
@GopherJ can you see how Golang's Casbin handle it?

[2020-02-10 15:06] hsluoyz commented on #115
@nodece @chalince

[2020-02-10 15:51] nodece commented on #115
@hsluoyz @GopherJ
For atomic, node-Casbin will use https://github.com/ide/await-lock to implement a synchronous enforcer.

For asynchronous programming, we can only use `async` or `callback` in Node.js.

In order to use https://github.com/ide/await-lock, we need to convert synchronous functions in Manager API to `async` functions.

It is breaking changes :(
Very sorry!

[2020-02-10 15:53] nodece commented on #115
You can try upgrade `node-casbin` to the latest version！

[2020-02-10 15:55] nodece commented on #114
@hsluoyz I will implement a synchronous enforcer.

[2020-02-11 07:50] GopherJ commented on #115
Hello @nodece I found some problems of redis-watcher:

The first problem is: When I launch the server, it will trigger one time `update`:

![image](https://user-images.githubusercontent.com/33961674/74218272-b15ae500-4ce4-11ea-807b-3a6baf0106c0.png)

The second problem is: Somewhere it calls two times `this.adapter.loadPolicy(this.model)` instead of continuos:

[code]
this.adapter.loadPolicy(this.

[2020-02-12 07:21] GopherJ commented on #105
I'll implement it first in `casbin-rs`

[2020-02-13 03:51] helibin commented on #113
"casbin": "^3.1.0"
"casbin-sequelize-adapter": "^2.0.0"

[2020-02-13 03:52] hsluoyz commented on #113
@helibin is this issue fixed?

[2020-02-13 03:56] helibin commented on #113
Yes! It works when I used the 'e.savePolicy()' after e.deleteRolesForUser('alice')

[2020-02-13 03:57] #113 closed

[2020-02-13 14:14] nodece commented on #115
@GopherJ  Hi guys, please try node-casbin@4.1.0 and use `newSyncedEnforcer` creates a synchronized enforcer via file or DB.

[2020-02-13 14:14] #115 closed

[2020-02-13 14:17] nodece commented on #114
@GopherJ feat a synchronous enforcer in #117.

[2020-02-13 14:17] #114 closed

[2020-02-13 14:23] nodece commented on #115
related issues: #114 .

[2020-02-14 14:52] nodece commented on #113
It is working :)

[code]

[2020-02-19 08:42] Sefriol opened #118 "RBAC deleteUser does not work correctly and is not tested"
[Coveralls](https://coveralls.io/builds/28711628/source?filename=src/enforcer.ts#L187)
[Source](https://github.com/casbin/node-casbin/blob/master/src/enforcer.ts#L187)

I think deleteUser should follow similar idea as deleteRole:

[code]

Since we want to remove assigned grouping policy and policies assigned to that user. Now when using `mongoose-adapter`, it will just remove user grouping policie

[2020-02-19 09:54] Sefriol commented on #118
[Created related tests for mongoose-adapter](https://travis-ci.org/Sefriol/casbin-mongoose-adapter/builds/652400079?utm_source=github_status&utm_medium=notification)

[2020-02-19 13:29] nodece commented on #118
@hsluoyz  what do you think?

[2020-02-19 15:33] Sefriol commented on #118
I'll create a pull request with RBAC tests and required changes.

[2020-02-19 15:50] hsluoyz commented on #118
@nodece @Sefriol can you check how Golang's Casbin handle it? I want all Casbin implementations to follow the same behavior on this.

[2020-02-19 17:53] Sefriol commented on #118
https://github.com/casbin/node-casbin/pull/119

[2020-02-19 18:07] Sefriol commented on #118
@hsluoyz Is the function properly tested in Golang? Since implementation looks the same, so issue should be the same. Unless the implementation of `removeFilteredGroupingPolicy()` is different in golang.

However, in [golang tests](https://github.com/casbin/casbin/blob/master/rbac_api_test.go#L99) it does not seem like user permission tests are correct.

[In line 107](https://github.com/casbin/cas

[2020-02-20 03:17] hsluoyz commented on #118
Hi @Sefriol , I think you are right. Both Golang and Node.js Casbin have wrong implementation. Can you make a PR for Golang too to fix the code and test?

[2020-02-20 07:29] Sefriol commented on #118
I'll update the PR later on today. Golang does not seem to be that complicated either, but it has been awhile since I worked on Golang-project.

[2020-02-20 12:56] #118 closed

[2020-02-20 13:00] nodece commented on #118
:tada: This issue has been resolved in version 4.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/casbin)
- [GitHub release](https://github.com/casbin/node-casbin/releases/tag/v4.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-26 10:22] Marvin9 opened #120 "PostgreSQL adapter"
I am willing to work on PostgreSQL adapter.

[2020-02-26 11:41] nodece commented on #120
@Marvin9
1. import  { Adapter  } from 'casbin'
2. all methods to implement the adapter

You can get some adapter code in https://github.com/node-casbin.

[2020-02-26 13:16] Marvin9 commented on #120
I will drop comment as soon as I start working on it. Before that I will understand the codebase first.

[2020-02-27 10:55] NitinBhasneria opened #121 "Docs Shortage"
There is no contributing doc, which is making it difficult for newcomers to run node-casbin in their server.

[2020-02-27 10:57] hsluoyz commented on #121
See middlewares: https://casbin.org/docs/en/middlewares

Tutorials: https://casbin.org/docs/en/tutorials

[2020-02-27 11:28] NitinBhasneria commented on #121
Actually I am talking about how to run this node-casbin in my pc server? I can't get any tutorial for this.
In every open-source org it is written in readme itself.

[2020-02-27 12:00] hsluoyz commented on #121
Node-Casbin is a library. You cannot directly "run" a library. But you can write an application, which invokes Casbin. Or run our test cases:

https://github.com/casbin/node-casbin/blob/cd2bb542d1f76d6e9dfc81df1f6be4ed975dfc4c/test/model.test.ts#L30-L41

The middleware link I gave will show how to use Casbin in a web application (via web frameworks lik e Express.js, Nest.js, etc.)

[2020-02-28 03:13] Marvin9 commented on #121
I know you are talking about experimenting to get familiar with APIs. Here is the basic template I used following README.md.

[code]

Now you can change conf or csv files accordingly & try different cases. Follow test cases for that as @hsluoyz  told.
Refer [PERM metamodal](https://vicarie.in/posts/generalized-authz.html) to understand how .conf works

[2020-02-28 06:58] NitinBhasneria commented on #121
@hsluoyz Can you tell me when will be the casbin cpp, casbin js repo will be updated, as this is the projects.

[2020-02-28 08:09] #121 closed

[2020-03-02 05:24] saxon-wu opened #122 "The getFilteredPolicy() Spread Operator is meaningless"
getFilteredPolicy(fieldIndex,...FieldValues) returns an empty array if it takes more than two arguments.

This is in the managementapi.test.ts file.
[code]

[2020-03-02 05:45] saxon-wu commented on #122
Oh! I am sorry.
I got it wrong.
FieldValues is [v0, v1, v2...] in the same row

[2020-03-02 05:45] #122 closed

[2020-03-04 06:44] valshrih opened #123 "Implementation docs for Node-casbin"
hi everyone:smiley:, I am beginner with casbin(node+ casbin). I wanted **node-casbin** as  Authz in  my project so it can handle all my rule & permission and user will authorize first for every Action done but i'm not able to find proper **documentation** with which i can start Authz( node+casbin) implementation. Any help will be appreciable.

[2020-03-04 06:48] nodece commented on #123
See: https://casbin.org/docs/en/get-started.

[2020-03-04 07:26] valshrih commented on #123
thanks for your reply @nodece ,  i have gone through [docs ](https://casbin.org/docs/en/get-started.),
at the basic level i can implement.i wanted to create a hybrid conf model file so i can control ACL, RBAC and RBAC with tetants.

[2020-03-04 07:46] nodece commented on #123
Casbin can support it.
Select `RBAC with domains/tenants` in https://casbin.org/docs/en/supported-models

[2020-03-04 13:26] Marvin9 commented on #120
I have started working on it.
https://github.com/Marvin9/casbin-postgre-adapter

@hsluoyz whom should I connect for any query?

[2020-03-05 05:11] nodece commented on #123
closed as resolved.

[2020-03-05 05:11] #123 closed

[2020-03-12 04:41] hsluoyz commented on #120
@Marvin9 contact @nodece

[2020-03-12 06:36] brt-srini-rama opened #125 "Enforcer returns false if the policy loaded form casbin-mongodb-adapter"
Hi,
  I just started playing around with casbin, and found it as interesting, but I got struck in to an issue, the same policy and model works good in casbin-editor and later on, in my code also works fine if I create the enforcer from the policy.csv file. If I use the "casbin-mongodb-adapter" to load the policy the evaluation result from the enforcer returns false which seems like strange. could

[2020-03-12 06:54] brt-srini-rama commented on #125
Realized the error, I should have use "addNamedPolicy(): function instead of "addPolicy()".
Its my mistake...

Thanks

[2020-03-12 06:54] #125 closed

[2020-03-12 13:19] brt-srini-rama opened #126 "casbin addNamedGroupingPolicy() to support domain"
Hi,
 I wonder, how to add the grouping policy to the DB when RBAC with domain is realized.
Basically my modle.conf has two groups one without domain and other with domain.

[code]

I am using native "casbin-mongodb-adapter" for persisting the policy and group details and loading it on every bootup using adapter, and hence I am forced to use the API "Enforcer.addNamedGroupingPolicy()" but I lately

[2020-03-12 13:19] #126 closed

[2020-03-12 13:19] hsluoyz commented on #126
Transfered to Node-Casbin

[2020-03-13 16:08] GinaMaronov commented on #120
What's wrong with the casbin sequelize adapter?

https://github.com/node-casbin/sequelize-adapter

[2020-03-14 04:26] Marvin9 commented on #120
Nothing wrong with sequelize. There are organizations and individuals who clearly [don't want to include ORMs](https://www.yegor256.com/2014/12/01/orm-offensive-anti-pattern.html) to their system.

Advantage of ORM is to make development process easy. However while you use casbin you don't write any query yourself, it is managed by adapters. Eventually if the advantage fades away then why to add e

[2020-03-14 11:24] hsluoyz commented on #120
@nodece I also have this question: why we use a PostgreSQL adapter instead of the ORM adapter?

[2020-03-15 06:42] nodece commented on #120
@hsluoyz I agree with @Marvin9, we should support pure database drivers.

[2020-03-16 10:30] Sefriol commented on #105
I think this should be added adapter level, not node-casbin level.

Not all storage options fully support ACID operations, and those should be the only way to do it (i.e. what in databases are called "transactions").

I had some ideas for this in [Mongoose](https://github.com/Sefriol/casbin-mongoose-adapter/tree/feature-synced-adapter)

i.e. you use normal casbin operations and create your addPoli

[2020-03-16 10:40] GopherJ commented on #105
@Sefriol We need it in both sides I think. In casbin side it's pretty simple because everything happens in memory. In adapter side we need to implement these methods according to databases.

If the database supports Transaction then we use transaction.
If not then we check the result of every operation, if one operation fails, we remove all the inserted/removed policies.

[2020-03-16 10:56] Sefriol commented on #105
There is a lot of things that you have to take into account if you do not do this on adapter level. Let's say that you added 10000000 policies and one of them failed. Now when you are removing these policies, it fails again. What do you do?

On the other hand, if you just do it on adapter level, you can just abort and refresh your enforcer and you are done. If transaction is not saved, nothing hap

[2020-03-16 11:52] GopherJ commented on #105
@Sefriol I'm aware of this problem. It's tough but for me I can accept that part of adapters will have this type of unexpected errors.

However I don't like the solution that every time after executing addPolicies I need to reload all policies to casbin enforcer.

[2020-03-16 11:54] GopherJ commented on #105
We can actually give users the information.

If the database doesn't support transaction, then you may get unexpected errors. (addPolicies failed but still inserted part of policies)

[2020-03-16 12:29] Sefriol commented on #105
If you are using any of the current request based authz libraries (atleast based on the examples), it's doing that already every time there is a new request to the backend (as far as I know. i.e. a new enforcer for a new request).

Reload would also only happen during abort. In addition, you would probably need to do that anyway if your backend is more complicated than just a single server (i.e. b

[2020-03-17 08:48] brt-srini-rama opened #127 "Session based RBAC Support for node-Casbin"
Hi All,
  I Just come across Session based RBAC in casbin, and unfortunately I could not able to see the node-casbin support for session, "https://casbin.org/docs/en/role-managers", is there any possibility that team can provide support for this?

[2020-03-17 10:22] hsluoyz commented on #127
Can you elaborate on what session-based RBAC is?

[2020-03-17 10:50] brt-srini-rama commented on #127
I was exploring your suggestion for the old closed issue [43](https://github.com/casbin/casbin/issues/43) , in the issue analysis you were recommending to use the SetRoleManager() instead of defining the "S" rule in model.config.  My  current requirement is exactly the same as requested by user "Julian Schmidt". Eventually this issue was closed with the fork of new repo for "[Session Role Manager]

[2020-03-17 11:47] nodece opened #128 "GSoC: adapters"
Adapter is the bridge between Casbin and policy storage container.

Recommended to use TypeScript to build Casbin ecosystem.

- [x] PosgreSQL adapter via [pg](https://www.npmjs.com/package/pg)
- [x] MySQL adapter via [mysql](https://www.npmjs.com/package/mysql)
- [x] MySQL adapter via [mysql2](https://www.npmjs.com/package/mysql2)
- [x] Microsoft SQL Server adapter via [mssql](https://www.npmjs.co

[2020-03-17 11:48] nodece opened #129 "GSoC: middlewares for web frameworks"
## Authorization middleware
### Supported
- [x] https://github.com/koajs/koa
- [x] https://github.com/eggjs/egg/
- [x] https://github.com/expressjs/express

### Things to do
- [x] https://github.com/nestjs/nest
- [x] https://github.com/hapijs/hapi
- [ ] https://github.com/meteor/meteor

[2020-03-17 12:55] nodece opened #130 "GSoC: add integrate Casbin doc for web frameworks"
Provides integrate doc in Casbin-Website for web framework.

## Things to do

- [ ] express-authz
- [ ] koa-authz
- [ ] egg-authz
- [ ] nest-authz
- [ ] hapi-authz
- [ ] meteor-authz

[2020-03-17 13:57] Marvin9 commented on #129
Description?

[2020-03-18 06:32] nodece opened #131 "GSoC: Improve build RBAC links"
## Description

The RBAC links is  role inheritance relations.

### Current Implementation

When the policy changes,  clean up all role relationships and rebuild.

Each rebuild the RBAC links  will take a lot of time and affect the application performance.

### Requirements

When the policy is loaded for the first time, needs to build the role inheritance relations.

When the policy changes,  add

[2020-03-19 17:47] romitkarmakar commented on #130
@nodece I would like to work on this issue. Could you tell me whether i have to write integration doc about this or, tutorial about how to use them ?

[2020-03-20 03:12] nodece commented on #40
This is very good idea. I think it can be part of GSoC.

Let's keep it open, I want to see other comments.

[2020-03-20 03:22] hsluoyz commented on #40
OK. It can be part of this: https://github.com/casbin/SummerOfCode2020#casbinjs

[2020-03-20 10:53] romitkarmakar commented on #129
@nodece I have been working on hapijs authorization middleware for casbin. Could you create a hapi-authz repository so, I could send my PR to it..

[2020-03-20 12:10] romitkarmakar commented on #130
@nodece Please review this PR: [casbin-website#53](https://github.com/casbin/casbin-website/pull/53).
Added this middlewares
- [x] express-authz
- [x] koa-authz
- [x] egg-authz
- [ ]  nest-authz
 - [ ] hapi-authz
 - [ ] meteor-authz

Last three couldn't be added due to a lack of official middlewares.

[2020-03-21 11:51] Marvin9 commented on #128
Any reason on supporting both, mysql & mysql2 ?

[2020-03-23 05:21] nodece commented on #128
We should consider all users.

[2020-03-28 14:15] kowthalganesh opened #132 "Casbin RESTFUL with RBAC"
hello everyone,
Facing some issue in casbin validation

My data set
[code]

Policy.conf

[code]

it always returns as false, I was whitelisting the URL like applications/applicationbyuserid/*
I don't know where am missing. can anyone help me out @hsluoyz
actual app URL will be: applications/applicationbyuserid/abc7878

[2020-03-28 14:15] #132 closed

[2020-03-28 14:15] hsluoyz commented on #132
Transferred to: https://github.com/casbin/node-casbin/issues/132

[2020-03-31 19:42] surgentt opened #133 "ABAC model request_definition length required."
Hello,
I have the following model setup for abac authorization
[code]

In the matcher section, I noticed that I am required to pass an ownerId to the matcher with a length greater than one.

For example if I pass a target with an ownerId of null or an empty string, this model will always fails even if that target is public and the action is "read"

Is there a way to fix my model or is this a bug?

[2020-04-01 13:38] nodece commented on #133
@surgentt Could you provide the test cases?

[2020-04-05 08:21] hsluoyz commented on #133
@surgentt can you give a minimal working example?

[2020-04-05 11:16] surgentt commented on #133
Sorry for the delay. I am hoping to write a test and submit a PR, but COVID-19 caused some cut backs at work this week.

The following target request the above matcher, but I would expect this to pass since public is true and action is read.

[code]

Thank you for the additional follow up

[2020-04-05 11:49] hsluoyz commented on #133
@nodece can you help test this one?

[2020-04-05 12:30] nodece commented on #133
env:
[code]
The following is my test:
[code]

It works fine.

[2020-04-05 14:54] surgentt commented on #133
Yes, but what does the following return? I would expect this to pass, but it fails. Not all of my tables support an owner, but just have a public attribute.

[code]
There for I would expect the first half of this statement to return true.
[code]
Thank you for looking into this and it possible there is a bug somewhere in my code.

[2020-04-06 13:14] surgentt commented on #133
@hsluoyz I just found out the bug is on our end. We had the following check in our code.
[code]
After removing this our tests are passing. I apologize for filing a false bug. We are enjoying the package and thank you for your timely responses. Please close this bug.

[2020-04-06 13:14] #133 closed

[2020-04-06 14:37] nodece commented on #133
@surgentt Thanks for your support!

[2020-04-14 17:53] GopherJ commented on #105
Any one wants to take this?

[2020-04-15 01:43] nodece commented on #105
Sorry, I miss this issue. I will follow up on this.

[2020-04-18 06:37] DivyPatel9881 commented on #105
If it is available, I will take up this issue.

[2020-04-18 09:10] GopherJ commented on #105
@DivyPatel9881  Thanks

[2020-04-21 15:29] somq opened #140 "Help at modeling a user/role combined with resource/role model/policy/requests"
I'm trying to understand how to model our scenario considering:

- Users have roles
- Roles have permissions
- Users lands in groups
- Resources lands in groups
- Groups can be inherited

In our use case
- Users are humans in client apps
- Roles are a group of permissions
- Groups _hierarchically speaking_ are superadmin (us), tenants or sub-entities of the tenant.
- Resources are IoT devices **or

[2020-04-23 12:26] somq commented on #140
Thanks for your answers, I have finally succeed to write a policy that works regarding our requirements.

I was trying to do it using only one enforcer (enforcer is equivalent to a request right?).

Instead I did:
1) Check if user has the explicit permission through its (g) roles
2) Check if user has access to the resource (device) through (g2) groups

**Model**: RBAC with resource roles

**Policy

[2020-04-24 04:40] nodece commented on #140
When use `RBAC with domain/tenants` looks simple.

[code]

[2020-04-24 04:40] nodece commented on #140
When use `RBAC with domain/tenants` looks simple.

[code]

[2020-04-24 10:38] somq commented on #140
So in your example, the `device1234` is bound to `role:operator`, so I will have to create as many roles duplicates as there are devices, right ? (`n` roles for  for `n` devices)

I need roles & permissions to be generic, this way I can assign them directly to users.

Thus, I guess there are no other way than doing it using 2 enforcers?

1) User => role => permission = OK?
2) User => device = OK?

[2020-04-25 06:34] ghaedi93 opened #141 "using both grouping and keyMatch2 in a matcher"
im new to casbin and recently using it with nodejs and came across this probably frequent need to use both grouping and keyMatching on a policy , wraping a keyMatch func with g identifier or viseversa doesnt seem to be valid syntax for serving those policies containing resource with pattern

![Screenshot from 2020-04-25 11-02-29](https://user-images.githubusercontent.com/32374993/80273071-731a7280

[2020-04-25 06:36] hsluoyz commented on #141
See: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

@nodece

[2020-04-25 10:26] ghaedi93 commented on #141
yeah i used it but im not sure if * is valid syntax in nodejs then i used

  await enforcer.rm.defaultrolemanager.RoleManager.AddMatchingFunc(
    "KeyMatch2",
    util.KeyMatch2
  );
but is this error saying
_TypeError: Cannot read property 'RoleManager' of undefined_

[2020-04-25 10:52] nodece commented on #141
Node.js doesn't support  `AddMatchingFunc`, I will work on this issue.

[2020-04-25 12:52] ghaedi93 commented on #141
thanks im looking forward ... is that possibly anytime soon ?

[2020-04-25 13:51] nodece commented on #141
okey, as soon.

[2020-04-25 15:30] nodece commented on #141
@ghaedi93 I submitted a PR: #142

[2020-04-25 16:06] #141 closed

[2020-04-25 16:06] hsluoyz commented on #141
Merged.

[2020-04-25 16:11] nodece commented on #141
:tada: This issue has been resolved in version 4.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/casbin)
- [GitHub release](https://github.com/casbin/node-casbin/releases/tag/v4.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-25 17:21] ghaedi93 commented on #141
thanks so much ... but i dont know how to make it work , im still getting the same Undefined error . is it sth wronge with how im adding MatchFun ?
also shouldnt g2 in matcher changes? otherwise how to tell it applying keyMatch on objects .
![Screenshot from 2020-04-25 21-44-35](https://user-images.githubusercontent.com/32374993/80286081-983bcf00-873e-11ea-8833-e6a7d3adedf4.png)

[2020-04-26 05:02] nodece commented on #141
@ghaedi93 Upgrade `casbin` to v4.4.0.

[2020-04-26 08:06] DivyPatel9881 commented on #105
Just for confirmation, I just have to add the implementation for ```batch_adapter``` interface and ```addPolicies``` and ```removePolicies``` methods as was implemented under core-API, right?
I have started fixing this issue.

[2020-04-26 09:24] Sefriol commented on #105
IMHO, this really should try to create a standard which adapters could also use. Similar to `LoadPolicy` we should create internal functions that are used by `addPolicies`/`removePolicies` to trigger (for example) a transaction in MongoDB and also committing or aborting them when appropriate.

Just having an array of stored policies and removing them on failure won't cut it. Since I think this req

[2020-04-26 09:28] DivyPatel9881 commented on #105
@Sefriol, this feature is already being implemented in ```casbin-core```, so I just have to port this feature to TypeScript.

[2020-04-26 10:16] GopherJ commented on #105
@Sefriol In casbin-rs, we force every adapter to implement batch operations, users have to choose the correct adapters to use to avoid unexpected behaviour

[2020-04-26 11:25] ghaedi93 commented on #141
I have it but sth is possibly wronge with defaultrolemanager it is not defined  .

![Screenshot from 2020-04-25 21-44-35](https://user-images.githubusercontent.com/32374993/80306012-c91b1300-87d5-11ea-8e8f-246b5c998bb1.png)

[2020-04-26 11:29] nodece commented on #141
[code]

[2020-04-26 11:43] nodece commented on #105
Hi @DivyPatel9881, @GopherJ, @Sefriol We must break the current `Adapter` interface.  add `addPolicies` and `removePolicies` to `Adapter` interface.

[2020-04-26 12:10] DivyPatel9881 commented on #105
Yeah, thanks @nodece, you are right, I have followed the ```casbin-core``` implementation structure.

[2020-04-26 12:21] Sefriol commented on #105
I think that current idea of `addPolicies` and `removePolicies`  is too limiting. Some policy additions and removals are tied together.

As an example, you might want to add same policies to all users, but some users might have some of these policies already, so update would fail if you tried to add a policy that already exists. Because of this, you would delete all of those permissions from the u

[2020-04-26 12:40] nodece commented on #105
Hi @Sefriol User data must be deleted by the user. Users need to test themselves.

We will add transactions  to `savePolicy`, `addPolicies` and `removePolicies`.

[2020-04-26 12:42] nodece commented on #105
Why update fails?  Casbin should provide reason.

[2020-04-26 12:47] GopherJ commented on #105
@Sefriol

This wont happen, also maybe just forgot the idea that I wrote at the beginning of this issue, it's not true.For example, in casbin-rs's implementation, `add_policies` must all succeed, otherwise we cancel the operation.

It's safe to cancel the operation in memory. in adapter's level we use transaction, it's also safe.

Why I think we should cancel the whole operation when there is alre

[2020-04-26 12:51] ghaedi93 commented on #141
util was not defined so i had to find that keyMatch2Func from inside following path
casbin/lib/util/builtinOperators
but the functionality was not as it should be .

p, alice, data1, read
p, bob, data2, write
p, data_group_admin, data_group, write
g, alice, data_group_admin
g2, /articles/:id, data_group
this was the model but following policies did not authorized as expected .
alice", "data1", "re

[2020-04-26 12:52] GopherJ commented on #105
`startPolicyBatch,abortPolicyBatch,commitPolicyBatch` makes it more complex but the complexity is not necessary. we then need to reload policies from db adapter to model, it's not ideal for me.

If we can already solve things in just one operation for both model and adapter, I don't see why will we need similar apis.

[2020-04-26 12:54] nodece commented on #105
`addPolicies` and `removePolicies` must be atomic operations.  It must all succeed for every policy, otherwise we cancel the operation.

[2020-04-26 12:55] DivyPatel9881 commented on #105
Actually, in ```casbin-core``` the operation is atomic, every policy rule has to succeed in order to update the policy, otherwise, it reverts back to initial state and cancels the operation. @nodece, @hsluoyz and I made sure of this.
Otherwise, everything you said was correct, and I agree with you.

[2020-04-26 13:00] GopherJ commented on #105
In casbin-rs, while calling `add_policies` in model:

https://github.com/casbin/casbin-rs/blob/cdd1aa380fe64126bbefd8a5f1b3a08b46e78513/src/model/default_model.rs#L161

we use `HashSet` to avoid duplicated policies, if one policy already exist, then we cancel the whole operation.

In adapter, we use transactions:

https://github.com/casbin-rs/diesel-adapter/blob/ac1d2fdc1c0e37c60dcb86297ef65006ace

[2020-04-26 13:11] GopherJ commented on #105
In some adapters like `FileAdapter`, we can periodically call `SavePolicy`

[2020-04-26 13:14] nodece commented on #105
In `casbin-golang`, while calling `addPolicies` in model:
we call `hasPolicy` to avoid duplicated policies, if one policy already exist, then we cancel the whole operation.

It looks similar to `casbin-rs`.

## TODO in `casbin-golang`

[2020-04-26 13:32] Sefriol commented on #105
I probably mispresented what I was going for with this:

Let's assume a following use case, with following policy table

p, alice, data1, read
p, bob, data2, write

Now we notice that a common file, data1, should be readable by all users. We try to add right to every user, but our action fails since alice already has this right. To combat this, we actually remove rights for this file from all user

[2020-04-26 13:38] nodece commented on #141
The follow is my test:

`"alice", "data1", "read"` -> `true`
allow:  `p, alice, data1, read`

`"alice", "data1", "write"` -> `false`
deny:  cannot found `data1` in `g2`

`"alice", "/articles/123", "write"`  -> `true`
allow: `p, data_group_admin, data_group, write` + `g2, /articles/:id, data_group`

[2020-04-26 13:55] GopherJ commented on #105
@Sefriol I think in your example, you have two operations, first of all, let's say you have 1000 users and you try to add data1's read access for every one, then in our logic and our idea, this action will fail because alice has already the access. We will cancel this operation.

But util now, the whole process has no problem, the policy in memory and in adapter wont have any changes. Then it's us

[2020-04-26 14:02] GopherJ commented on #105
@nodece Yes I find it's similar maybe even better because we don't need to insert and remove...I'll maybe change my method...

[2020-04-26 14:11] ghaedi93 commented on #141
yeah my bad i had tampered a few policies in database , its all working fine with simple .csv strategy,
thanks .
im not that good in JS but i like opensource projects, idk know how it works but i would like to contribute to casbin . if possible let me know to discuss over it . thanks
ghaedi1993@gmail.com

[2020-04-26 14:12] nodece commented on #105
This is users logic. Nothing to do with Casbin.

When try add `data, read` to every users, we fist check it whether exists Casbin, it found `alice` already has this policy, we will Interrupt this operation. If the check passes, we will perform add policy to every users.

sCasbin only cares whether the update is successful.

[2020-04-26 14:30] nodece commented on #141
Thanks @ghaedi93 , [Casbin](https://casbin.org/) welcomes your contribution.

contact:
- https://gitter.im/casbin/gsoc

[2020-04-26 14:30] nodece commented on #141
Thanks @ghaedi93 , [Casbin](https://casbin.org/) welcomes your contribution.

contact:
- https://gitter.im/casbin/gsoc

[2020-04-26 15:21] Sefriol commented on #105
Yes, it's user's logic, which would be defined by the user. I'm not saying that these specific use cases should implemented, but give users of the library a change to create them. Giving them more customizability, so that they can define themselves what to include in a batch would be a nice feature IMO. `addPolicies` and `removePolicies` should also be created by using these functions. It would be

[2020-04-26 20:05] ghaedi93 commented on #141
thanks ... i joined but it doesnt seem to be active

[2020-04-27 04:16] nodece opened #144 "Port Casbin for Rust's scaling ABAC rules to Node.js"
## Summary
https://github.com/casbin/casbin/issues/354

## PR
https://github.com/casbin/casbin-rs/pull/121
https://github.com/casbin/casbin/pull/427

Can anyone work on this issue?

[2020-04-27 04:19] DivyPatel9881 commented on #144
Yeah, sure, I can work on this.

[2020-04-27 04:30] nodece commented on #105
@Sefriol Sounds good, but importing it will complicate Casbin.

[2020-04-27 22:58] shlomiv opened #145 "Loading using Adaptor gives different results"
Hi, it must be a silly mistake I am making:

[code]
Succeeds, while loading the adapter separately fails:

[code]

Any clues?

[2020-04-28 01:37] hsluoyz commented on #145
@shlomiv can you provide a full minimized working example? model, policy, no ...

[2020-04-28 01:38] hsluoyz commented on #145
@nodece

[2020-04-28 14:54] nodece commented on #145
Hi @shlomiv , I submitted a #146 to fix it.

[2020-04-28 16:35] shlomiv commented on #145
Thank you @nodece and @hsluoyz for you very fast response! I did not get the chance to provide a minimized working example :)

I will check the fix and update you.

[2020-04-28 22:07] shlomiv commented on #145
Hi, thanks for the fix, but it does not seem to work in my env.

I tested the following using the [basic model](https://github.com/casbin/casbin/blob/master/examples/basic_model.conf) and [basic policy](https://github.com/casbin/casbin/blob/master/examples/basic_policy.csv) from:

[code]

[code]

[2020-04-30 02:26] nodece commented on #145
@shlomiv We will merge #146  as soon. It works fine.

[2020-04-30 02:42] shlomiv commented on #145
Sounds good! Please let me know when it is pushed so I could `npm install` it and give it a shot. Thanks!

[2020-04-30 03:26] nodece commented on #145
@shlomiv I publish a pre-release version.

You can `npm install casbin@4.5.0-0 --save` to get it.

[2020-04-30 03:44] shlomiv commented on #145
I don't know what to say :|
I deleted node_modules, ran the command above followed by `npm install`, and ran the test again. With adapter I get `false`, with policy in enforcer constructor function I get `true`..

Perhaps tomorrow I will make a repo with this problem, and link it here so you could see..

[2020-04-30 03:56] nodece commented on #145
@shlomiv I got it.  `enforcer.loadPolicy()` returns `Promise<void>`, you lost `await`.

[2020-04-30 04:08] shlomiv commented on #145
Oh, of course! 🤦‍♂️

Yep, it works, thanks @nodece

[2020-04-30 04:23] hsluoyz commented on #145
Merged: https://github.com/casbin/node-casbin/pull/146

[2020-04-30 04:59] nodece commented on #145
@shlomiv `v4.5.0` has been published.

Thanks for your report.

[2020-04-30 04:59] #145 closed

[2020-05-02 11:42] #105 closed

[2020-05-03 04:24] arosenberg01 opened #147 "Scaling Access Control Lists for multi-million users"
I recently found Casbin while searching for help with managing Access Control List-type permissions for a multi-million user base where the policies need to be updatable in real-time. It looks like a great fit for the business logic I want to implement, but the suggested persistence patterns around loading filtered policies / Watchers is a little unintuitive.

For a standard client-facing API serv

[2020-05-03 04:34] hsluoyz commented on #147
@nodece @GopherJ

[2020-05-03 05:12] nodece commented on #147
@arosenberg01  Your understanding is correct.

For read-only policy use ` enforcer.LoadFilteredPolicy()`, I think it is great.

Maybe `enforcer` unable to update policy correctly when use `filterAdapter`, something like:
- insert duplicate policy

We supports disable the Watcher.

[2020-05-05 17:03] GopherJ commented on #147
@arosenberg01

I also would like to implement a dynamic filter, but I think it's not that easy to `find relevant policies`

[2020-05-05 17:24] GopherJ opened #150 "circular link will make getImplicitRolesForUser stackoverflow"
mode.conf
[code]

[code]

patten matching func:
[code]

**error**: e.getImplicitRolesForUser("alice")  will cause stackoverflow

**What's happening**

**Step1**: Since we have pattern matching function and `alice` match `*`, then when we `createRole` `alice` will add `*` in her role list. While calling `e.getImplicitRolesForUser("alice")`.

The first loop, we will get alice's direct role list:

[c

[2020-05-05 17:29] GopherJ commented on #150
I suggest that we switch to casbin golang's solution and avoid using recursive functions even it has another problem: https://github.com/casbin/casbin/issues/446

[2020-05-05 18:05] GopherJ commented on #150
I suggest switching to casbin golang's implementation

[2020-05-06 17:04] georgiee opened #152 "enforceSync & loadPolicySync for non async sources."
Hello,
thank you very much for this powerful piece of software. I read the PML paper with pleasure. It does describe the concept very clear and by doing that even helps to explain the main differences of ABAC/RBAC/ACL. I'm impressed, thank you! 💪

I would like to use the core parts (Enforcer & Model) for a frontend project. For this I don't need any async handling yet. The model is defined in code

[2020-05-07 03:59] nodece commented on #152
Sounds good, I also consider the question, but have many async action like fetch policy from database, so can only provide an async method.

[2020-05-07 04:45] georgiee commented on #152
Yes a network connection like the database can't ever be sync. You could throw an explaining error for unsupported adapters. The sync method implementation would throw an error in unsupported methods, something like this:

Honestly, I  did not see software that would bail out like this. But a clear documentation combined with a responsible API consuming developer would make this still a nice addit

[2020-05-07 05:43] nodece commented on #152
I don't think it's a good idea to support both sync and async method.

We can't avoid `callback` or `promise` in JavaScript.

[2020-05-07 05:56] georgiee commented on #152
Alright & understood. Works of course with async, I just wondered about this variation. Thanks! Closing this issue.

[2020-05-07 05:56] #152 closed

[2020-05-07 06:06] hsluoyz commented on #152
For front-end, you can use: https://github.com/casbin/casbin.js

[2020-05-07 06:47] georgiee commented on #152
Hello @hsluoyz,
I'm already using casbin successfully. I wondered about a sync access not because of using JavaScript in the browser which can handle async requests without any problems. It's just that the async introduces a complexity that is not trivial in some edge cases where it could be easier with sync (provided that all involved models & policies are sync too).

In my concrete case I integr

[2020-05-08 10:25] xianjiezh opened #154 "getPermissionsForUser will always return repeated once array"
I want to get all permissions for one role

here is the datas I set in mysql casbin_rule table

![image](https://user-images.githubusercontent.com/23073197/81396674-68d28c80-9158-11ea-8da4-a3cb0cdbf8b2.png)

I want to get all permissions from 'role:1'

then vscode auto prompted methd `getPermissionsForUser `

I use it like

[code]
It returns a repeated once array
[code]
it is repeated since 'SUBMI

[2020-05-08 11:13] GopherJ commented on #154
Could you describe also which enforcer are you using and do you have couster(multiple process)

[2020-05-08 11:36] #144 closed

[2020-05-08 11:38] xianjiezh commented on #154
thanks  @椰子

it was because before loadpolicy,

[code]

I dont wait in initWithAdapter
it was correct when  await initWithAdapter

[code]

[2020-05-08 11:40] xianjiezh commented on #154
@GopherJ
Thank you, I just solved the problem.

[2020-05-08 11:40] nodece commented on #144
:tada: This issue has been resolved in version 4.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/casbin)
- [GitHub release](https://github.com/casbin/node-casbin/releases/tag/v4.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-08 11:40] #154 closed

[2020-05-08 16:33] nodece commented on #150
@GopherJ The have same implementation in golang. So try to do a fix in https://github.com/casbin/casbin/pull/452.

[2020-05-08 20:26] GopherJ commented on #150
@nodece I think we should fix: https://github.com/casbin/node-casbin/blob/0e3c49c54b4bb7affa6e0e030ed342bb6cc717d2/src/enforcer.ts#L288 first, normally it cannot handle this type of link `* -> book_admin -> *`. In casbin-rs it crashed and I fixed it in: https://github.com/casbin/casbin-rs/pull/131

[2020-05-09 05:46] nodece commented on #150
@GopherJ I submitted a patch in #155 , Could you review it?

[2020-05-09 09:26] gr4yha7 commented on #127
@hsluoyz i can jump on this if it's up for grabs

[2020-05-09 12:02] nodece commented on #150
fixed in #155

[2020-05-09 12:02] #150 closed

[2020-05-10 02:53] hsluoyz commented on #127
Yes. Please implement.

@nodece

[2020-05-10 12:49] nodece commented on #127
Could anyone working on the issue?

[2020-05-10 13:33] DivyPatel9881 commented on #127
Yes, I can work on this issue.

[2020-05-11 16:40] somq opened #156 "getImplicitRolesForUser returns duplicates"
Hi there,

It's missing the `arrayRemoveDuplicates` in [getImplicitRolesForUser](https://github.com/casbin/node-casbin/blob/master/src/enforcer.ts#L282) like it is in `getImplicitUsersForPermission`

**Repro steps**:

1) Add roleA to roleB
2) Add roleB to user
3) Add roleA to user

is it an intended behaviour?

Thanks for your answers

[2020-05-12 00:52] GopherJ commented on #156
ok seems like it's because that the last time I would like to have

g, *, book_admin

getImplicitRolesForUser("*") to return back

["*",  "book_admin"]

;)

I'm confused here

[2020-05-12 00:54] GopherJ commented on #156
To fix we can change:
 const res = new Set<string>();
to
 const res = new Set<string>();
res.add(name)

I'm a little bit about the behavior here;) can someone point out the correct behavior?

[2020-05-12 01:15] GopherJ commented on #156
are u  using the latest version?

If it's https://github.com/casbin/node-casbin/blob/master/src/enforcer.ts#L282,
it seems the output will only be:

[RoleA, RoleB]

[2020-05-12 01:18] GopherJ commented on #156
The previous version:

const res: string[] = [];
    const roles = await this.rm.getRoles(name, ...domain);
    res.push(...roles); // Role A, RoleB

    for (const n of roles) {
      const role = await this.getImplicitRolesForUser(n, ...domain);
      res.push(...role); // RoleA, RoleB, RoleA
    }

    return res;

[2020-05-13 10:22] somq commented on #156
Hi @GopherJ , I tested with v4.7.2 and you are right, I was running v4.2.1 for some reason.
My apologies, closing this one.

[2020-05-13 10:22] #156 closed

[2020-05-14 06:23] DivyPatel9881 commented on #127
@nodece can you make a new repository for ```node-session-role-manager``` for node-casbin, and if possible give me the commit access to the repository.

[2020-05-14 07:43] nodece commented on #127
@DivyPatel9881 https://github.com/node-casbin/session-role-manager has been created.

[2020-05-18 07:03] nodece commented on #131
closed via #157 .

[2020-05-18 07:03] #131 closed

[2020-05-22 17:51] DivyPatel9881 commented on #127
@nodece you can review my code of session-role-manager and can add travis-ci to it.

[2020-05-23 14:57] nodece commented on #127
Thank you, @DivyPatel9881 ,  Let me make adjustments.

[2020-05-23 16:42] nodece commented on #127
@brt-srini-rama  [session-role-manager](https://github.com/node-casbin/session-role-manager) has been released.

[2020-05-23 16:42] #127 closed

[2020-05-24 01:57] hsluoyz commented on #127
Added: https://github.com/casbin/casbin-website/commit/cc88bfceefaf65ebd2902b4a7bb59eb5a3f5f177

[2020-05-27 10:17] hsluoyz commented on #99
We already have auto release now. But changelog is still missing.

[2020-05-27 10:21] hsluoyz commented on #99
Can anyone add the changelog via standard-version? @DivyPatel9881 @kingiw @hackerchai

[2020-05-30 12:27] xiangdong9013 opened #161 "can't change program language in the docs from https://casbin.org/docs/"
On the "https://casbin.org/docs/"  website ,I only can see the Go version of the tutorial, can't change to node.js or java, etc.

[2020-05-30 12:27] #161 closed

[2020-06-03 16:09] vinod827 opened #162 "Any existing function to retrieve filtered policies"
Hi Team,

I'm calling the loadFilteredPolicy() on TypeORM-Adapter (which return boolean true) and able to filter the policies.

[code]
There is a printPolicy() in model.js of casbin which prints the filtered policies perfectly.

[code]
I need to understand if I can use any existing method (if there is any) right after loadFilteredPolicy() (something similar to printPolicy()) which can return me al

[2020-06-04 05:52] nodece commented on #162
Casbin provides manager api, for example: `e.getPolicy`, `e.getGroupingPolicy`

Checkout https://casbin.org/docs/en/management-api for more details.

[2020-06-04 10:45] vinod827 commented on #162
This is fine. I got it resolved by some workaround. Thank you

[2020-06-07 02:52] zhmushan commented on #128
Consider supporting both mysql and mysql2 in mysql-adapter

[2020-06-07 07:00] zhmushan opened #163 "Support Node, Deno, Browser in the same repo"
### Motivation
- **Share most of the code**: We don’t need to update the same code multiple times.
- **Concentrated community**: The same problem may occur on different platforms (because they almost use the same code). It is more convenient to discuss in the same repo.

### Design
First, we should strip out code that only uses `javascript`. (no dom API, no node API...)
Then write platform-specifi

[2020-06-07 07:14] hsluoyz commented on #163
I agree with this idea, we don't keep multiple copies of the same code. The only issue here is that the casbin.js name is taken by the "Casbin frontend" project for now: https://github.com/casbin/casbin.js

[2020-06-07 07:18] zhmushan commented on #163
We can move it to the browser directory of this repo (because this repo has more stars

[2020-06-07 13:16] nodece commented on #163
Fantastic! But because casbin.js repository used, so I suggest use the node-casbin repository to support deno, node and web.

[2020-06-08 01:26] hsluoyz commented on #163
There's no need to enforce the full functionalities of Casbin in browser except Casbin editor. So the name of "Node-Casbin" is still not that bad. This repo already took the "casbin" name in NPM, so the GitHub repo name is actually not important. We will keep it this way for now, until things change a lot in future.

For Deno, we can still keep the Deno-Casbin repo but inside it we import Node-Cas

[2020-06-21 09:33] hsluoyz commented on #99
@zhmushan can you take this issue?

[2020-06-21 09:36] zhmushan commented on #99
There are currently tools that can automatically generate changelogs based on commits. I can do this after completing the exam (2 days later)

[2020-06-22 01:01] hsluoyz opened #165 "Make a Prisma ORM adapter for Node-Casbin"
Prisma is the next-generation ORM for Node.js: https://www.prisma.io/

We have a potential user asking for this feature: https://github.com/staart/api/issues/337#issuecomment-621360515

Let's make one and resolve their issue!

[2020-06-22 01:03] hsluoyz commented on #165
Can anyone take this issue? @nodece @GopherJ @zhmushan

[2020-06-22 01:11] hsluoyz commented on #120
@Marvin9 @nodece is this issue still active?

[2020-06-22 01:12] #76 closed

[2020-06-22 01:12] #21 closed

[2020-06-22 01:43] hsluoyz commented on #147
Is this still active?

[2020-06-22 01:53] hsluoyz opened #166 "Make a middleware for Nexus.js GraphQL"
Nexus.js is a popular GraphQL web framework: https://github.com/graphql-nexus/nexus

They are looking for an authz solution. We can make a middleware for their scenario: https://github.com/graphql-nexus/nexus/issues/238

[2020-06-22 01:53] hsluoyz commented on #166
@nodece @GopherJ @zhmushan

[2020-06-22 06:56] nodece commented on #147
yes. For ACL, We might need to consider incremental loading policy.

[2020-06-22 15:22] Marvin9 commented on #120
Yes @hsluoyz I will resolve it soon. Due to internship It is delayed.

[2020-06-24 08:55] hsluoyz commented on #165
Made here: https://github.com/node-casbin/prisma-adapter

[2020-06-28 12:58] #99 closed

[2020-07-02 09:24] vinverdy opened #168 "Don't load policy on enforcer creation"
what a great library for authorization.

but i wanna ask what is the reason behind automatically load policy on [enforcer creation](https://github.com/casbin/node-casbin/blob/1a6cf5e8f6e620d13bfb211362100c79db5e0dfc/src/enforcer.ts#L71)? because when our saved policy count increasing, it will slow down continually. thanks

https://github.com/casbin/node-casbin/blob/1a6cf5e8f6e620d13bfb211362100c79

[2020-07-02 09:32] hsluoyz commented on #168
@nodece @zhmushan

[2020-07-02 12:51] nodece commented on #168
@vinverdy I don't understand your mean.  When you call newEnforcer, it will automatically load policy from adapter.

[2020-07-02 15:29] vinverdy commented on #168
sorry for late response, can i change that behaviour? i dont want load policy on newEnforcer creation. because i want to create newEnforcer every user request.

my concern is if there is many concurrent request, my memory will be used too much.

[2020-07-02 15:50] nodece commented on #168
I recommend to use factory with mutex lock to create newEnforcer. It can limit the concurrent request.

[2020-07-02 15:55] vinverdy commented on #168
I see. So, cmiiw, i cant lazily load my policy?

[2020-07-02 16:02] vinverdy commented on #168
maybe another use case. I just want to use loadFilteredPolicy instead of loadPolicy for my enforcer?

[2020-07-02 16:03] nodece commented on #168
Hi @vinverdy , I have a good idea, you can call newEnforcer without adapter then to set adapter and load policy.

[2020-07-02 18:37] vinverdy commented on #168
thanks @nodece , I have tried your idea and its working. But I think, its a hackish way to do that and adapter on enforcer is protected. But, if its working as intended, I will close this issue. Thanks a lot for your help

[2020-07-03 08:41] #165 closed

[2020-07-03 08:44] hsluoyz commented on #120
Closed for now.

[2020-07-03 08:44] #120 closed

[2020-07-03 08:47] hsluoyz commented on #77
This issue should be resolved at Casbin dashboard side: https://dashboard.casbin.org/

[2020-07-03 08:47] #77 closed

[2020-07-03 08:48] hsluoyz commented on #140
@zhmushan

[2020-07-08 16:30] nodece commented on #99
:tada: This issue has been resolved in version 5.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/casbin)
- [GitHub release](https://github.com/casbin/node-casbin/releases/tag/v5.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-09 08:58] StefanoPastore opened #170 "Enforcer `enforceWithSyncCompile` method does not work with `g` model definition value"
## Cause
I encountered this problem during an investigation about performance problems.

## Problem
I noticed that if i put inside a `Promise.all` list of enforce it took more time than one alone, so i tried to use `enforceWithSyncCompile` method, but it doesn't work properly when there is `g` definition value in model.

## Solution
After some research i found the problem: `DefaultRoleManager.hasL

[2020-07-09 13:47] hsluoyz commented on #170
@nodece @zhmushan

[2020-07-09 14:10] nodece commented on #170
@StefanoPastore please use `enforce` instead.

[2020-07-09 14:13] nodece commented on #170
`enforceWithSyncCompile` can only be used for ACl.

This is `enforceWithSyncCompile` notes:

[2020-07-09 20:33] StefanoPastore commented on #170
@nodece Thank you a lot for the explination!

I noticed that if i change [defaultRoleManager.hasLink](https://github.com/casbin/node-casbin/blob/master/src/rbac/defaultRoleManager.ts#L199) and [generateGFunction](https://github.com/casbin/node-casbin/blob/master/src/util/builtinOperators.ts#L235) without async annotation it will works properly, them are necessary as async for some reason that i do

[2020-07-10 07:01] nodece commented on #170
you can checkout https://github.com/casbin/node-casbin/issues/46 for details.

[2020-07-10 07:01] #170 closed

[2020-07-16 19:35] hackerunet opened #172 "Multiorganization / realm for roles access policies"
Hi there, I'm wondering if is possible to have multiple permissions created for multiple organizations or realms?, let's say we have a multiuser multicompany system and I want to create roles and permissions for the ecosystem and for each company separately.
The condition would be I can create different roles and permissions over same activities but for multiple companies:
[code]

[2020-07-17 04:00] nodece commented on #172
Hi @hackerchai , it looks like you need https://github.com/casbin/casbin/blob/master/examples/rbac_with_domains_model.conf.

[2020-07-18 06:56] hackerchai commented on #172
Maybe you should @hackerunet ?

[2020-07-18 07:02] nodece commented on #172
sorry @hackerchai , I should cc @hackerunet .

[2020-08-05 17:18] EndersonPro opened #177 "batchAdapter.removePolicies is not a function"
I am implementing node-casbin in the company project, I require to be able to remove policies using the removePolicies method, however I present the following error batchAdapter.removePolicies is not a function, any help for this?

reviewing the enforce instance I see that the method is implemented, so I don't know what happens.

I would greatly appreciate your help

[2020-08-06 01:28] hsluoyz commented on #177
@nodece @zhmushan please answer it.

[2020-08-06 01:45] zhmushan commented on #177
Please provide your minimum recurrence @EndersonPro

[2020-08-11 12:19] EndersonPro opened #180 "Problems deleting roles"
Greetings, I am currently using node-casbin, when wanting to delete a role I ran into a problem, I need to delete a role per domain, I am using the RBAC model with domains.

But when using the `deleteRole` method, the role is deleted from the database, however when I consult from my api, it seems that it is still there. Can you help me with these points?

[2020-08-11 12:35] hsluoyz commented on #180
@nodece @zhmushan

[2020-08-11 14:14] nodece commented on #180
@EndersonPro Could you provides the example code?

[2020-08-11 15:23] EndersonPro commented on #180
I have the following method within a service.

`async deleteRoles (roles = [], company) {
        try {
            if (Array.isArray(roles) && roles.length) {
                let i = 0;
                for (i; i < roles.length; i++) {
                    await this.enforcer.deleteRole(roles[i]);
                }
            } else throw new Error('Roles is not array or is empty');
        } catc

[2020-08-11 17:23] nodece commented on #180
Are you running Casbin in cluster environment?  or do you have multiple Casbin instances?

currently, Node-Casbin doesn't delete role with domain, don't worry, we are going to plan support it.

[2020-08-11 17:48] nodece commented on #177
You are using adapter that not implement batchAdapter, I will fix the check in our codebase.

[2020-08-11 18:18] EndersonPro commented on #180
@nodece Yes, I'm using casbin in aws lambda, reading I found that I may have to implement Watcher, however I don't know if there is another solution.

On the other hand, thank you for having the account requested, for the moment solve it by filtering the police by domain and eliminating them with.
`getFilteredPolicy` `removePolicy`

[2020-08-12 00:20] #177 closed

[2020-08-12 00:20] hsluoyz commented on #177
@EndersonPro fixed in: https://github.com/casbin/node-casbin/pull/182

[2020-08-12 00:25] nodece commented on #177
:tada: This issue has been resolved in version 5.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/casbin/v/5.1.1)
- [GitHub release](https://github.com/casbin/node-casbin/releases/tag/v5.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-12 04:29] nodece commented on #180
When you have multiple Casbin instances,  you must use Watcher to sync other Casbin instances.

[2020-08-12 10:38] elaijuh opened #183 "pubsub-watcher"
Currently there are only redis-watcher and etcd-watcher for NodeJS. Since my project is using pub/sub, I would like to contribute a GCP pub/sub watcher.

[2020-08-12 10:59] hsluoyz commented on #183
Hi @elaijuh . We are happy to see the projects from contributors. Where's the code?

[2020-08-12 11:55] EndersonPro commented on #180
@nodece thanks for your reply.

[2020-08-12 11:55] #180 closed

[2020-08-12 16:59] elaijuh commented on #183
I will share the code once it's been tested working.

[2020-08-13 02:18] hsluoyz commented on #183
@elaijuh thanks!

[2020-08-16 04:00] elaijuh commented on #183
https://github.com/elaijuh/casbin-pubsub-watcher

Here is the repo

[2020-08-20 04:52] Marvin9 commented on #120
@hsluoyz Can you please check this repo https://github.com/Marvin9/casbin-postgre-adapter, except few tests and documentation everything is complete.

[2020-08-20 12:56] hsluoyz commented on #120
@Marvin9 no README, no badges like CI, coverage.. No npm download.

[2020-08-20 14:21] zhmushan commented on #120
@Marvin9 Now we can use https://github.com/node-casbin/basic-adapter

[2020-08-20 16:20] Marvin9 commented on #120
@hsluoyz I mentioned that few test cases & documentation work is pending.

Now there is already ```basic-adapter```, Should I complete it or abandon?

[2020-08-20 16:40] hsluoyz commented on #120
Why not complete it?

[2020-08-20 16:47] hsluoyz commented on #120
We already have a lot of ORM adapters that support PostgreSQL besides basic adapter. But we still think an adapter specifically for PostgreSQL would be useful.

[2020-08-20 16:48] hsluoyz commented on #120
@zhmushan please also add basic adapter to docs.

[2020-08-21 03:56] Marvin9 commented on #120
@hsluoyz Great. I will complete it soon.

[2020-08-21 14:47] hackerunet opened #184 "Centralized casbin management service"
is it possible to instead having multiple instances of casbin, manage all permissions in a centralized service and force all other foreign services to query permissions in the centralized casbin instance each time a role or permission validation is required?
We are using microservices architecture and we do not want multiple casbin instances, we want one centralized service and all microservices v

[2020-08-21 15:22] #184 closed, assigned to hsluoyz

[2020-08-24 22:08] jordicuevas opened #185 "Hi team, great plugin I was wondering it's there a way to manage all permissions in a centralized service?"
is it possible to instead having multiple instances of casbin, manage all permissions in a centralized service and force all other foreign services to query permissions in the centralized casbin instance each time a role or permission validation is required? **

[2020-08-25 00:36] hsluoyz commented on #185
Hi @jordicuevas , you can use `Casbin as a service`: https://casbin.org/docs/en/service . They are mostly in Go, as it doesn't matter for a standalone service.

For front-end UI, you can also integrate `Casbin Dashboard`: https://github.com/casbin/casbin-dashboard

[2020-08-25 00:39] hsluoyz commented on #183
Moved to here: https://github.com/node-casbin/pubsub-watcher

Thanks for your contribution!

[2020-08-25 00:39] #183 closed

[2020-08-25 00:42] hsluoyz commented on #172
Closed as stale.

[2020-08-25 00:42] #172 closed

[2020-09-03 16:17] jasonmueller opened #187 "casbinJsGetPermissionForUser returns policy rules not applicable for subject"
When calling `casbinJsGetPermissionForUser`, all policy rules appear to be returned.  Based on reading the code, my understanding is that this is not intended--rather, only rules applicable to the subject should be returned.

Can you clarify the _expected_ behavior or whether I'm just doing it wrong?  Here are test results:

[code]

Expected result:

[code]

Actual result (note the `alice` rule):

[2020-09-03 17:11] hsluoyz commented on #187
@kingiw

[2020-09-04 01:39] kingiw commented on #187
Yep, this is expected behavior for the latest Casbin.js(v0.1.0), which is pulling the models and all the policies from the backend, because we wish to support ABAC and other complicated AC models in the latest version.  We are now optimizing the strategies and trying to minimize the pulled data. (E.g when Casbin.js querying about bob's permission, Casbin.js only pulls those the necessary informati

[2020-09-04 13:07] jasonmueller commented on #187
Great!  Thank you for the quick response.  This is a great addition, BTW, to the project.

[2020-09-08 12:09] StefanoPastore opened #188 "Concurrent watcher update duplicate policies"
## Cause
When i call `getImplicitPermissionsForUser` it sometimes return same policy multiple times.

## Problem
I noticed that if i put inside a `Promise.all` list of add/remove policy then the `getImplicitPermissionsForUser` return same policy multiple times.

## Solution
I noticed that the watcher will fire a notification for each operation, the callback of casbin initially clear local data and

[2020-09-08 15:36] StefanoPastore opened #189 "Model definitions can degrade performances"
Hi there!

We had performance issues on enforce policy, after some research i noticed that if i remove a check from my model the enforce improve its performance of ~20ms.

My model is:
[code]

If i replace last def with this:
[code]

The enforcer will perform enforces in almost half time than first one.

I need the `g(r.subject, "root", "tenantId")` because it allow root in a specific tenant to be

[2020-09-08 16:14] nodece commented on #188
node-casbin provides a safe enforcer - `newSyncedEnforcer`, but the mutexLock I used, this is a very expensive operation.
I know that I should use read/write Lock, but Node.js doesn't provides any Lock.

[2020-09-08 16:52] alikhan866 opened #190 "Question : How do i export the enforcer instance to be used in different files ?"
I want to export my enforcer instance from `Enforcer.js` so that i can use it in `Routes.js` can you please suggest me what is the best way to do this ?

**Enforcer.js**
[code]
I want to use the enforcer instance something like this in `Routes.js`

**Routes.js**
[code]

[2020-09-09 06:48] nodece commented on #190
You should export dbInstance() returns value.

### Enforcer.js
[code]
### Routes.js
[code]

[2020-09-09 06:48] #190 closed

[2020-09-09 06:49] nodece commented on #189
I don't have better way.

[2020-09-09 07:11] nodece commented on #189
I submitted a PR to improve performances: #191.

[2020-09-09 08:22] guglielmino commented on #189
Since you are implementing the C/C++ lib, is it possible to use it as binding for the JavaScript module? It should be possible using the Node.js N-API (https://nodejs.org/api/n-api.html)

[2020-09-09 10:09] nodece commented on #189
@guglielmino sounds great, but node-casbin can support the any pure JavaScript project, if we are using the Node.js N-API, it just supports Node.js project.

[2020-09-10 15:04] #189 closed

[2020-09-10 15:06] hsluoyz commented on #189
Fixed in: https://github.com/casbin/node-casbin/pull/191

[2020-09-10 15:11] nodece commented on #189
:tada: This issue has been resolved in version 5.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/casbin/v/5.1.4)
- [GitHub release](https://github.com/casbin/node-casbin/releases/tag/v5.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-11 02:27] family2hu opened #192 "How to query all users in a specific domain by roleId?"
## background
For data isolation , I want to get all users by roleId in a specific domain

## current method
When I don't care about domain, I just use the 'GetUsersForRole' api to get all users, and I see this api can pass domain params in condition of the domain being a prefix to the users. But in reality, the domain is mostly a separate field.
So I have to use the 'GetAllNamedRoles' api and fil

[2020-09-11 05:53] nodece commented on #192
@family2hu could you try to calling `getImplicitPermissionsForUser(user/user, domain)`?

[2020-09-14 01:27] apsnaidu opened #193 "addRoleForUser method not adding roles which were deleted before"
`addRoleForUser` method works fine when adding new roles/groups to policy database for the first time. However if we delete the roles/groups from the database manually or using `deleteRoleForUser` method and then try to add the roles again using the `addRoleForUser` method, it thinks that the roles already exist and doesn't add them again.

Below is the code snippet being run as part of our authen

[2020-09-14 02:09] hsluoyz commented on #193
@zhmushan please take a look at this issue.

/cc @nodece

[2020-09-14 12:59] murzatayev opened #194 "Policy logging affecting performance"
I have noticed a spike in resources usage when policies are first loaded, then after some investigation I found that this is caused by a call to `printModel()` here: https://github.com/casbin/node-casbin/blob/master/src/model/model.ts#L158

This is especially noticeable for a large number of policies.

Unfortunately, using `enableLog(false)` does not help, because the policies list traversal happe

[2020-09-14 15:56] nodece commented on #194
I submitted a patch: https://github.com/casbin/node-casbin/pull/195, could you review the PR?

[2020-09-15 04:55] murzatayev commented on #194
@nodece thanks, just checked, the bump is gone now.

[2020-09-15 04:55] #194 closed

[2020-09-15 12:12] hsluoyz opened #196 "Support domain pattern in Node-Casbin"
See: https://github.com/php-casbin/php-casbin/issues/55#issuecomment-691758398

[2020-09-25 11:57] ravikumarjs-foyernet opened #197 "Module parse failed: Unexpected token (158:32) with create-react-app"
getting this error working in react typescript application. Please fix it

Module parse failed: Unexpected token (158:32)
File was processed with these loaders:
 * ./node_modules/babel-loader/lib/index.js
You may need an additional loader to handle the result of these loaders.
|   async buildIncrementalRoleLinks(rm, op, sec, ptype, rules) {
|     if (sec === 'g') {

|     }
|   } // buildRoleLinks

[2020-09-25 13:04] hsluoyz commented on #197
@nodece @zhmushan

[2020-09-26 03:24] zhmushan commented on #197
Please provide a minimum recurrence

[2020-09-26 13:05] nodece commented on #197
Please add https://babeljs.io/docs/en/babel-plugin-proposal-optional-chaining babel plugin to your project.

[2020-09-28 03:38] ravikumarjs-foyernet commented on #197
not working...

[2020-09-29 08:29] ravikumarjs-foyernet commented on #197
https://babeljs.io/docs/en/babel-plugin-proposal-optional-chaining is working with our code, but not working with node-casbin.

[2020-09-29 11:36] hsluoyz commented on #197
@ravikumarjs-foyernet can you provide a minimized reproducible example as a GitHub repo?

[2020-09-29 12:34] ravikumarjs-foyernet commented on #197
https://github.com/ravikumarjs-foyernet/rbac.git

[2020-09-29 13:45] hsluoyz commented on #197
@zhmushan can you try this? https://github.com/ravikumarjs-foyernet/rbac

[2020-09-29 13:47] nodece commented on #197
@hsluoyz I'm working on it.

[2020-09-29 16:40] nodece commented on #197
I don't know why your project doesn't work. same code, my project is working.

The following is my command:

[code]

then add the following code to your project:
[code]

yarn start
[code]

[2020-09-29 18:29] ravikumarjs-foyernet commented on #197
Your code working fine.

**try this**
[code]
add your code then run `npm start`

[2020-09-30 14:06] ravikumarjs-foyernet commented on #197
Hi @nodece,

In your project remove the yarn.lock and node-modules then run `yarn` command.

run `yarn start`

then you will get this error
[code]

[2020-09-30 14:31] zhmushan commented on #197
@ravikumarjs-foyernet It should be that your nodejs version is too old, I have no problem using v12

[2020-09-30 14:46] ravikumarjs-foyernet commented on #197
@zhmushan my nodejs version is 12.18.4

[2020-09-30 15:03] ravikumarjs-foyernet commented on #197
@nodece any idea?

[2020-09-30 15:04] zhmushan commented on #197
@ravikumarjs-foyernet This is a bug in `cra`, a temporary solution:
[code]

[2020-09-30 15:46] ravikumarjs-foyernet commented on #197
@zhmushan not working

[2020-10-01 01:55] hsluoyz commented on #197
@zhmushan great. How to fix it in a permanent way then?

[2020-10-03 15:26] nodece commented on #197
@ravikumarjs-foyernet I found https://github.com/facebook/create-react-app/issues/8445#issuecomment-588545858 by google searching, the solution is fine.

[2020-10-04 04:50] nodece commented on #197
I created a issue in https://github.com/facebook/create-react-app/issues/9749.

[2020-10-06 21:34] ogabek96 commented on #193
Works without problem when working with file. Will try to check with Sequelize

[2020-10-06 22:15] ogabek96 commented on #193
Hello @apsnaidu,
I wasn't able to repeat this error:
I tried to run the code like you described and it works fine as expected.
Here is my code:

`const casbin = require('casbin');
const { SequelizeAdapter } = require('casbin-sequelize-adapter');

async function myFunction() {

    const a = await SequelizeAdapter.newAdapter({
        username: 'casbin',
        password: '123456',
        database

[2020-10-07 00:47] hsluoyz commented on #193
@apsnaidu any update?

[2020-10-07 14:35] nodece commented on #196
implemented by #199

[2020-10-07 14:35] #196 closed

[2020-10-11 14:36] nodece commented on #192
Closed: not active for too long.

[2020-10-11 14:36] #192 closed

[2020-10-11 14:37] nodece commented on #140
Closed: not active for too long.

[2020-10-11 14:37] nodece commented on #185
Closed: not active for too long.

[2020-10-11 14:37] #185 closed

[2020-10-11 14:37] nodece commented on #188
Closed: not active for too long.

[2020-10-11 14:37] #188 closed

[2020-10-11 15:48] hsluoyz commented on #140
@nodece I think for this issue it's our side that is not active..

[2020-10-12 00:13] somq commented on #140
I've finally used the rbac_with_resource_roles_model implementation @nodece because I wasn't sure of the RBAC with domain/tenant, just a confirmation or advice of an alternate way to solve this issue would still help!
Thanks for your time

[2020-10-12 07:10] hsluoyz commented on #140
Great!

[2020-10-12 07:10] #140 closed

[2020-10-12 12:17] dwang7 commented on #56
Can you explain why this isn't supported?

I created this model file and it seems to work fine.

`request_definition]
r = sub, dom, obj, act

[policy_definition]
p = sub, obj, act

[role_definition]
g = _, _, _

[policy_effect]
e = some(where (p.eft == allow))

[matchers]
m = g(r.sub, p.sub, r.dom) && r.obj == p.obj && r.act == p.act`

============================================================

[2020-10-12 14:02] nodece commented on #56
@dwang7  I apologize for my answer, you are right.

[2020-10-12 14:18] dwang7 commented on #56
@nodece

Thanks for the confirmation.

One question.  Is it possible to define a domain group and reference that domain group in the role?

ie:
[code]

how would I do this in casbin?

thanks!

[2020-10-12 15:04] nodece commented on #56
Awesome! You can do that, this is something I didn't expect 👍

[2020-10-12 15:20] dwang7 commented on #56
so you're saying its not possible to do this currently?

[2020-10-12 15:38] nodece commented on #56
I mean you can do that.

[2020-10-13 01:12] hsluoyz commented on #56
@dwang7 please raise a new GitHub issue for a new question.

[2020-10-13 17:02] ronycohen opened #201 "Basic try - The requested module 'casbin' does not provide an export named 'newEnforcer'"
Hi,
I'm just trying your lib, but I probably miss something.
I get an error like : SyntaxError: The requested module 'casbin' does not provide an export named 'newEnforcer'

node -v
v12.16.1
npm -v
6.13.4

**PACKAGE .JSON**

[code]

**INDEX.JS**

[code]

ERROR  :

[code]

[2020-10-14 01:08] hsluoyz commented on #201
@nodece @zhmushan

[2020-10-14 06:45] nodece commented on #201
@ronycohen  `import casbin from 'casbin';` is working.

[2020-10-14 06:45] #201 closed

[2020-10-24 14:12] waitingsong opened #202 "Can we target to ES2019 instead of ES6?"
tsconfig.json
[code]

nodejs's LTS is v12 now, which supports ES2019. Next week v14 will be LTS, which supports ES2020.

[2020-10-24 14:35] hsluoyz commented on #202
@nodece @zhmushan

[2020-10-24 14:36] hsluoyz commented on #202
@waitingsong what can we gain from updating Node.js version to ES2019?

[2020-10-24 14:38] zhmushan commented on #202
We have also provided a version of `esnext`. see https://github.com/casbin/node-casbin/blob/master/tsconfig.esm.json

[2020-10-25 13:56] hsluoyz commented on #193
Closed as stale.

[2020-10-25 13:56] #193 closed

[2020-10-26 13:10] #202 closed

[2020-10-26 14:47] nodece commented on #202
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/casbin/v/5.2.0)
- [GitHub release](https://github.com/casbin/node-casbin/releases/tag/v5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-28 11:31] karatekaneen opened #206 "Results for "RBAC with pattern" differ from Casbin editor"
Hi, I'm totally new at this and there's a high probability that I've just missed somehting basic to get this to work.
BUT, when I run the same model/policy in the [Casbin Editor](https://casbin.org/editor/) and node I get different results.

Versions used:
- casbin: 5.2.0
- typescript: 4.0.5
- node: 14

The model I used was the "RBAC with pattern" example from this repo:
<details><summary>Model</s

[2020-10-28 11:33] hsluoyz commented on #206
Please help on this issue, @zhmushan @stu01509

/cc @nodece

[2020-10-28 16:40] karatekaneen commented on #206
Spent some more time trying around and found that I experience the same error with the "rbac_with_domain_pattern" where I again used the example model and policy:

<details><summary>Model</summary>
<p>

[code]

</p>
</details>

<details><summary>Policy</summary>
<p>

[code]

</p>
</details>

I modified my check function to accept a domain as well:

[code]

And I added some tests (all of which retu

[2020-10-29 11:25] hsluoyz commented on #206
@stu01509 can you follow up this issue?

[2020-10-29 12:09] nodece commented on #206
@karatekaneen Thanks for your report!  One thing to note is `Custom Config` on Casbin Editor.

### Custom Config
[code]

Here we configure matching for `g`, you missed it. I will continue to improve the Casbin Editor!

Here is the test code for node-casbin: https://github.com/casbin/node-casbin/blob/master/test/model.test.ts#L304

[2020-10-29 12:43] karatekaneen commented on #206
Great! Then I'm pretty sure that there isn't any problem at all since I missed the custom config completely.

Maybe if I find the time I can add a PR with working code for the examples above?

Anyways, thanks for a great package and all the work!

[2020-10-29 12:45] nodece commented on #206
@karatekaneen  We welcome anyone to contribute!

[2020-10-29 12:46] #206 closed

[2020-10-29 13:10] hsluoyz commented on #166
Assigned to: stu01509

[2020-11-02 06:44] fish0373 opened #207 "Sequelize v6 compatibility: addPolicies & removePolicies problem"
My database has a row
row1. ['userA', 'product', 'read']
I want to run function
[code]
I think the result should be
row1. ['userA', 'product', 'read']
row2. ['userA', 'product', 'write']
or
[code]
I think the result should be
no rows.

They're all return false
and database is not been effect

Is it intentional?

[2020-11-02 12:20] hsluoyz commented on #207
@nodece

[2020-11-02 12:36] nodece commented on #207
@fish0373 Which adapter are you using?

[2020-11-02 12:47] fish0373 commented on #207
@nodece
I am using sequelize-adapter,
But its not support v6, your team is upgrading,
so, I copy sequelize-adapter source code to make it running.
Then, this problem is shown.
When you upgraded, I will change to use sequelize-adapter.

I'm not sure this problem has appear node-casbin or sequelize-adapter

[2020-11-02 12:55] fish0373 commented on #207
adapter.ts
[code]
casbinRule.ts
[code]

[2020-11-02 13:40] nodece commented on #207
@fish0373 It seems to be a bug of the `sequelize-adapter`.

[2020-11-12 23:11] cooked-sashimi opened #209 "[Question] Using Enforcer to filter for millions of objects"
## Configuration file:
[code]

The goal is to allow `user=alice` to have admin access all the capture A* and B1 which I have done via:

[code]

The goal is to allow this to scale up to millions of policies without latency issues so that I could do something like this to filter the data for `alice`

[code]

I was wondering if there is a better way to filter the data than what I have above as it doe

[2020-11-13 04:44] hsluoyz commented on #209
@nodece

[2020-11-24 10:40] fospitia opened #213 "[Feature] New DynamoDB adapter for NodeJS"
Hi.

I made a DynamoDB adapter for NodeJS, https://github.com/fospitia/casbin-dynamodb-adapter, this support Auto-Save.

You can add it to the adapter list, please.

Thank you

[2020-11-24 10:59] hsluoyz commented on #213
@fospitia thanks for this contribution! Can you make a PR to: https://github.com/casbin/casbin-website to update the adapter list?

[2020-11-24 11:05] fospitia commented on #213
@hsluoyz thanks, I will do it

[2020-11-26 10:12] abichinger opened #214 "function keyMatch3 does not match full string"
https://github.com/casbin/node-casbin/blob/5253b90d104882bd822416c549f2ceda759ccc8f/src/util/builtinOperators.ts#L91

This line is missing `^` and `$`

[2020-11-26 11:59] hsluoyz commented on #214
@nodece

[2020-11-27 01:29] hsluoyz commented on #214
@abichinger does Golang Casbin have the same behavior?

[2020-11-27 02:31] #214 closed

[2020-11-27 14:36] hsluoyz commented on #214
@nodece @abichinger  why is the Travis CI failing? https://travis-ci.org/github/casbin/node-casbin/jobs/746189398

![image](https://user-images.githubusercontent.com/3787410/100459733-ec59c800-3100-11eb-986b-c120c5a7613b.png)

[2020-11-27 15:03] nodece commented on #214
@hsluoyz the job has been restart.

[2020-11-27 15:27] hsluoyz commented on #214
I have restarted once, but it failed again.

Is it because the title of this PR doesn't follow semantic-PR?

[2020-11-27 19:37] abichinger commented on #214
[code]
I think the failure of the latest build was caused by the restart. (see https://github.com/ckeditor/ckeditor5/issues/7244)

The first build did not fail until the release stage.

[2020-11-29 04:44] nodece commented on #214
@abichinger thanks, I migrated from Travis to GitHub Actions, and it works fine.

[2020-11-30 05:40] ogabek96 commented on #128
I would like to contribute on adding oracledb adapter.Where I can check already done adapters Postgres, mysql etc. ?

[2020-11-30 06:22] hsluoyz commented on #128
@ogabek96 see: https://casbin.org/docs/en/adapters

[2020-12-01 12:18] inamvar opened #217 "RBAZ get list of roles for adomain"
I have set up "Role definition with domains tenants" model and it works well. I need to get the list of all roles in a domain. `getAllRoles()` returns all roles for all domains that is not what I need. I used `GetFilteredNamedPolicy("p",1, "myDomain")` but the result is not distinct for role name and the role names are repeated in it. is there a pretty way to get list of roles available in a speci

[2020-12-01 12:18] #217 closed

[2020-12-01 12:20] inamvar commented on #217
Sorry it was mistake I'm not in NodeJS environment. my question was in Golang.

[2020-12-16 09:17] hsluoyz commented on #209
@yyellowsun can you help answer this question?

[2020-12-16 15:28] nodece commented on #209
@cooked-sashimi It looks like you want to know what permissions `user=alice` has. You can call `getImplicitPermissionsForUser` to got that.

[2020-12-17 11:47] yyellowsun commented on #209
@cooked-sashimi  What is capture?
Maybe filteredAdapter is a better way from your description.

[2020-12-18 10:53] hsluoyz commented on #213
Done by: https://github.com/casbin/casbin-website/commit/5228217af718fbd09d1cef8630c90dff4356a398

[2020-12-18 10:53] #213 closed

[2020-12-19 10:34] hsluoyz commented on #40
Casbin.js is already finished its first version, see:

https://casbin.org/docs/en/frontend
https://github.com/casbin/node-casbin/blob/27005f85829f11193cb4ecfd14be5ed6e64ad63c/test/frontend.test.ts

[2020-12-19 10:34] #40 closed

[2020-12-21 06:23] #197 closed

[2021-01-02 23:25] dwang7 commented on #56
@nodece
@hsluoyz

adding domain_groups feature to pycasbin in a forked repo

https://github.com/dwang7/pycasbin/commit/c0d537dc8613146555fc03fa23b503b39260385e

[2021-01-03 01:35] hsluoyz commented on #56
@dwang7 great to see it! Can you explain how it works and even make a PR to the official repo?

[2021-01-03 21:55] dwang7 commented on #56
@hsluoyz

This is just an initial commit.  Wanted to get some feedback on my implementation.  Its not optimized for large data sets yet.

Basically, I've added a new ptype, d, which is domain_groups.

https://github.com/dwang7/pycasbin/blob/master/examples/rbac_with_domain_groups_model.conf
https://github.com/dwang7/pycasbin/blob/master/examples/rbac_with_domain_groups_policy.csv

When you add to

[2021-01-10 02:06] hsluoyz commented on #207
@fish0373

We can try latest sequelize-typescript 2.0.0-beta.1 (a month ago) with sequelize >=6.2, see: https://github.com/RobinBuschmann/sequelize-typescript/pull/856

![image](https://user-images.githubusercontent.com/3787410/104112570-651c8880-532b-11eb-8037-1e46d87b0ff5.png)

[2021-01-12 15:57] fgblomqvist commented on #163
Does node-casbin work in the browser? Or does it rely on node-specific APIs?

[2021-01-12 16:09] hsluoyz commented on #163
@fgblomqvist yes, we use Node-Casbin to power the online editor: https://github.com/casbin/casbin-editor

[2021-01-12 16:10] #163 closed

[2021-01-14 22:01] fgblomqvist commented on #152
I'm also interested in this and curious about the decision-making around this. I can understand that there's an overhead to maintaining both a sync and async API but without a sync API the workflow for Casbin in the browser becomes significantly more cumbersome. The most common usage would most likely be conditional rendering, but with frameworks like React, it's not as simple as just saying `awai

[2021-01-15 03:38] hsluoyz commented on #152
@fgblomqvist why not use: https://github.com/casbin/node-casbin/blob/master/src/syncedEnforcer.ts ?

[2021-01-15 03:54] fgblomqvist commented on #152
Because all of its methods are still async. It's not a synchronous enforcer, it's one that ensures that the operations are happening in a serialized fashion (using a murex).

[2021-01-15 04:21] hsluoyz commented on #152
@fgblomqvist what about add a new `SyncEnforcer` class to wrap all methods with sync API (like await and promise) ?

[2021-01-15 14:45] fgblomqvist opened #223 "Examples are incorrect/misguiding"
The node-casbin enforcer's `enforce` is async, yet you call it as if it was sync in both the readme of this project and the [example project linked](https://github.com/casbin-js/examples/blob/master/react/src/CasbinDemo.js).

It is not trivial to use an async enforcer together with React rendering, probably makes sense to not make it look simpler than it is.

[2021-01-15 14:46] fgblomqvist commented on #152
No unfortunately not. In JavaScript, once you use async/await every single caller and their callers will have to also be async. Which means that if you want a non-async API, every function you call needs to be non-async. Therefore, as I mentioned you'd need a RoleManager interface that's synchronous (like it used to be a little more than a year ago) and then support that. Once that gets done, you

[2021-01-15 14:53] fgblomqvist commented on #223
Sorry I don't understand why you moved this issue. The fact that node-casbin only has an async API and casbin.js using it incorrectly are 2 separate problems.

Secondly, I believe there is a bit of a knowledge barrier here. Perhaps @nodece will understand what the issue is. In the meantime, I'll refer to my response [here](https://github.com/casbin/node-casbin/issues/152#issuecomment-760983596).

[2021-01-15 15:48] georgiee commented on #152
I just wanted to give a perspective how we proceeded as our business needs did not magically disappear with the knowledge that casbin will not work as a sync library. I also see and respect the maintainers decision not to support real sync usage. We are currently not able to opensource our solution but we want to go that direction with our client. Until then this is maybe a motivation to build you

[2021-01-15 16:08] hsluoyz opened #224 "Support a full set of Sync API like enforcer.enforce()"
Some background: https://github.com/casbin/node-casbin/issues/152

As Node-Casbin not only targets for Node.js but also targets for browser, the current async API is not very friendly for browser use (like conditional rendering a React component).

So we need to prepare a full set of Sync API. This is an very important feature for Casbin to be used smoothly in browser.

[2021-01-15 16:18] fgblomqvist commented on #152
@georgiee Wow thank you for the detailed write-up, sounds like quite the adventure! I do feel quite motivated to do something about the situation, but I'm leaning towards aiding Casbin in offering support for a sync API alongside their async API. Doing that in the proper fashion should be a fun little project that I hope to have time for sometime in the near future. Unfortunately we don't have the

[2021-01-15 16:27] hsluoyz commented on #224
@divy9881 @zhmushan

[2021-01-17 13:24] nodece commented on #224
I don't quite agree with you, now most frameworks support asynchrony very well.

React: https://codesandbox.io/s/quirky-panini-58lo2?file=/src/App.tsx

[2021-01-17 13:51] hsluoyz commented on #224
Adding @fgblomqvist to the thread, in case I'm misconveying something.

[2021-01-17 14:24] fgblomqvist commented on #224
There's no doubt that the support is there, but I think what you missed is the part about using it smoothly. In your example, you need:

1. To declare a new hook for every single permission you want to check.
2. To wrap a component that checks permissions in a suspense boundary

Both of those are acceptable if you actually are dealing with async resources (like an API), since there's no way around

[2021-01-17 15:01] hsluoyz commented on #224
@fgblomqvist I'm not a React expert either. But is it possible to solve the current problem if we wrap the Node-Casbin into a component like `react-casbin`?

[2021-01-17 15:47] fgblomqvist commented on #224
Building e.g. a conditional-render component around node-casbin would solve/simplify a part of the problem, but there are still more complex rendering patterns (e.g. conditional classes) where a component wouldn't help.

If supporting a sync API would be a definite no then I think the best approach would be to have a hook, such as `usePermissions` that would take e.g. the subject and a list of res

[2021-01-17 15:54] hsluoyz commented on #224
@fgblomqvist I'm just considering all options. Sync API is still one of our top choices.

BTW, could you give some comments for: https://github.com/casbin/node-casbin/pull/226#issuecomment-761828296 ?

[2021-01-21 08:41] shengzhou1216 opened #228 "The behavior of Get started documents is not consistent with the Casbin-editor"
my code:
[code]

casbin/rbac_model.conf
[code]

rbac_policy.csv
[code]

output:
[code]

expected output:
[code]

The above output dose not match the [Casbin-editor's](https://casbin.org/en/editor) (Model: RBAC with resource rules) result.

Is there something wrong with my code ?

[2021-01-21 14:06] hsluoyz commented on #228
@shengzhou1216 use `enforcer.enforce()` instead of `enforcer.hasPermissionForUser()`.

[2021-01-21 14:06] #228 closed

[2021-01-22 01:41] shengzhou1216 commented on #228
@hsluoyz
Thanks, it's working!.BTW,where can i found the relevant documentation? Nethier of these documents ([Management API](https://casbin.org/docs/en/management-api) and [RBAC API](https://casbin.org/docs/en/rbac-api)) metions about the `enforce` method.

[2021-01-22 02:01] hsluoyz commented on #228
@shengzhou1216 here: https://casbin.org/docs/en/get-started#check-permissions

[2021-01-22 07:56] hsluoyz commented on #209
Moved conversation to: https://github.com/casbin/casbin/issues/617

[2021-01-22 07:56] #209 closed

[2021-01-22 08:01] hsluoyz opened #229 "Add UpdatableAdapter interface to Node-Casbin"
UpdatableAdapter inteface and `UpdatePolicy()` is introduced by this PR: https://github.com/casbin/casbin/pull/592

[2021-01-22 08:06] hsluoyz commented on #229
@17bit

[2021-01-28 05:19] hsluoyz opened #231 "The semantic-release is broken"
Our CI is GitHub Actions: https://github.com/casbin/node-casbin/actions

Recently we merged a PR: https://github.com/casbin/node-casbin/pull/230

But the new release on both NPM & Github Releases is never coming out, like the previous one: https://github.com/casbin/node-casbin/releases/tag/v5.2.3

We need to fix it.

[2021-01-28 09:47] nodece commented on #231
This task status is `Waiting for pending jobs` in Github Actions, but I cannot cancel this task.

[2021-01-28 10:26] hsluoyz commented on #231
@nodece that job is just dead. We can just ignore it.

I merged a new PR: https://github.com/casbin/node-casbin/pull/232, but encountered a new issue about semantic-release: https://github.com/casbin/node-casbin/runs/1783266710?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/106124682-4d9c2700-6196-11eb-91e7-f5fbf4f1c91d.png)

[2021-01-28 10:26] hsluoyz commented on #231
@17bit plz also take a look.

[2021-01-28 11:13] hsluoyz commented on #231
Issue proposed to the expression-eval community: https://github.com/donmccurdy/expression-eval/issues/49

[2021-01-29 02:57] hsluoyz commented on #231
After some investigation, it seems that our auto-release was stopped after v5.2.3: https://github.com/casbin/node-casbin/releases/tag/v5.2.3 , right after this PR merging: https://github.com/casbin/node-casbin/pull/222 . So I doubt updating expression-eval to v4.0.0 causes this bug.

The expression-eval community (https://github.com/donmccurdy/expression-eval/issues/49) doesn't know the cause eith

[2021-01-29 05:03] #231 closed

[2021-02-03 08:19] Zxilly commented on #229
I would like to tryout this issue.

[2021-02-03 12:29] hsluoyz commented on #229
@Zxilly OK for me. But what surprised me is that you also know how to write Node.js code?

[2021-02-03 12:32] Zxilly commented on #229
I really `know` lots of programming languages....

[2021-02-03 12:34] hsluoyz commented on #229
Awesome!

[2021-02-06 07:48] hsluoyz opened #235 "Rename the built-in BatchFileAdapter class back to FileAdapter"
See my comments here: https://github.com/casbin/node-casbin/pull/234#discussion_r571341592

I think first we need correctify the BatchFileAdapter code: rename BatchFileAdapter back to FileAdapter. From now on, FileAdapter will always be called FileAdapter, no matter how many interfaces it has implemented.

https://github.com/casbin/node-casbin/blob/27005f85829f11193cb4ecfd14be5ed6e64ad63c/src/pers

[2021-02-06 07:49] Zxilly commented on #235
So we should move the batch functions and update function to FileAdapter?

[2021-02-06 07:50] hsluoyz commented on #235
@Zxilly see Go code.

[2021-02-06 09:45] nodece commented on #235
@hsluoyz @Zxilly I don't recommend that rename the BatchFileAdapter to FileAdapter, some users may be using this, so we can copy BatchFileAdapter code to FileAdapter, and add `@deprecated` to BatchFileAdapter.

[2021-02-06 10:24] hsluoyz commented on #235
@nodece, @Zxilly, good idea, and it can be better:

We keep `BatchFileAdapter` but it's only an alias to `FileAdapter`, maybe by inheriting `FileAdapter` without any new functions. So we don't need to copy code. And we will add `@deprecated` to BatchFileAdapter. So we will not break backward compatibility.

[2021-02-06 10:30] Zxilly commented on #235
@nodece @hsluoyz have implemented, plz review
https://github.com/casbin/node-casbin/pull/236/commits/915eff37f7a35d57e19c32145ab5e9c3e59a8459

[2021-02-06 14:13] #235 closed

[2021-02-06 16:10] #229 closed

[2021-02-16 12:59] EladProject opened #238 "Trim inputs when adding policy/role"
I'm using Casbin with Postgres.
I encountered a situation where I use addPolicy/addRoleForUser with parameters that have a whitespace prefix.
The problem is that when the policy is read, you do trim the values so upon next insertion of the same values (duplicate), Casbin
doesn't identify that it's duplicate, resulting in duplicate lines in the DB.

[2021-02-16 13:03] hsluoyz commented on #238
@EladProject can you show the trim code? BTW, it's better to trim the spaces by yourself before interacting with Casbin.

[2021-02-16 13:09] EladProject commented on #238
@hsluoyz This is what I do as a workaround, but I think consistency is important.
I didn't look at the Casbin code. My findings are empirical:
1) Callins hasPolicy/hasRoleForUser came out false for duplicates
2) Looking at the DB entries I can see the whitespace prefix
3) Calling getPolicy and printing it shows no whitespaces

My current code looks like this:
[code]
I use sequelize adaptor

[2021-02-16 13:11] EladProject commented on #238
Also,
According to the docs, addPolicy/addRoleForUser should identify duplicates on it's own and return false in this case, but for me it's no working.

[2021-02-17 04:57] HridayK97 opened #239 "Experiencing slow performance with the enforcer with a large amount of policies."
I'm using an RBAC Model:

[code]

When I'm enforcing with over 20k policies, it takes around 2000 to 4000 ms. Is this expected? Are there any potential issues with the matcher function I'm using?

[2021-02-17 06:48] hsluoyz commented on #239
@HridayK97 please see: https://casbin.org/docs/en/performance , post some example policy rules and example enforcement code if problem still exists.

[2021-02-18 13:37] hariprasadiit opened #240 "`Parse content error` when trying multiline model"
Hello,

Thank you all for awesome library.

I've been trying to get multiline matchers model with functions working without success.

here is my model

[code]

Looking at the code, [config.ts#145](https://github.com/casbin/node-casbin/blob/3e1fa9d1c3db7f2f6f2d439d170de41487ee827c/src/config.ts#L145) is where error is being thrown.

https://github.com/casbin/node-casbin/blob/3e1fa9d1c3db7f2f6f2d439

[2021-02-18 14:04] hsluoyz commented on #240
@Zxilly

[2021-02-18 15:30] Zxilly commented on #240
Could you provide more log?

[2021-02-18 15:48] hsluoyz commented on #240
@Zxilly I think this is because Node-Casbin doesn't support multi-line matcher. It's supported by Go: https://github.com/casbin/casbin/issues/105#issuecomment-413397054

So we need to port this feature to Node.js

[2021-02-18 16:03] Zxilly commented on #240
@hsluoyz got it,will working on this

[2021-02-18 16:38] hariprasadiit commented on #240
#60 this PR seems to have added multiline matcher support but test cases only include lines with `=`

[2021-02-18 17:18] Zxilly commented on #240
According to your reply,I add a testcase like
[code]
with ini
[code]
and seems it works fine.
Could you please help to reproduce this?

[2021-02-18 18:08] hariprasadiit commented on #240
Please try this https://repl.it/@hariprasadiit/casbin-multiline

[2021-02-19 13:25] #240 closed

[2021-02-24 14:58] hsluoyz commented on #239
Closed as stale.

[2021-02-24 14:58] #239 closed

[2021-03-03 07:02] Zxilly commented on #238
working on this

[2021-03-03 07:04] hsluoyz commented on #238
@closetool plz see if this issue also exsits for Go Casbin.

[2021-03-03 07:39] closetool commented on #238
![image](https://user-images.githubusercontent.com/52988625/109770005-f88c7e80-7c35-11eb-9c9d-a054e9d4e84c.png)
![image](https://user-images.githubusercontent.com/52988625/109770124-1d80f180-7c36-11eb-8485-bb6b52ef27a8.png)
this feature depends on adapter implementation, if the `persist.LoadPolicyLine` is used in method `LoadPolicy` (like Gorm Adapter), then there is no white space prefix at runti

[2021-03-03 08:53] nodece commented on #238
@closetool Have you started coding yet? I have solved this problem yesterday, but I need to add unit tests for this.

[2021-03-03 08:56] closetool commented on #238
@nodece no, I just checked it

[2021-03-03 14:23] nodece commented on #238
@EladProject @hsluoyz @closetool I made a [PR](https://github.com/casbin/node-casbin/pull/242), could you review this PR?

[2021-03-04 08:46] #238 closed

[2021-03-12 16:06] hsluoyz opened #243 "Fix the depend alerts"
![image](https://user-images.githubusercontent.com/3787410/110966079-e1fdca00-838f-11eb-86eb-90d01ea617d5.png)

[2021-03-12 16:06] hsluoyz commented on #243
@Zxilly

[2021-03-12 16:37] Zxilly commented on #243
@hsluoyz plz use dependent bot to create a PR. I'll later review it.

[2021-03-12 16:41] hsluoyz commented on #243
@Zxilly it can't be auto-done. We need to manually update some packages. You can view: https://github.com/casbin/node-casbin/security/dependabot

[2021-03-13 10:07] #243 closed

[2021-03-14 05:16] sourabhmandal opened #245 "Use require syntax for docs as an example instead of import"
I would like to point out that while following the examples I faced following error : -
In server.js
`import { newEnforcer } from 'casbin';`
`const enforcer = await newEnforcer('basic_model.conf', 'basic_policy.csv');`

![image](https://user-images.githubusercontent.com/39632788/111057899-c9390580-84b0-11eb-82c8-4cd3dfff08c4.png)
This is because nodejs natively supports `require syntax` and the in

[2021-03-14 05:18] sourabhmandal commented on #245
This syntax works in nodeJS

![image](https://user-images.githubusercontent.com/39632788/111058183-b293ae00-84b2-11eb-8af3-71b974856dcf.png)

Do I make changes to Readme.md and make PR for same...

[2021-03-14 05:21] hsluoyz commented on #245
@Zxilly

[2021-03-14 07:30] Zxilly commented on #245
Maybe `require` should be added as an additional option.

[2021-03-14 07:42] hsluoyz commented on #245
@sourabhmandal we can just remove async:

[code]

[2021-03-14 07:54] hsluoyz commented on #245
@Zxilly what is `import { newEnforcer } from 'casbin';` for? Browser? We should also provide the code for Node.js definitely.

[2021-03-14 07:57] Zxilly commented on #245
@hsluoyz In fact, I believe it should work as expected. I'm resolving problem.

[2021-03-14 12:03] sourabhmandal commented on #245
`import { newEnforcer } from 'casbin';` works for browser like in reactJs and other front end libraries. NodeJS has also adding support for `import` syntax. for that we need to wrap newEnforcer into a module or we can just use require syntax for Nodejs example.

[2021-03-14 12:14] sourabhmandal commented on #245
@Zxilly I would suggest we stick to **require syntax only** since it would be less confusing for beginners. (People can just copy the code). And It makes sense since this DOC this specifically for NodeJS.

[2021-03-14 12:20] Zxilly commented on #245
@sourabhmandal In my opinion, this example is just a short snippet. They are designed as reference, but not production code.

[2021-03-14 12:29] sourabhmandal commented on #245
@Zxilly Agreed. But the purpose of doc should be to provide good code snippet that people can follow easily.

[2021-03-14 13:27] hsluoyz commented on #245
Fixed by: https://github.com/casbin/node-casbin/commit/fe3f10f58ce60eb30d2952a0d9d32ebee377dcb6

[2021-03-14 13:27] #245 closed

[2021-03-17 05:50] paul4156 opened #248 "[Bug] priority_policy_explicit does not respect priority"
**Describe the bug**
priority_policy_explicit is still positional, not respecting priority.

**To Reproduce**
Steps to reproduce the behavior:
1. Use nodejs
2. Use example files for explicit priority: `examples/priority_model_explicit.conf` and `examples/priority_policy_explicit.csv `
2. Run script:
[code]
3. Got true
4. Swap line 1-4 and line 7-9 in `priority_policy_explicit.csv`:

[code]
5. Run

[2021-03-17 07:16] hsluoyz commented on #248
@Zxilly

[2021-03-17 09:52] Zxilly commented on #248
working on this

[2021-03-17 11:04] Zxilly commented on #248
Currently pycasbin didn't supoort explicit priority enforce. I'll implement it.

[2021-03-23 11:46] #248 closed

[2021-03-30 04:54] #128 closed

[2021-03-30 15:40] PrashubhAtri commented on #207
Can I work on this issue @hsluoyz ?

[2021-03-30 15:41] hsluoyz commented on #207
@PrashubhAtri plz go ahead!

[2021-03-30 16:34] PrashubhAtri commented on #207
Ok

[2021-03-30 22:41] Yash-g17 commented on #207
@nodece I have made the changes mentioned in this comment , @fish0373 can you please tell me how to recreate this error on my local machine so that I can check if this fixed it.

[2021-03-31 00:25] hsluoyz commented on #207
@Yash-g17 @PrashubhAtri please resolve: https://github.com/node-casbin/sequelize-adapter/issues/34 first

[2021-04-04 07:13] Yash-g17 commented on #207
@hsluoyz @nodece resolved the [issue mentioned above](https://github.com/node-casbin/sequelize-adapter/issues/34) ,
Working on this one.

[2021-04-04 07:35] hsluoyz commented on #207
@Yash-g17 not yet. See: https://github.com/node-casbin/sequelize-adapter/pull/39#issuecomment-812986250

[2021-04-04 08:38] Yash-g17 commented on #207
@hsluoyz @nodece  done

[2021-04-04 09:27] hsluoyz commented on #207
@fish0373 Sequelize v6 is supported in latest casbin-sequelize-adapter v2.2.0: https://www.npmjs.com/package/casbin-sequelize-adapter/v/2.2.0

Plz try again.

[2021-04-06 11:48] EladProject opened #252 "getFilteredPolicy returns different results after savePolicy"
Hi,

I'm using with Sequelize adapter and Postgres.
My code adds/removes policies and then does the following:

[code]

I get different values for p1 and p2.
I thought savePolicy only writes back to the DB.
What am I missing?

[2021-04-06 13:10] hsluoyz commented on #252
@Zxilly

[2021-04-06 13:33] Zxilly commented on #252
got it, working on this tomorroe

[2021-04-06 15:53] Zxilly commented on #252
![image](https://user-images.githubusercontent.com/31370133/113739982-e325db00-9732-11eb-953d-4af0efdb4b9c.png)
@EladProject I failed to reproduce your problem with default FileAdapter.
Inside the enforcer, `savePolicy()` just call the function provided by adapter.
https://github.com/casbin/node-casbin/blob/b8d9c978e19300c2982a4fdcc313abbcf7aa891e/src/coreEnforcer.ts#L227-L239
So, plz produce more

[2021-04-06 16:50] EladProject commented on #252
@Zxilly
1) I'm using Postgres DB with "casbin-sequelize-adapter": "^2.1.0",
2) This test doesn't reflect the issue because there are no policy additions involved (without save).

    The scenario in which I encounter the issue is:
    a) Delete some policies
    b) savePolicy (not sure why this is needed, but without it the behavior is even stranger)
    c) Add some policies
    d) p1 = await enfo

[2021-04-07 05:03] Cronus1007 commented on #130
@nodece Shall I implement this one.

[2021-04-08 12:26] hsluoyz commented on #252
@EladProject plz provide a minimized fully-reproducible example, better a github repo.

[2021-04-09 18:56] HridayK97 commented on #147
@hsluoyz

Piggybacking on this since it is semi-related. Trying to get a better understanding of how casbin performs when using ACL. I'm running in a serverless environment with AWS Lambda, so I can't have the casbin enforcer loaded and always running constantly. So I have to retrieve a filtered policy set from my database (Will do this with SQL) and then initialize and enforce casbin each request

[2021-04-10 01:12] hsluoyz commented on #147
@HridayK97 how did you do `iterating through the policy list and performing that comparison check myself` ? Can you give some code?

[2021-04-10 10:49] dweep612 commented on #129
Can I work on this?

[2021-04-10 11:06] hsluoyz commented on #129
@dweep612

TODO:

1. https://github.com/node-casbin/blitz-authz
2. https://github.com/node-casbin/meteor-authz
3. https://github.com/node-casbin/nest-authz

[2021-04-10 11:33] dweep612 commented on #129
Ok @hsluoyz, I will.

[2021-04-13 06:41] EladProject commented on #252
Doesn't reproduce for me on a scaled-down version. Possibly a sync issue in my code. Closing for now.

[2021-04-13 06:41] #252 closed

[2021-04-13 06:42] EladProject commented on #252
Doesn't reproduce for me on a scaled-down version.
Possibly a sync issue in my code.
Closing for now

[2021-04-14 08:09] Anthony-Michel opened #254 "casbinJsGetPermissionForUser is not returning user permission"
Hi, I'm using casbin 5.6.1 and wanted to use the function `casbinJsGetPermissionForUser` to retrieve the list of permissions associated to a user on request, but it returns only a string representation of the model.

The code doesn't seem to use the user passed in argument.

I also tried to use `await enforcer.getImplicitPermissionsForUser(user);` but it returns empty

this is my model

[code]

an

[2021-04-14 08:31] Anthony-Michel commented on #254
Ok actually scratch the above, i do get the policies in the response, issue is that it doesn't take into account the domain and role of the user.

Here is the response for `User2`

[code]

[2021-04-14 08:42] hsluoyz commented on #254
@Zxilly

[2021-04-14 09:08] Anthony-Michel commented on #254
Ok so for
`How can i get the implicit list of roles of my users ?` this is actually working now that i saw i can pass the domain too `enforcer.getImplicitRolesForUser(user, domain);`
but if i'm not mistaking `getImplicitPermissionsForUser` does not have a second parameter for domain on nodejs implementation

[2021-04-15 01:55] Zxilly commented on #254
Hello, I'm maintainer of casbin.js.
For now,casbin.js did exactly same thing with node-casbin. You can use node-casbin.

[2021-04-15 04:22] Anthony-Michel commented on #254
hi @Zxilly thanks for you answer.
My issue is actually that `casbinJsGetPermissionForUser` cannot take my `domain` to filter the permissions returned.
So it is going to mostly returns all permissions all the time.
I would need it to either take a domain in parameter and filter the result based on this domain, or to add a domain dimension n the result so that i could filter it myself after.

Using

[2021-04-15 05:32] Zxilly commented on #254
Well, this is a historical legacy problem.
As for now, `casbinJsGetPermissionForUser` just sent the whole model and all policies to frontend without any preprocess.
Its name was from the original design of casbin.js. However, the author of that design failed to implement ABAC. So this draft is abandoned and the name of this function is actually wrong.
A refactoring of casbin.js is already being pl

[2021-04-15 08:27] Anthony-Michel commented on #254
@Zxilly good to know thanks, the name is indeed very confusing.
Any resource i can check on what is planned for the refactoring and what is the deadline for it ?

Moreover, i still have the issue that the actual `getImplicitPermissionsForUser` casbin function also doesn't work with my use case as it is not able to handle by `g2` group.
Anyone has any idea if that can be fixed or how i could adapt

[2021-04-15 09:14] Zxilly commented on #254
I will try to resolve problem about `getImplicitPermissionsForUser`.
Refactoring of casbin.js is a long-term task, it may complete before 2021 Sept. I'm not sure about that.

[2021-04-16 05:39] #207 closed

[2021-04-19 10:01] nguyenpc commented on #217
Hi guys,
Looking for the same one.
Is there any similar function in NodeJS Lib?

Thank you.

[2021-04-20 08:01] EladProject opened #255 "Using wildcards for domain"
Hi,

I have a situation where certain roles (meant for grouping a specific kind of resources) are domain-independent.
So I need to mix domain roles with non-domain roles.

I'd like to use a wildcard in the domain like so:
[code]

and have the matcher allow the policies of operation_role_GET_BOOKS for USER_ID_2

But I can't get it to work.
If I use:
[code]
it's working. But It's not what I need.

(

[2021-04-20 08:42] hsluoyz commented on #255
@EladProject can you check if it has the same result on https://casbin.org/en/editor ? It is based on Node-Casbin.

Also post your model, policy, requests and expected result here.

[2021-04-20 08:56] hsluoyz commented on #254
@Anthony-Michel can you retrieve the complete model and all policy rules from backend to frontend, then use Node-Casbin at frontend JS to call all Casbin functions?

[2021-04-20 09:30] EladProject commented on #255
Yes, I tried it in the editor.

Model:
[code]

Policy:
[code]

This my request:
[code]

[2021-04-20 11:01] hsluoyz commented on #255
@Zxilly

[2021-04-20 11:02] Zxilly commented on #255
working on this

[2021-04-21 08:27] Pyav123 opened #256 "Add EnforceEx() API to Node-Casbin"
For ABAC mode suppose If I have multiple policy rules, how can I check which condition failed and returned false

e.g consider my policy contain below rules

[code]

My model configuration is

[code]

Below are my request parameters

[code]

so this returns me as false , so for this given scenario I want to show reason as because of which policy rule my request is denied, is there any API for node

[2021-04-21 09:00] hsluoyz commented on #256
@Pyav123 see: https://casbin.org/docs/en/management-api#enforceex

[2021-04-21 09:28] Pyav123 commented on #256
@hsluoyz This is API is not available in nodejs, syntax is only available for go,php and python

[2021-04-21 09:33] Pyav123 commented on #256
@hsluoyz Is there any other way to achieve this?

[2021-04-21 13:01] hsluoyz commented on #256
@Zxilly plz add this API to Node-Casbin

[2021-04-21 14:23] Zxilly commented on #256
working on this

[2021-04-22 11:10] harveyappleton opened #257 "Extract file handling out (as a plugin?) to enable casbin to be used on React Native"
Hey,

firstly thanks for this awesome library!

I noticed that the [frontend casbin library](https://github.com/casbin/casbin.js) uses this under-the-hood, so I'm using this library on both microservice and Frontend.

However, I'd love to be able to use this library on React Native - which would work, but because the model loading from file uses the `fs` library, I can't.

How likely/possible woul

[2021-04-22 14:04] wim-web opened #261 "GFunction doesn't work well on website editor"
I used the same model, policy, and request, but the results were different between the website editor and local code.

## on website

![スクリーンショット 2021-04-22 22 52 01](https://user-images.githubusercontent.com/45655999/115726538-c5f13d80-a3bd-11eb-840f-853a7dae89d4.png)

## on local code

model.conf

[code]

policy.csv

[code]

main.go

[code]

go.mod

[code]

[2021-04-22 14:34] hsluoyz commented on #257
@harveyappleton I think node-casbin can be used at frontend, see: https://github.com/casbin/casbin-editor . And it also works for React: https://github.com/casbin-js/react-authz

Can you explain why it doesn't work as the same way in React Native?

[2021-04-22 14:48] Zxilly commented on #257
@harveyappleton Have you try API `casbin.newModelFromString()`? You can later init Enforcer with the model.
I think this can help.

[2021-04-22 16:54] harveyappleton commented on #257
The ideal would be if the loading the model (or anything) from a file could be abstracted out to an adapter or plugin - or something, which means that the dependency on Node's `fs` can be taken out of the main library, that would mean that a) the package is smaller and b) can be used on mobile (React Native)

[2021-04-22 17:07] Zxilly commented on #257
What you ask for is the original design of casbin.js.
Refactoring of casbin.js has been planned.

[2021-04-22 19:10] willpercey-gb commented on #257
Is there a branch open that would allow us to contribute towards refactoring intended to allow the use of this in React Native?

[2021-04-23 00:50] Zxilly commented on #257
@willpercey-gb Thank you for your interest in this. This task has not started yet. We will let you know when the project start.

[2021-04-23 08:34] wim-web opened #258 "GFunction doesn't work well on website editor"
I used the same model, policy, and request, but the results were different between the website editor and local code.

## on website

![スクリーンショット 2021-04-22 22 52 01](https://user-images.githubusercontent.com/45655999/115726538-c5f13d80-a3bd-11eb-840f-853a7dae89d4.png)

## on local code

model.conf

[code]

policy.csv

[code]

main.go

[code]

go.mod

[code]

[2021-04-23 09:56] hsluoyz commented on #257
@harveyappleton I mean you can see how Casbin-editor works. It uses Node-Casbin and it doesn't use file and it's frontend (web).

- https://github.com/casbin/casbin-editor
- https://casbin.org/casbin-editor/

[2021-04-23 11:03] harveyappleton commented on #257
Hey @hsluoyz - yeh as mentioned in first post, I'm actually using Casbin on a front end web app and it works great! It's just that it won't work on React Native (because of the mentioned `fs` dependency).

Would be cool if we could make Casbin fully isomorphic across Server (node), Frontend (web) and Mobile (react native) - rather than having a separate frontend Casbin.Js ? Would that be feasible?

[2021-04-26 01:09] Anthony-Michel commented on #254
@hsluoyz i technically probably can, but the way it's going to be used is that each domain represent a specific object created by 1 of my users on which he grant permissions to his colleagues.
the number of policies is going to grow exponentially and are highly dynamic, so it doesn't seem great to have to send on every requests to Front End the entire list of policies.
Plus there is some privacy a

[2021-04-27 15:33] hsluoyz commented on #257
@harveyappleton I think the idea about separating fs related code from Node-Casbin is good. Your contribution will be welcome. But I'm not familiar with React-Native. Can you elaborate more on the next steps to do this?

I also want opinions from @nodece @Sefriol @Zxilly

[2021-04-27 18:52] harveyappleton commented on #257
@hsluoyz sure - I mean, if we extract out the `fs` package from Node-Casbin, it'll just really be Casbin.js by that point - usable by server, frontend and mobile - so almost no need for 2 different packages anymore. Let people handle their own way of storing the policy/model (eg cookies, local storage, whatever). 1 js package = easier to maintain.

To make it React Native friendly, we'd certainly

[2021-04-27 22:35] Sefriol commented on #257
Is there any specific reason why loading a model / policy from a file is necessary? I personally removed the file versions from our backend and moved the model definition into javascript.

I think creating model adapters might be a good idea. That way model could be offloaded to database for example. And having the model in a file would still be a possibility.

At the same time though, this might

[2021-04-28 01:12] hsluoyz commented on #257
@harveyappleton @Sefriol what about making a small change at first:

Move Node-Casbin's built-in file adapter into a separated repo and package, just like how other DBs adapter do. In other languages like Go, Java, we usually make file adapter built-in but this is not mandatory.

Then the new Node-Casbin without file adapter code can be used in React-Native I think. Does it work for you?

[2021-04-28 05:22] Zxilly commented on #257
@hsluoyz plz make a new repo for file-adapter, I will work on this.

[2021-04-28 06:37] hsluoyz commented on #257
@Zxilly https://github.com/node-casbin/file-adapter

[2021-04-28 08:37] Sefriol commented on #257
These files can quite easily be converted to plain javascript. However, I think these files should be a submodule repo that is common for all casbin projects. That way we have similar test cases (models and policies) for all casbin language versions and keeping them up to date is much easier.

[2021-04-28 09:44] Pyav123 commented on #256
Hello @Zxilly thank you for adding the API , simultaneously I also tried to implement that looking at go code  and it involves below logic  in casbin/lib/cjs/coreEnforcer.js **single file** inside  *privateEnforce

1) Defined one variable to store index e.g.pIndex
2) once I get result as true, assign that current index to pIndex
3) now print the policy which is as pIndex

snippet looks like this ,

[2021-04-28 09:55] Zxilly commented on #256
@Pyav123 My implement was inspired by pycasbin. While working on that, I noticed that the performance of the current implementation in golang-casbin can be improved. So I'm working on that.
I will return to finish this task after the optimization is complete.

[2021-04-28 10:04] Pyav123 commented on #256
Hey @Zxilly no worries, my just concern is, if I can achieve the same result by changing code inside  coreEnforcer just single file , then am I missing anything which isn't affecting my end result but might  impact on other parts ? If yes then what are they  and how can I find out that whatever I have done is right or not ? As for first time I am adding some feature to already published node modul

[2021-04-28 10:07] Zxilly commented on #256
@Pyav123 It's ok. If you just want to implement enforceEx(), there's no need to modify effector.

[2021-04-28 10:07] Zxilly commented on #256
@Pyav123 Could you please make a PR to submit your patch?

[2021-04-28 10:09] Pyav123 commented on #256
sure

[2021-04-28 10:27] hsluoyz commented on #257
@Sefriol using git-submodules is clever. But I'm afraid that because different languages have different progress on features. A feature update on a language may result in the submodule repo change. But I think it's worth a try. And it's a big problem to resolve.

Can anyone do this?

[2021-04-28 12:08] Sefriol commented on #257
First step could be just to include `1.` and `2.` in the repo. Submodules can be assigned with commit ID, so different progress in features could still be solved. However, the test cases for models and policies should not change often unless there are breaking changes on how models and policies are dealt with. However, this can still be solved with submodule commit/branch UID.

Everything that tra

[2021-04-28 17:05] nodece commented on #257
`node-casbin` includes `os` and `fs` module from Node. I tried to fix `fs` module by load `fs` and `react-native-fs` dynamically, but still failed, so I suggest to use the `rn-nodeify` to fix this error.

If we remove `fs` and `os` module from `node-casbin`, but I'm afraid it will affect a lot of users.

I think the process is huge if we split a common package from `node-casbin`, and make RN versi

[2021-04-28 19:28] Sefriol commented on #257
`rn-nodeify` looks really scary. I would rather keep `fs` as is than use it.

Same could be said for not doing the change: users won't use Casbin since it does not work on their platform. Adapters are already in use and I do not see file adapter any more special than any other adapter.

In my opinion, since `string` / in memory adapter is usable between all platforms, it should be the default one

[2021-04-28 20:12] harveyappleton commented on #257
Yeh I completely echo @Sefriol on all of the above. The bare `node-cabin` package should just implement model and policy loading from a string, and if you want to load it from a file, or a database, or any other source, that should be done with an adapter.

By removing `os` and `fs` from the package:
- smaller package/bundle size
- more compatible
- we're not importing stuff that won't be used
- m

[2021-04-29 07:23] nodece commented on #257
@hsluoyz  I agreed with @Sefriol and @harveyappleton idea.

The following is my integration steps:

1. create fs-adapter/model plugins in `node-casbin` project, we doesn't need to export this in `index.ts`, `node-casbin` only uses string/memory adapter/model for cross-platform compatible.
2. remove `ip` package from `node-casbin`, this package uses `os` module, we can rewrite this package.
3. `glo

[2021-04-29 15:31] Zxilly commented on #261
@nodece We have update `rm` to `rmMap`, now every group has its own role manager.
This is meant to use different match function on different role.

[2021-04-29 15:50] nodece commented on #261
@hsluoyz I checkout `go-casbin` to check this issue, we need to update casbin of other program language.

@Zxilly thanks for your contribution :)

[2021-04-30 12:49] hsluoyz commented on #257
@harveyappleton @Zxilly any opinions?

[2021-05-03 03:30] Zxilly commented on #257
@nodece Place fs adapter/model in onther repos will be helpful for reduce buu
ild bundle size, which is important for frontend usage.

[2021-05-03 08:00] nodece commented on #257
@Zxilly If we are a built-in fs adapter/model, it is easier for users to use.

[2021-05-03 08:25] hsluoyz commented on #257
@nodece we can add it via NPM dependency and expose the API if needed.

[2021-05-04 02:59] Anthony-Michel commented on #254
Any feedback on that @Zxilly ?
Meanwhile if you have any other proposition to work around it, i can have a look at it

[2021-05-04 09:17] lanmarti opened #269 "Groups are not isolated"
As mentioned in casbin/casbin#783 the online casbin-editor does not seem to isolate different group systems, grouping items in one group system will result in them being grouped in any group system. See the original issue for examples.
Additional example:
load the RBAC with resource roles example and add `g, data2, data1` to the policies.
[code]
[code]
[code]

[2021-05-05 20:24] harveyappleton commented on #257
@hsluoyz I understand that @nodece PR is a big breaking change and get that brings challenges, but if we don't do it, how else are we able to extract out all of the Node functionality to enable this to be a truly cross-platform library?